project inspiration from 
https://www.youtube.com/watch?v=4jaBKXDqg9U
    'How to Invest with Data Science' by Derek Banas
    
This file includes 
 - downloading the stock data from yfinance for the last 5 years
 - saving each stock's data to a csv
 - adding Daily / Cumulative Returns, Bollinger Bands, Moving Averages, Ichimoku calculations to the saved CSVs
    
Note: I want to change the stock data I use, will do so using the tutorial from: https://www.youtube.com/watch?v=xzBcPoxue-g
(I would like to increase the number of stocks used and use predominantly TSX stocks)

In [2]:
# import libraries

import numpy as np
import pandas as pd
import os
from os import listdir
from os.path import isfile, join

import datetime as dt
import time

import yfinance as yf

import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import cufflinks as cf
import plotly.express as px
import plotly.graph_objects as go
# make plotly work in jupyter notebook
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()
from plotly.subplots import make_subplots

import warnings
warnings.simplefilter('ignore')

In [3]:
PATH = "C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//"

# Start end date defaults
S_DATE = "2017-02-01"
E_DATE = "2022-12-06"
S_DATE_DT = pd.to_datetime(S_DATE)
E_DATE_DT = pd.to_datetime(E_DATE)

In [15]:
def get_column_from_csv(file, col_name):
    # Try to get the file and if it doesn't exist issue a warning
    try:
        df = pd.read_csv(file)
    except FileNotFoundError:
        print("File Doesn't Exist")
    else:
        return df[col_name]
    
tickers = get_column_from_csv("Wilshire-5000-Stocks.csv", "Ticker")
print(len(tickers))

3481

In [14]:
# save stock data to a csv

def save_to_csv_from_yahoo(folder, ticker):
    '''Function that gets a dataframe by providing a ticker and starting date'''
    stock = yf.Ticker(ticker)
    
    try:
        print("Get Data for : ", ticker)
        # Get historical closing price data
        df = stock.history(period="5y")
        display(df.head())
        # Wait 2 seconds
#         time.sleep(2)
        
        # Remove the period for saving the file name
        # Save data to a CSV file
        # File to save to 
        the_file = folder + ticker.replace(".", "_") + '.csv'
        print(the_file, " Saved")
        df.to_csv(the_file)
    except Exception as ex:
        print("Couldn't Get Data for :", ticker)

In [13]:
for x in range(0, 3481):
    save_to_csv_from_yahoo(PATH, tickers[x])
    print("Finished")

Get Data for :  A

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,57.423227,57.799045,56.979954,56.979954,1489600,0.0,0
2017-07-05,57.037775,57.866505,57.037775,57.596687,1639000,0.0,0
2017-07-06,57.297960,57.596689,56.922141,57.066689,2249500,0.0,0
2017-07-07,57.365407,57.885773,57.172682,57.461773,965400,0.0,0
2017-07-10,57.317235,57.866508,57.220872,57.683418,1146000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//A.csv  Saved
Finished
Get Data for :  AA

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,32.775674,34.128890,32.750801,33.850288,3114300,0.0,0
2017-07-05,33.999538,34.084117,33.402533,33.601536,4007000,0.0,0
2017-07-06,33.442334,35.203504,33.432382,33.720936,6220900,0.0,0
2017-07-07,33.830389,34.198542,33.099055,34.019440,3776600,0.0,0
2017-07-10,33.740840,34.278147,33.511988,33.969692,3037400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AA.csv  Saved
Finished
Get Data for :  AAL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,49.285442,49.770726,48.887510,48.906921,2906500,0.0,0
2017-07-05,48.955443,50.032774,48.703097,49.751308,5157500,0.0,0
2017-07-06,49.469847,51.032462,49.363084,50.518059,7021400,0.0,0
2017-07-07,50.760705,51.808920,50.644238,51.469219,6597000,0.0,0
2017-07-10,51.420681,51.595384,50.692755,51.110100,4600000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAL.csv  Saved
Finished
Get Data for :  AAME

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,3.658066,3.658066,3.658066,3.658066,600,0.0,0
2017-07-05,3.511744,3.638557,3.511744,3.638557,1200,0.0,0
2017-07-06,3.589783,3.658067,3.580028,3.609293,1000,0.0,0
2017-07-07,3.462970,3.658067,3.414195,3.511744,5000,0.0,0
2017-07-10,3.472724,3.511744,3.472724,3.511744,800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAME.csv  Saved
Finished
Get Data for :  AAN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-11-25,29.212593,30.186346,25.804457,25.804457,1200,0.0,0
2020-11-27,25.658394,25.658394,21.714693,21.714693,5200,0.0,0
2020-11-30,22.676763,22.883199,18.686323,18.686323,65100,0.0,0
2020-12-01,21.130445,21.529683,16.300628,17.926796,8782600,0.0,0
2020-12-02,17.654145,18.111810,16.806981,17.770996,2105400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAN.csv  Saved
Finished
Get Data for :  AAOI

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,62.410000,63.750000,61.040001,61.389999,970600,0,0
2017-07-05,61.650002,62.599998,60.200001,60.619999,1480200,0,0
2017-07-06,59.700001,62.817001,59.150002,61.470001,1540700,0,0
2017-07-07,62.119999,68.379997,62.119999,67.300003,3757800,0,0
2017-07-10,67.389999,69.050003,64.790001,68.639999,2811200,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAOI.csv  Saved
Finished
Get Data for :  AAON

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,35.740269,35.933460,35.498780,35.740269,53000,0.0,0
2017-07-05,35.691977,36.030059,35.547082,35.788570,85000,0.0,0
2017-07-06,35.547085,35.933468,35.305596,35.353893,82300,0.0,0
2017-07-07,35.643679,36.271546,35.498784,35.933464,69400,0.0,0
2017-07-10,35.836871,36.329510,35.498789,35.981766,100000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAON.csv  Saved
Finished
Get Data for :  AAP

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,112.433793,113.659131,111.304190,113.352798,914800,0.0,0
2017-07-05,105.426421,106.929367,94.896224,100.716553,7348700,0.0,0
2017-07-06,100.017736,101.310077,97.882974,98.754112,2718300,0.0,0
2017-07-07,98.313748,98.763676,96.619347,97.576637,2118500,0.0,0
2017-07-10,97.586201,98.016979,95.250409,96.849083,1909300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAP.csv  Saved
Finished
Get Data for :  AAPL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,34.288252,34.387651,33.866986,33.961651,57111200,0.0,0.0
2017-07-05,34.006615,34.266946,33.777048,34.101280,86278400,0.0,0.0
2017-07-06,33.848050,33.961649,33.703684,33.779415,96515200,0.0,0.0
2017-07-07,33.819645,34.257479,33.819645,34.122578,76806800,0.0,0.0
2017-07-10,34.106016,34.541482,33.930882,34.330849,84362400,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAPL.csv  Saved
Finished
Get Data for :  AAT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,33.954898,34.799676,33.954898,34.558311,228500,0.0,0
2017-07-05,34.661747,34.661747,33.799729,34.032475,243800,0.0,0
2017-07-06,33.791114,33.989378,33.437687,33.523888,175000,0.0,0
2017-07-07,33.670430,33.972135,33.541126,33.842831,131100,0.0,0
2017-07-10,33.842828,34.041095,32.954950,32.972191,144800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAT.csv  Saved
Finished
Get Data for :  AAWW

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,52.200001,55.200001,51.750000,54.799999,322700,0,0
2017-07-05,54.849998,54.950001,53.099998,54.700001,418800,0,0
2017-07-06,54.450001,55.500000,53.549999,54.950001,548000,0,0
2017-07-07,54.900002,55.700001,54.000000,55.049999,604900,0,0
2017-07-10,55.099998,56.549999,54.849998,56.250000,396400,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAWW.csv  Saved
Finished
Get Data for :  AAXN
- AAXN: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AAXN.csv  Saved
Finished
Get Data for :  ABBV

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,57.888633,58.071620,57.578345,57.618122,2570700,0.0,0
2017-07-05,57.665859,57.872714,57.276006,57.665859,4751900,0.0,0
2017-07-06,57.474910,57.641987,56.814558,57.069153,4372100,0.0,0
2017-07-07,57.371481,57.371481,56.989585,57.307831,4333700,0.0,0
2017-07-10,57.124837,57.458992,56.949802,57.148705,3158300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABBV.csv  Saved
Finished
Get Data for :  ABC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,87.153864,87.613246,86.731234,87.006859,527400,0.0,0
2017-07-05,87.199820,87.907265,86.593433,87.484634,908900,0.0,0
2017-07-06,86.997685,87.457067,84.746712,84.994781,951100,0.0,0
2017-07-07,85.481740,86.602633,85.206108,86.281067,1158700,0.0,0
2017-07-10,86.042179,86.859877,84.783470,84.976410,1255300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABC.csv  Saved
Finished
Get Data for :  ABCB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,45.121323,46.287851,45.028002,46.007885,73700,0.0,0
2017-07-05,46.007884,46.007884,45.074661,45.774578,84200,0.0,0
2017-07-06,45.727911,46.427828,45.121315,45.634590,189500,0.0,0
2017-07-07,45.961211,46.362497,45.214634,45.914551,128700,0.0,0
2017-07-10,45.774574,45.774574,44.794691,44.888012,121200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABCB.csv  Saved
Finished
Get Data for :  ABEO

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-07-03  6.35  6.75  6.25   6.60   257600          0             0
2017-07-05  6.65  7.35  6.51   7.30   702200          0             0
2017-07-06  7.40  8.05  6.95   7.90   956500          0             0
2017-07-07  8.00  8.35  7.78   8.35   754500          0             0
2017-07-10  8.80  9.85  8.50   9.20  2985900          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABEO.csv  Saved
Finished
Get Data for :  ABG

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,57.150002,58.400002,57.150002,57.650002,144700,0,0
2017-07-05,57.599998,57.599998,55.500000,56.099998,131900,0,0
2017-07-06,56.000000,56.400002,54.450001,54.750000,162600,0,0
2017-07-07,54.799999,55.700001,54.750000,55.450001,122500,0,0
2017-07-10,55.299999,55.750000,54.599998,54.700001,258600,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABG.csv  Saved
Finished
Get Data for :  ABIO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,44.099998,44.099998,42.299999,42.299999,6939,0,0.0
2017-07-05,44.099998,44.099998,42.299999,42.299999,11667,0,0.0
2017-07-06,43.200001,44.099998,42.299999,44.099998,17333,0,0.0
2017-07-07,45.900002,47.700001,44.639999,46.799999,11322,0,0.0
2017-07-10,47.700001,48.599998,46.439999,47.700001,14944,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABIO.csv  Saved
Finished
Get Data for :  ABM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,37.775957,38.003578,37.548336,37.894318,84400,0.17,0
2017-07-05,37.848791,37.848791,37.475493,37.484596,188500,0.00,0
2017-07-06,37.302507,37.384451,36.838159,36.910999,312300,0.00,0
2017-07-07,37.011151,37.557439,37.011151,37.466393,133100,0.00,0
2017-07-10,37.256970,37.511908,37.038456,37.038456,185900,0.00,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABM.csv  Saved
Finished
Get Data for :  ABMD

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,144.820007,145.500000,141.479996,142.289993,140500,0,0
2017-07-05,142.839996,143.500000,141.759995,142.380005,201400,0,0
2017-07-06,141.369995,143.190002,139.550003,139.960007,248500,0,0
2017-07-07,140.220001,142.600006,139.770004,142.050003,139900,0,0
2017-07-10,142.119995,142.470001,140.000000,141.149994,299200,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABMD.csv  Saved
Finished
Get Data for :  ABR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,5.309700,5.347762,5.297012,5.335074,88300,0.0,0
2017-07-05,5.335074,5.366793,5.290669,5.335074,275700,0.0,0
2017-07-06,5.335074,5.335074,5.271637,5.277980,180900,0.0,0
2017-07-07,5.284324,5.290667,5.151105,5.189168,315500,0.0,0
2017-07-10,5.189168,5.233573,5.144761,5.144761,209800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABR.csv  Saved
Finished
Get Data for :  ABT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,44.826767,45.111938,44.762374,44.808369,2454800,0.0,0
2017-07-05,44.817571,45.167131,44.762375,45.075142,5637200,0.0,0
2017-07-06,44.918774,44.946370,44.063266,44.100060,5665300,0.0,0
2017-07-07,44.311620,44.596791,44.136840,44.559994,4354300,0.0,0
2017-07-10,44.541597,44.642787,44.284026,44.366817,3479900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABT.csv  Saved
Finished
Get Data for :  ABTX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,37.035564,38.149053,37.035564,37.955402,18400,0.0,0
2017-07-05,37.858575,38.342700,37.616513,38.294289,11600,0.0,0
2017-07-06,38.052229,38.052229,37.180806,37.277630,11500,0.0,0
2017-07-07,37.471278,37.664928,37.083976,37.664928,13300,0.0,0
2017-07-10,37.326038,38.633178,36.841913,38.245876,33000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ABTX.csv  Saved
Finished
Get Data for :  AC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,33.513935,33.659227,32.932768,33.513935,15376,0.0,0.0
2017-07-05,33.417070,33.417070,33.029625,33.029625,4020,0.0,0.0
2017-07-06,32.351605,33.029633,32.254744,32.835911,13266,0.0,0.0
2017-07-07,32.641213,32.932766,32.641213,32.932766,8743,0.0,0.0
2017-07-10,32.835898,32.932759,32.642175,32.739037,4522,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AC.csv  Saved
Finished
Get Data for :  ACA

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-11-05,27.933440,29.586423,27.618586,28.661539,1963500,0.0,0
2018-11-06,28.740250,29.025587,27.874403,27.874403,1883400,0.0,0
2018-11-07,27.992473,29.871757,27.126624,29.015747,1640200,0.0,0
2018-11-08,29.025585,34.353503,28.809124,32.400425,2718900,0.0,0
2018-11-09,32.361081,32.975046,31.042630,32.056068,1394200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACA.csv  Saved
Finished
Get Data for :  ACAD

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,28.100000,28.540001,27.799999,28.469999,489500,0,0
2017-07-05,28.400000,29.660000,28.350000,29.639999,1575700,0,0
2017-07-06,29.469999,29.530001,28.570000,28.690001,2072700,0,0
2017-07-07,28.820000,29.790001,28.780001,29.190001,1171400,0,0
2017-07-10,29.200001,29.260000,27.480000,27.600000,1613600,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACAD.csv  Saved
Finished
Get Data for :  ACBI

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,19.000000,19.350000,18.900000,19.250000,40466,0,0
2017-07-05,19.150000,19.299999,19.000000,19.250000,45766,0,0
2017-07-06,19.150000,19.299999,18.924999,19.049999,54226,0,0
2017-07-07,19.049999,19.299999,18.950001,19.299999,45510,0,0
2017-07-10,19.100000,19.450001,19.000000,19.150000,95759,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACBI.csv  Saved
Finished
Get Data for :  ACC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,38.632062,39.063931,38.428349,38.974300,324100,0.0,0
2017-07-05,38.982441,39.047628,38.183888,38.371304,579600,0.0,0
2017-07-06,38.151309,38.428358,37.132746,37.214230,719000,0.0,0
2017-07-07,37.206073,37.523864,37.034955,37.426083,840800,0.0,0
2017-07-10,37.776467,38.338712,37.409783,37.507565,872500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACC.csv  Saved
Finished
Get Data for :  ACCO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,10.077078,10.163949,10.033642,10.120513,194600,0.0,0
2017-07-05,10.077079,10.163950,10.016269,10.163950,420300,0.0,0
2017-07-06,10.077078,10.207385,9.990206,10.120513,587600,0.0,0
2017-07-07,10.120513,10.494060,10.033642,10.424563,487700,0.0,0
2017-07-10,10.381128,10.407189,10.207386,10.337692,537900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACCO.csv  Saved
Finished
Get Data for :  ACER

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,10.729167,14.062500,10.416667,12.187500,1110634,0,0.0
2017-07-05,13.541667,15.104167,9.791667,10.416667,515808,0,0.0
2017-07-06,9.479167,9.687500,8.333333,9.062500,115488,0,0.0
2017-07-07,9.062500,9.375000,6.562500,7.604167,63187,0,0.0
2017-07-10,7.291667,8.541667,7.291667,8.125000,56410,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACER.csv  Saved
Finished
Get Data for :  ACGL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,31.260000,31.833332,31.103333,31.559999,811200,0,0.0
2017-07-05,31.583332,31.846666,31.416668,31.736668,1250100,0,0.0
2017-07-06,31.540001,31.716667,31.370001,31.403334,1246500,0,0.0
2017-07-07,31.433332,31.773333,31.406668,31.743334,1162800,0,0.0
2017-07-10,31.696667,31.903334,31.696667,31.823334,1476900,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACGL.csv  Saved
Finished
Get Data for :  ACHC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,49.480000,49.570000,48.020000,49.080002,336500,0,0
2017-07-05,49.259998,50.610001,49.000000,50.500000,888300,0,0
2017-07-06,50.220001,50.220001,47.500000,47.770000,1958800,0,0
2017-07-07,47.740002,49.200001,47.380001,48.980000,775300,0,0
2017-07-10,49.119999,49.880001,48.650002,49.660000,1225800,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACHC.csv  Saved
Finished
Get Data for :  ACHV

              Open    High    Low   Close  Volume  Dividends  Stock Splits
Date
2017-07-03   880.0   880.0  792.0   792.0      43          0           0.0
2017-07-05   836.0   880.0  792.0   814.0     274          0           0.0
2017-07-06   836.0  1254.0  770.0  1122.0    3350          0           0.0
2017-07-07  1100.0  1100.0  880.0   924.0     662          0           0.0
2017-07-10   946.0   990.0  836.0   902.0     157          0           0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACHV.csv  Saved
Finished
Get Data for :  ACIA
- ACIA: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACIA.csv  Saved
Finished
Get Data for :  ACIW

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,22.440001,22.600000,22.08,22.219999,246900,0,0
2017-07-05,22.230000,22.400000,21.92,22.049999,279200,0,0
2017-07-06,21.860001,21.980000,21.49,21.570000,498000,0,0
2017-07-07,21.610001,21.980000,21.57,21.920000,438100,0,0
2017-07-10,21.910000,22.120001,21.75,21.830000,353800,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACIW.csv  Saved
Finished
Get Data for :  ACLS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,21.100000,21.260000,20.049999,20.700001,344500,0,0
2017-07-05,20.700001,21.750000,20.500000,21.549999,589900,0,0
2017-07-06,21.350000,21.850000,21.100000,21.400000,325900,0,0
2017-07-07,21.500000,22.650000,21.500000,22.549999,440200,0,0
2017-07-10,22.549999,23.200001,22.100000,23.030001,554700,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACLS.csv  Saved
Finished
Get Data for :  ACM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,32.392782,32.940630,32.143760,32.721489,356500,0.0,0
2017-07-05,32.621886,32.870908,32.283216,32.452553,552800,0.0,0
2017-07-06,32.263291,32.572080,32.014269,32.074036,1166500,0.0,0
2017-07-07,32.293174,32.572081,31.964467,32.522278,477000,0.0,0
2017-07-10,32.333017,32.900787,32.163684,32.392784,945700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACM.csv  Saved
Finished
Get Data for :  ACMR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-02,1.866667,1.866667,1.866667,1.866667,300,0,0.0
2017-11-03,2.723333,2.828000,1.956667,2.016667,1570500,0,0.0
2017-11-06,2.003333,2.153333,1.866667,1.866667,211800,0,0.0
2017-11-07,1.866667,1.910000,1.866667,1.866667,97800,0,0.0
2017-11-08,1.866667,1.883333,1.866667,1.866667,355500,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACMR.csv  Saved
Finished
Get Data for :  ACN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,115.007516,115.992072,114.979652,115.109688,1236200,0.0,0
2017-07-05,115.174709,115.899194,115.165419,115.221153,1328600,0.0,0
2017-07-06,114.570963,114.831034,113.344910,114.190147,1938100,0.0,0
2017-07-07,114.756713,115.871304,114.310872,115.369736,1889400,0.0,0
2017-07-10,115.221132,115.518357,114.793865,115.230415,1301500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACN.csv  Saved
Finished
Get Data for :  ACNB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,26.610443,26.610443,25.203159,26.141348,1400,0.0,0
2017-07-05,26.141351,26.354576,25.416387,25.586967,9200,0.0,0
2017-07-06,26.013414,26.183995,25.373740,25.757545,7300,0.0,0
2017-07-07,25.757549,25.970774,25.501678,25.501678,3400,0.0,0
2017-07-10,25.501676,25.501676,25.245807,25.373741,3500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACNB.csv  Saved
Finished
Get Data for :  ACOR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,119.099998,120.900002,117.599998,120.599998,70567,0,0.0
2017-07-05,120.000000,124.500000,119.099998,123.000000,133533,0,0.0
2017-07-06,121.500000,123.000000,120.300003,121.500000,94250,0,0.0
2017-07-07,122.099998,125.099998,120.779999,125.099998,91750,0,0.0
2017-07-10,124.800003,124.800003,121.500000,122.699997,84450,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACOR.csv  Saved
Finished
Get Data for :  ACRE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,8.180932,8.324238,8.149778,8.286854,62600,0.0,0
2017-07-05,8.286853,8.286853,8.187162,8.230777,83900,0.0,0
2017-07-06,8.187161,8.218314,8.124853,8.143545,75000,0.0,0
2017-07-07,8.137315,8.187160,8.112392,8.137315,93000,0.0,0
2017-07-10,8.131085,8.131085,7.969086,7.994009,154400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACRE.csv  Saved
Finished
Get Data for :  ACRS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,27.090000,27.985001,26.910000,27.830000,66100,0,0
2017-07-05,27.639999,27.978001,27.090000,27.540001,149100,0,0
2017-07-06,27.330000,27.730000,26.840000,27.469999,290100,0,0
2017-07-07,27.559999,28.160000,27.090000,28.090000,249400,0,0
2017-07-10,28.020000,28.309999,27.379999,28.150000,247400,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACRS.csv  Saved
Finished
Get Data for :  ACRX

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-07-03  2.15  2.15  2.10   2.10   140500          0             0
2017-07-05  2.10  2.13  2.05   2.05   365600          0             0
2017-07-06  2.05  2.10  2.03   2.05   299900          0             0
2017-07-07  2.10  2.13  2.05   2.10   352400          0             0
2017-07-10  2.10  2.25  2.05   2.17  1222000          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACRX.csv  Saved
Finished
Get Data for :  ACTG

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  4.10  4.18  4.05   4.15  126600          0             0
2017-07-05  4.15  4.35  4.05   4.10  250300          0             0
2017-07-06  4.10  4.20  3.90   3.90  181700          0             0
2017-07-07  4.00  4.00  3.90   4.00  150900          0             0
2017-07-10  4.00  4.00  3.90   3.90  135700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACTG.csv  Saved
Finished
Get Data for :  ACU

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,25.262576,25.298626,25.262576,25.298626,700,0.0,0
2017-07-05,24.703790,25.776300,24.703790,25.776300,400,0.0,0
2017-07-06,25.776300,25.776300,25.776300,25.776300,0,0.0,0
2017-07-07,25.505918,25.641109,24.829966,25.641109,1100,0.0,0
2017-07-10,24.875030,25.253563,24.875030,25.253563,800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACU.csv  Saved
Finished
Get Data for :  ACY
- ACY: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ACY.csv  Saved
Finished
Get Data for :  ADBE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,141.729996,142.149994,138.309998,138.410004,1786000,0,0
2017-07-05,138.649994,141.970001,138.550003,141.210007,2229900,0,0
2017-07-06,139.729996,141.179993,138.880005,140.750000,1803200,0,0
2017-07-07,141.070007,143.360001,140.970001,142.220001,1533900,0,0
2017-07-10,142.210007,143.880005,141.570007,143.339996,1615200,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADBE.csv  Saved
Finished
Get Data for :  ADC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,38.073566,38.180956,37.396189,37.792702,212700,0.0,0
2017-07-05,37.792712,37.891839,37.470545,37.685322,332600,0.0,0
2017-07-06,37.454016,38.255305,37.222718,37.817486,547100,0.0,0
2017-07-07,38.007476,38.296602,37.858786,38.222256,200900,0.0,0
2017-07-10,38.230528,38.404005,37.668800,37.685322,180700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADC.csv  Saved
Finished
Get Data for :  ADES

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,7.138331,7.371865,7.091624,7.301805,72000,0.0,0
2017-07-05,7.325158,7.364080,7.107194,7.216176,125000,0.0,0
2017-07-06,7.200607,7.270667,6.951505,7.021565,167200,0.0,0
2017-07-07,6.959289,7.037134,6.873661,7.021565,111200,0.0,0
2017-07-10,7.021564,7.122762,7.005995,7.029348,93700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADES.csv  Saved
Finished
Get Data for :  ADI

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,70.988735,71.242693,68.993399,69.029678,1368100,0.0,0
2017-07-05,69.374348,70.843647,69.274581,70.508064,2767400,0.0,0
2017-07-06,69.755273,70.498990,69.392483,70.136200,2898000,0.0,0
2017-07-07,70.417377,71.514813,70.290401,71.170166,2803700,0.0,0
2017-07-10,71.206425,71.523864,70.526196,71.405960,2167800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADI.csv  Saved
Finished
Get Data for :  ADM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,35.817277,35.998608,35.687756,35.800007,1438600,0.0,0
2017-07-05,35.705018,36.378537,35.635941,36.093586,3301800,0.0,0
2017-07-06,36.007243,36.102226,35.489151,35.489151,2725000,0.0,0
2017-07-07,35.627302,35.722285,35.437338,35.610035,2365900,0.0,0
2017-07-10,35.610041,35.929529,35.212836,35.238743,3020500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADM.csv  Saved
Finished
Get Data for :  ADMA

            Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  3.82  3.950  3.726  3.740    3200          0             0
2017-07-05  3.72  3.720  3.430  3.480   20700          0             0
2017-07-06  3.50  3.630  3.450  3.589   16700          0             0
2017-07-07  3.55  3.610  3.481  3.500   10800          0             0
2017-07-10  3.51  3.553  3.430  3.450   10100          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADMA.csv  Saved
Finished
Get Data for :  ADMP

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-07-03  5.20   5.4  5.15   5.30   365000          0             0
2017-07-05  5.25   5.6  5.20   5.55  1097300          0             0
2017-07-06  5.70   5.7  5.45   5.55   597900          0             0
2017-07-07  5.70   5.7  5.30   5.50   460600          0             0
2017-07-10  5.55   5.6  5.30   5.60   374100          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADMP.csv  Saved
Finished
Get Data for :  ADMS
- ADMS: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADMS.csv  Saved
Finished
Get Data for :  ADNT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,64.664501,65.908799,64.439151,64.635109,502200,0.0,0
2017-07-05,64.517525,65.115182,63.880676,64.742874,347700,0.0,0
2017-07-06,64.331384,65.399324,64.301984,64.821266,687600,0.0,0
2017-07-07,64.850656,66.437871,64.566524,66.281113,613100,0.0,0
2017-07-10,66.437865,67.084514,66.153732,66.810181,678700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADNT.csv  Saved
Finished
Get Data for :  ADP

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,91.851880,92.896671,91.788832,92.248177,1591100,0.0,0
2017-07-05,92.599426,93.779328,91.761789,93.734291,2836700,0.0,0
2017-07-06,93.455081,93.455081,92.590425,93.166862,2724700,0.0,0
2017-07-07,93.446077,94.941217,93.148849,94.698029,2774100,0.0,0
2017-07-10,94.571928,94.905184,93.346996,93.365013,5423000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADP.csv  Saved
Finished
Get Data for :  ADRO
- ADRO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADRO.csv  Saved
Finished
Get Data for :  ADS
- ADS: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADS.csv  Saved
Finished
Get Data for :  ADSK

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,101.320000,101.820000,99.320000,99.360001,1454200,0,0
2017-07-05,99.370003,103.040001,99.220001,102.599998,2785200,0,0
2017-07-06,101.589996,103.110001,100.790001,102.050003,2605700,0,0
2017-07-07,102.290001,104.279999,102.290001,103.320000,1695300,0,0
2017-07-10,103.330002,104.190002,102.379997,103.739998,1191800,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADSK.csv  Saved
Finished
Get Data for :  ADSW
- ADSW: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADSW.csv  Saved
Finished
Get Data for :  ADT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-19,10.734789,11.006341,10.183199,10.514153,68187400,0.0,0
2018-01-22,10.285032,10.335948,9.436432,9.716470,26132900,0.0,0
2018-01-23,9.733441,10.285031,9.716469,10.106825,8272100,0.0,0
2018-01-24,10.106825,10.305397,9.589179,10.106825,10369000,0.0,0
2018-01-25,10.106827,10.132285,9.843762,10.098341,9448600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADT.csv  Saved
Finished
Get Data for :  ADTN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.369662,18.413925,18.236869,18.413925,122600,0.0,0
2017-07-05,18.369659,18.458187,18.236866,18.281130,331900,0.0,0
2017-07-06,18.148339,18.192602,17.705696,17.749960,226000,0.0,0
2017-07-07,17.749959,18.148338,17.749959,18.148338,152600,0.0,0
2017-07-10,18.059808,18.325394,18.059808,18.192600,249700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADTN.csv  Saved
Finished
Get Data for :  ADUS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,37.349998,37.349998,36.950001,37.150002,11000,0,0
2017-07-05,37.099998,37.400002,36.650002,37.299999,26900,0,0
2017-07-06,37.049999,37.700001,36.700001,37.549999,31800,0,0
2017-07-07,37.740002,39.299999,37.650002,39.000000,76500,0,0
2017-07-10,38.799999,39.000000,37.950001,38.049999,31400,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADUS.csv  Saved
Finished
Get Data for :  ADVM

            Open  High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  2.55  2.55  2.450   2.50  144000          0             0
2017-07-05  2.45  2.55  2.450   2.55  165100          0             0
2017-07-06  2.55  2.55  2.450   2.45  316000          0             0
2017-07-07  2.50  2.60  2.500   2.55  171100          0             0
2017-07-10  2.55  2.60  2.475   2.50  268100          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADVM.csv  Saved
Finished
Get Data for :  ADXS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,7811.960938,8051.959961,7745.961426,8015.959961,236,0,0.0
2017-07-05,7991.959961,8231.958984,7883.960449,8039.959961,347,0,0.0
2017-07-06,8075.959473,8387.958008,7991.959961,8039.959961,536,0,0.0
2017-07-07,7679.961426,8015.959961,7523.962402,7691.961426,706,0,0.0
2017-07-10,7667.961426,7883.960449,7547.962402,7751.961426,407,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ADXS.csv  Saved
Finished
Get Data for :  AE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,36.210384,36.210384,36.210384,36.210384,500,0.0,0
2017-07-05,36.210384,36.210384,36.210384,36.210384,600,0.0,0
2017-07-06,35.101556,36.556902,35.101556,35.898529,4300,0.0,0
2017-07-07,36.123766,36.582892,36.037136,36.037136,1400,0.0,0
2017-07-10,36.071785,36.071785,36.071785,36.071785,600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AE.csv  Saved
Finished
Get Data for :  AEE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,47.894634,47.955758,47.265938,47.265938,800000,0.0,0
2017-07-05,47.257195,47.327052,46.759476,47.030167,1475500,0.0,0
2017-07-06,46.890465,46.995247,46.750754,46.934124,1082600,0.0,0
2017-07-07,46.951582,47.484230,46.916653,47.274662,1156400,0.0,0
2017-07-10,47.318321,47.510425,47.065098,47.108757,1679700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEE.csv  Saved
Finished
Get Data for :  AEGN
- AEGN: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEGN.csv  Saved
Finished
Get Data for :  AEHR

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  3.70  3.71  3.60   3.70    7000          0             0
2017-07-05  3.62  3.90  3.60   3.89   89600          0             0
2017-07-06  3.89  3.89  3.72   3.82   76900          0             0
2017-07-07  3.85  3.88  3.73   3.88   19000          0             0
2017-07-10  3.85  3.95  3.73   3.95   49400          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEHR.csv  Saved
Finished
Get Data for :  AEIS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,64.505450,65.379559,63.849863,64.098190,296600,0.0,0
2017-07-05,63.234005,65.906003,63.234005,65.359688,603700,0.0,0
2017-07-06,64.515381,65.876217,63.681006,64.902771,500200,0.0,0
2017-07-07,65.866271,66.899313,65.240490,66.521858,435900,0.0,0
2017-07-10,66.223864,68.319745,66.124535,67.902557,617900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEIS.csv  Saved
Finished
Get Data for :  AEL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,25.222546,25.603841,25.136757,25.489452,273000,0.0,0
2017-07-05,25.498982,25.518047,25.098624,25.365530,453100,0.0,0
2017-07-06,25.251141,25.804016,25.222544,25.365530,545200,0.0,0
2017-07-07,25.508518,25.889811,25.365533,25.842150,352700,0.0,0
2017-07-10,25.737294,26.128119,25.689633,26.042328,483400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEL.csv  Saved
Finished
Get Data for :  AEMD

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,32.25,32.549999,31.500000,31.65,447,0,0.0
2017-07-05,31.50,31.500000,30.000000,30.15,1333,0,0.0
2017-07-06,30.60,30.900000,28.950001,30.15,3473,0,0.0
2017-07-07,30.15,31.500000,29.850000,31.35,2573,0,0.0
2017-07-10,31.50,31.500000,30.299999,30.75,1000,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEMD.csv  Saved
Finished
Get Data for :  AEO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,10.614003,10.922293,10.578770,10.834210,2187100,0.000,0
2017-07-05,10.714079,10.803067,10.553901,10.714079,3637600,0.125,0
2017-07-06,10.625091,10.625091,10.304737,10.411522,3326100,0.000,0
2017-07-07,10.402622,10.553901,10.180154,10.402622,2268600,0.000,0
2017-07-10,10.180154,10.242446,9.877598,10.011079,4172000,0.000,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEO.csv  Saved
Finished
Get Data for :  AEP

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,58.860871,58.860871,58.218965,58.278088,1592000,0.0,0
2017-07-05,58.320327,58.362554,57.957145,58.126064,2735700,0.0,0
2017-07-06,58.016263,58.404783,57.830447,58.294979,2147800,0.0,0
2017-07-07,58.286536,58.624382,58.134506,58.404781,1747500,0.0,0
2017-07-10,58.615926,58.675048,58.185173,58.185173,1567600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEP.csv  Saved
Finished
Get Data for :  AERI

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,52.799999,54.650002,52.650002,53.799999,290800,0,0
2017-07-05,53.849998,55.150002,53.650002,55.099998,356900,0,0
2017-07-06,54.500000,55.049999,54.000000,54.950001,308200,0,0
2017-07-07,55.250000,56.950001,54.950001,55.849998,505500,0,0
2017-07-10,55.700001,55.705002,54.049999,55.000000,363500,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AERI.csv  Saved
Finished
Get Data for :  AES

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,9.429564,9.463392,9.268882,9.311167,2754900,0.0,0
2017-07-05,9.302708,9.378822,9.175854,9.192767,5348800,0.0,0
2017-07-06,9.142026,9.158939,8.964428,9.032084,5693800,0.0,0
2017-07-07,9.040540,9.108197,8.989799,9.099740,5535100,0.0,0
2017-07-10,9.175851,9.285792,9.133566,9.251964,6330200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AES.csv  Saved
Finished
Get Data for :  AEY

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  1.63  1.63  1.60   1.62   18200          0             0
2017-07-05  1.62  1.69  1.62   1.62    6700          0             0
2017-07-06  1.63  1.63  1.58   1.58   28700          0             0
2017-07-07  1.58  1.62  1.58   1.59    9400          0             0
2017-07-10  1.59  1.59  1.56   1.58   23000          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AEY.csv  Saved
Finished
Get Data for :  AFG

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,63.254629,65.117670,62.982143,64.287537,467900,0.0,0
2017-07-05,64.268546,64.667772,63.926354,64.439644,420800,0.0,0
2017-07-06,64.350921,64.547362,63.704558,63.837631,399000,0.0,0
2017-07-07,63.977050,64.407958,63.653869,64.357262,340900,0.0,0
2017-07-10,64.274867,64.572700,64.046739,64.236847,244800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AFG.csv  Saved
Finished
Get Data for :  AFH
- AFH: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AFH.csv  Saved
Finished
Get Data for :  AFI

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.030001,18.400000,18.030001,18.280001,68186,0,0
2017-07-05,18.260000,18.350000,18.010000,18.200001,115401,0,0
2017-07-06,18.080000,18.195000,18.010000,18.049999,140137,0,0
2017-07-07,18.090000,18.280001,18.090000,18.230000,89132,0,0
2017-07-10,18.160000,18.240000,17.750000,17.770000,182872,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AFI.csv  Saved
Finished
Get Data for :  AFIN
- AFIN: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AFIN.csv  Saved
Finished
Get Data for :  AFL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,34.652262,35.193496,34.550224,34.789787,1875600,0.0,0.0
2017-07-05,34.789776,34.922867,34.656687,34.736542,2282800,0.0,0.0
2017-07-06,34.749859,34.776476,34.372771,34.394951,3788000,0.0,0.0
2017-07-07,34.488111,34.754291,34.434877,34.594585,2864200,0.0,0.0
2017-07-10,34.523606,34.643385,34.412697,34.448189,2528000,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AFL.csv  Saved
Finished
Get Data for :  AGCO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,61.057057,61.345232,60.714845,61.174126,415200,0.0,0
2017-07-05,61.102085,62.074677,61.102085,62.065670,813700,0.0,0
2017-07-06,61.777486,61.831524,61.048046,61.084068,801600,0.0,0
2017-07-07,61.273182,61.723456,60.831916,61.579365,537200,0.0,0
2017-07-10,61.633393,63.146311,61.462287,62.407864,1201400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGCO.csv  Saved
Finished
Get Data for :  AGE

            Open  High    Low  Close   Volume  Dividends  Stock Splits
Date
2018-11-29  1.13  4.25  1.130   2.71   440500          0             0
2018-11-30  2.80  5.75  2.800   5.40  1681800          0             0
2018-12-03  5.44  5.95  4.811   5.50   774300          0             0
2018-12-04  5.41  5.45  4.900   5.30   424900          0             0
2018-12-06  5.13  5.15  4.910   5.15   263200          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGE.csv  Saved
Finished
Get Data for :  AGEN

            Open  High   Low  Close   Volume  Dividends  Stock Splits
Date
2017-07-03  3.92  4.04  3.90   4.00   352600          0             0
2017-07-05  4.00  4.09  3.93   4.00   487600          0             0
2017-07-06  3.97  4.07  3.89   3.97   881400          0             0
2017-07-07  3.99  4.11  3.97   4.11   519400          0             0
2017-07-10  4.11  4.50  4.08   4.48  2548500          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGEN.csv  Saved
Finished
Get Data for :  AGFS

            Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  7.17  7.450  7.070   7.40   76000          0             0
2017-07-05  7.41  7.615  7.318   7.58  206000          0             0
2017-07-06  7.59  7.980  7.335   7.92  294100          0             0
2017-07-07  7.97  7.970  7.625   7.92  196700          0             0
2017-07-10  7.96  8.000  7.820   7.98  177200          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGFS.csv  Saved
Finished
Get Data for :  AGIO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,51.840000,52.410000,50.910000,52.180000,205900,0,0
2017-07-05,51.900002,54.139999,51.290001,53.869999,640900,0,0
2017-07-06,53.189999,54.599998,52.590000,54.020000,1235500,0,0
2017-07-07,54.330002,55.000000,53.439999,54.910000,418900,0,0
2017-07-10,55.009998,55.790001,53.400002,54.500000,530500,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGIO.csv  Saved
Finished
Get Data for :  AGLE

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  3.793  3.910  3.76   3.76    1600          0             0
2017-07-05  3.830  3.851  3.52   3.54   42600          0             0
2017-07-06  3.540  3.598  3.43   3.46   36700          0             0
2017-07-07  3.630  3.630  3.31   3.39   32100          0             0
2017-07-10  3.400  3.700  3.30   3.66   82200          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGLE.csv  Saved
Finished
Get Data for :  AGM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,54.253388,56.415146,54.253388,55.971066,40900,0.0,0
2017-07-05,55.987821,55.987821,54.370693,55.677799,72300,0.0,0
2017-07-06,55.627522,55.627522,54.052291,54.940453,89700,0.0,0
2017-07-07,55.283991,55.878892,54.756116,55.602386,37700,0.0,0
2017-07-10,55.518600,55.845376,55.183443,55.543736,28200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGM.csv  Saved
Finished
Get Data for :  AGNC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,12.477038,12.669982,12.453650,12.652441,3414500,0.0,0
2017-07-05,12.687533,12.827856,12.640759,12.687533,3821600,0.0,0
2017-07-06,12.658291,12.693371,12.593977,12.640751,4069000,0.0,0
2017-07-07,12.658293,12.664140,12.453656,12.494584,2599900,0.0,0
2017-07-10,12.517967,12.669984,12.512121,12.541355,3270800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGNC.csv  Saved
Finished
Get Data for :  AGO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,38.602968,39.345863,38.474567,39.089058,584700,0.0,0
2017-07-05,39.144101,39.437589,38.749725,39.153271,1235600,0.0,0
2017-07-06,39.144105,39.602681,39.070731,39.364220,744500,0.0,0
2017-07-07,39.373386,39.437586,39.199128,39.263329,545400,0.0,0
2017-07-10,39.327518,39.942009,39.144087,39.786095,740100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGO.csv  Saved
Finished
Get Data for :  AGR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,37.031942,37.164976,36.647065,36.655434,155800,0.0,0
2017-07-05,36.714015,36.722381,36.186899,36.379337,520300,0.0,0
2017-07-06,36.295669,36.471374,36.082312,36.379337,320100,0.0,0
2017-07-07,36.437912,36.529949,36.262208,36.287308,204300,0.0,0
2017-07-10,36.437897,36.718187,36.312395,36.429531,258300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGR.csv  Saved
Finished
Get Data for :  AGRX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,150.399994,157.000000,150.000000,153.199997,1260,0,0.0
2017-07-05,153.600006,156.800003,147.600006,150.000000,1840,0,0.0
2017-07-06,150.399994,150.800003,147.600006,148.800003,1110,0,0.0
2017-07-07,148.399994,150.000000,148.000000,149.199997,1013,0,0.0
2017-07-10,149.199997,151.600006,148.199997,149.199997,1175,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGRX.csv  Saved
Finished
Get Data for :  AGS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-26,17.000000,18.920000,16.660000,18.50,5379000,0,0
2018-01-29,18.450001,19.000000,18.010000,18.90,672100,0,0
2018-01-30,18.670000,19.770000,18.000000,19.43,652800,0,0
2018-01-31,19.420000,19.879999,19.049999,19.57,368900,0,0
2018-02-01,19.500000,19.500000,18.570000,19.42,184400,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGS.csv  Saved
Finished
Get Data for :  AGTC

            Open   High  Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03   5.1  5.300  5.0   5.05  122900          0             0
2017-07-05   5.1  5.175  5.0   5.05  160300          0             0
2017-07-06   5.1  5.150  4.9   5.05  323400          0             0
2017-07-07   5.1  5.100  5.0   5.05  108700          0             0
2017-07-10   5.0  5.100  4.9   5.00  298600          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGTC.csv  Saved
Finished
Get Data for :  AGX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,51.446161,52.768574,51.318187,52.597942,55100,0.0,0
2017-07-05,52.811227,52.811227,51.147545,51.872738,69300,0.0,0
2017-07-06,51.531480,51.770367,50.209064,50.592991,122400,0.0,0
2017-07-07,50.763629,52.086042,50.294386,51.958069,114600,0.0,0
2017-07-10,51.872737,52.214007,51.488810,51.702103,109100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGX.csv  Saved
Finished
Get Data for :  AGYS

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  10.24  10.24  10.00  10.12   79200          0             0
2017-07-05  10.11  10.12   9.93  10.08   17600          0             0
2017-07-06   9.97  10.30   9.90  10.20   37600          0             0
2017-07-07  10.21  10.33  10.21  10.29   40900          0             0
2017-07-10  10.23  10.50  10.18  10.41   27400          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AGYS.csv  Saved
Finished
Get Data for :  AHC
- AHC: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AHC.csv  Saved
Finished
Get Data for :  AHH

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,10.083850,10.161718,9.982622,10.153931,396000,0.0,0
2017-07-05,10.161719,10.192866,9.982623,10.029344,567400,0.0,0
2017-07-06,9.990409,10.060490,9.889181,9.935902,591900,0.0,0
2017-07-07,9.928115,10.005983,9.865821,9.959262,391300,0.0,0
2017-07-10,9.959261,10.083849,9.881393,9.912540,492200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AHH.csv  Saved
Finished
Get Data for :  AHT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,487.973022,505.659034,487.169099,503.247314,3460,0.0,0.0
2017-07-05,499.227891,501.639611,488.777085,494.404449,6227,0.0,0.0
2017-07-06,491.188710,494.404353,480.737906,482.345703,8123,0.0,0.0
2017-07-07,483.953524,490.384811,480.737930,485.561371,6646,0.0,0.0
2017-07-10,484.757465,489.580906,475.110535,475.110535,5689,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AHT.csv  Saved
Finished
Get Data for :  AIG

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,54.594553,55.541832,54.594553,55.003014,3229100,0.0,0
2017-07-05,55.098609,55.228967,54.281688,54.559788,7149000,0.0,0
2017-07-06,54.559785,55.437541,54.551096,54.820507,6088000,0.0,0
2017-07-07,54.950866,55.133369,54.733600,55.055153,3360700,0.0,0
2017-07-10,54.820517,55.011709,54.733609,54.811825,3140600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIG.csv  Saved
Finished
Get Data for :  AIMC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,37.250306,37.576653,37.017200,37.203686,112000,0.0,0
2017-07-05,37.157068,37.296933,36.411130,37.063828,185900,0.0,0
2017-07-06,36.784097,37.138419,36.178020,36.178020,134100,0.0,0
2017-07-07,36.364500,36.923952,36.224635,36.830711,108000,0.0,0
2017-07-10,36.690857,37.296933,36.597616,37.063828,115300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIMC.csv  Saved
Finished
Get Data for :  AIMT
- AIMT: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIMT.csv  Saved
Finished
Get Data for :  AIN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,50.785476,51.589341,50.596330,51.494770,97100,0.0,0
2017-07-05,51.258339,51.854147,50.785476,51.636627,124900,0.0,0
2017-07-06,51.400193,51.447482,50.151835,50.549042,97800,0.0,0
2017-07-07,50.880043,51.381280,50.596326,51.116474,143500,0.0,0
2017-07-10,50.927322,51.731191,50.690891,50.927322,188800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIN.csv  Saved
Finished
Get Data for :  AINC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,50.980000,50.980000,50.980000,50.980000,0,0,0
2017-07-05,52.389999,52.389999,50.000000,50.000000,8600,0,0
2017-07-06,49.900002,50.365002,49.900002,50.365002,200,0,0
2017-07-07,50.000000,50.000000,49.840000,49.840000,800,0,0
2017-07-10,49.000000,49.029999,49.000000,49.029999,700,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AINC.csv  Saved
Finished
Get Data for :  AIR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,34.263031,35.027260,34.233634,34.547165,86200,0.0,0
2017-07-05,34.547157,34.733318,34.125854,34.586349,189300,0.0,0
2017-07-06,34.272823,34.870492,33.998485,34.331612,139700,0.0,0
2017-07-07,34.458984,34.811707,34.321815,34.743122,153200,0.0,0
2017-07-10,34.743122,35.007664,34.488380,34.547165,148000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIR.csv  Saved
Finished
Get Data for :  AIRG

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  14.08  14.39  13.77  13.86   16400          0             0
2017-07-05  13.89  13.98  13.51  13.77   28700          0             0
2017-07-06  13.51  14.08  13.51  13.70   33000          0             0
2017-07-07  13.68  14.09  13.60  13.98   25800          0             0
2017-07-10  13.80  14.05  13.68  13.85   33600          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIRG.csv  Saved
Finished
Get Data for :  AIRI

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  1.82  1.82  1.70   1.71    5900          0             0
2017-07-05  1.70  2.00  1.58   1.75  204500          0             0
2017-07-06  1.66  1.80  1.55   1.61  129500          0             0
2017-07-07  1.45  1.48  1.40   1.40  789300          0             0
2017-07-10  1.49  1.58  1.40   1.50  490000          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIRI.csv  Saved
Finished
Get Data for :  AIRT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,13.666667,13.666667,13.666667,13.666667,300,0,0.0
2017-07-05,13.666667,13.740000,13.666667,13.666667,2400,0,0.0
2017-07-06,13.666667,13.666667,13.666667,13.666667,1950,0,0.0
2017-07-07,13.666667,13.666667,13.666667,13.666667,0,0,0.0
2017-07-10,12.866667,13.046667,12.866667,13.046667,600,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIRT.csv  Saved
Finished
Get Data for :  AIT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,54.208329,54.802019,54.116994,54.482342,61000,0.0,0
2017-07-05,54.528009,54.528009,53.477636,54.299667,79400,0.0,0
2017-07-06,54.025659,54.436672,53.568976,53.797318,139800,0.0,0
2017-07-07,54.071331,54.391008,53.523309,54.345341,86200,0.0,0
2017-07-10,53.888652,54.665012,53.660310,54.391003,130100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIT.csv  Saved
Finished
Get Data for :  AIV

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,3.821092,3.831719,3.796297,3.823749,5422520,0.0,0.0
2017-07-05,3.843231,3.904333,3.834376,3.875110,13837215,0.0,0.0
2017-07-06,3.857400,3.865370,3.762647,3.786557,17856285,0.0,0.0
2017-07-07,3.785671,3.806039,3.765304,3.776816,12508026,0.0,0.0
2017-07-10,3.785672,3.807810,3.766190,3.771502,10824787,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIV.csv  Saved
Finished
Get Data for :  AIZ

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,94.094998,96.071103,94.076954,94.880028,209100,0.0,0
2017-07-05,94.961211,95.376282,94.212282,94.338608,406200,0.0,0
2017-07-06,94.383753,95.078551,93.643842,93.977707,410200,0.0,0
2017-07-07,93.977685,95.619925,93.968659,95.033409,259800,0.0,0
2017-07-10,94.753699,95.024394,94.482997,94.681511,417800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AIZ.csv  Saved
Finished
Get Data for :  AJG

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,52.523673,52.897540,52.459843,52.459843,449100,0.0,0
2017-07-05,52.541903,52.651330,52.286581,52.423363,696100,0.0,0
2017-07-06,52.359525,52.660443,52.049493,52.122440,714300,0.0,0
2017-07-07,52.459845,52.952255,52.268353,52.623981,633700,0.0,0
2017-07-10,52.623971,52.742515,52.341294,52.396004,883600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AJG.csv  Saved
Finished
Get Data for :  AJRD

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.842160,19.274691,18.716005,19.184582,184800,0.0,0
2017-07-05,19.202602,19.788322,19.166559,19.725245,453300,0.0,0
2017-07-06,19.581068,19.626124,19.193591,19.220625,324600,0.0,0
2017-07-07,19.292714,19.644145,19.238648,19.635136,199000,0.0,0
2017-07-10,19.472936,19.806345,19.319748,19.599091,324400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AJRD.csv  Saved
Finished
Get Data for :  AJX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,9.099084,9.099084,9.053782,9.086141,20000,0.0,0
2017-07-05,9.060252,9.173505,9.027894,9.157326,44000,0.0,0
2017-07-06,9.118499,9.118499,9.047311,9.086141,27600,0.0,0
2017-07-07,9.073197,9.137912,9.034367,9.124969,34000,0.0,0
2017-07-10,9.124971,9.157328,9.073198,9.086141,35000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AJX.csv  Saved
Finished
Get Data for :  AKAM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,50.150002,50.730000,50.009998,50.090000,959400,0,0
2017-07-05,50.270000,51.020000,50.009998,50.950001,1770100,0,0
2017-07-06,50.630001,50.630001,49.270000,49.360001,2523900,0,0
2017-07-07,49.549999,50.130001,49.180000,49.240002,2019900,0,0
2017-07-10,49.310001,49.779999,49.110001,49.650002,1472500,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AKAM.csv  Saved
Finished
Get Data for :  AKBA

             Open    High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  14.27  14.655  14.10  14.58  295400          0             0
2017-07-05  14.59  14.730  14.43  14.54  446400          0             0
2017-07-06  14.45  14.590  14.36  14.46  473600          0             0
2017-07-07  14.49  14.560  14.09  14.21  607500          0             0
2017-07-10  14.20  14.220  13.85  13.99  528900          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AKBA.csv  Saved
Finished
Get Data for :  AKCA
- AKCA: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AKCA.csv  Saved
Finished
Get Data for :  AKER
- AKER: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AKER.csv  Saved
Finished
Get Data for :  AKR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,23.495888,24.228032,23.453812,24.219616,294200,0.0,0
2017-07-05,24.211198,24.270106,23.327577,23.386486,557200,0.0,0
2017-07-06,23.302339,23.428571,22.839490,22.940475,573900,0.0,0
2017-07-07,22.999380,23.411736,22.923641,23.403320,340100,0.0,0
2017-07-10,23.428565,23.428565,23.075117,23.117193,295400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AKR.csv  Saved
Finished
Get Data for :  AKTS

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  8.74  8.77  8.35   8.37   52600          0             0
2017-07-05  8.37  8.60  8.35   8.57   53700          0             0
2017-07-06  8.57  8.66  8.45   8.54   57900          0             0
2017-07-07  8.50  8.60  8.35   8.60   23200          0             0
2017-07-10  8.60  8.64  8.35   8.48   32700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AKTS.csv  Saved
Finished
Get Data for :  AL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,34.764888,35.319060,34.663290,35.032738,367800,0.0,0
2017-07-05,34.986548,35.143561,34.487795,35.014256,520600,0.0,0
2017-07-06,35.097387,35.605375,34.968082,35.041969,962300,0.0,0
2017-07-07,35.032735,35.291346,34.589400,35.162041,454400,0.0,0
2017-07-10,35.254405,35.882464,35.162045,35.716213,705300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AL.csv  Saved
Finished
Get Data for :  ALB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,99.368394,99.545940,98.433954,99.078720,555400,0.0,0
2017-07-05,99.050696,101.536311,99.050696,100.938263,1356400,0.0,0
2017-07-06,100.788770,101.928789,100.265486,100.966316,1173700,0.0,0
2017-07-07,101.218600,103.208956,101.059747,102.779114,1567300,0.0,0
2017-07-10,102.984681,104.563888,102.788449,104.040596,1443600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALB.csv  Saved
Finished
Get Data for :  ALBO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,21.299999,21.299999,20.400000,21.260000,34000,0,0
2017-07-05,21.620001,22.330000,20.480000,22.270000,47000,0,0
2017-07-06,22.250000,24.650000,22.010000,24.500000,65100,0,0
2017-07-07,24.500000,25.379999,22.959999,25.240000,63200,0,0
2017-07-10,24.580000,26.219999,23.600000,25.299999,49900,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALBO.csv  Saved
Finished
Get Data for :  ALCO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,28.228181,28.335613,28.138652,28.335613,2600,0.0,0
2017-07-05,28.237135,28.237135,27.798447,27.798447,1800,0.0,0
2017-07-06,27.843210,27.843210,27.037459,27.082222,8700,0.0,0
2017-07-07,27.171756,27.574631,27.109086,27.574631,5100,0.0,0
2017-07-10,27.306040,27.529860,27.306040,27.306040,4400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALCO.csv  Saved
Finished
Get Data for :  ALDX

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  4.65  4.75  4.55    4.7    7700          0             0
2017-07-05  4.70  4.80  4.70    4.7   16800          0             0
2017-07-06  4.85  4.85  4.70    4.7   36000          0             0
2017-07-07  4.85  4.90  4.70    4.9   66300          0             0
2017-07-10  5.00  5.10  4.70    4.9   49200          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALDX.csv  Saved
Finished
Get Data for :  ALE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,60.519357,60.721198,60.233415,60.250233,79200,0.0,0
2017-07-05,60.435255,60.695967,59.468087,59.720394,233700,0.0,0
2017-07-06,59.493326,60.006345,59.333538,59.880192,170500,0.0,0
2017-07-07,59.997936,60.510956,59.854966,59.930660,221100,0.0,0
2017-07-10,59.846573,60.275486,59.064430,59.131706,210200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALE.csv  Saved
Finished
Get Data for :  ALEC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-02-07,18.700001,19.500000,18.000000,18.080000,3626100,0,0
2019-02-08,17.719999,17.799999,15.554000,16.299999,1094100,0,0
2019-02-11,16.230000,17.500000,16.160000,17.180000,538600,0,0
2019-02-12,17.200001,17.900000,17.200001,17.500000,299500,0,0
2019-02-13,17.500000,19.000000,17.500000,18.250000,957300,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALEC.csv  Saved
Finished
Get Data for :  ALEX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,24.209461,24.506974,24.121956,24.448639,67600,0.0,0
2017-07-05,24.407801,24.460303,23.935278,24.168623,83700,0.0,0
2017-07-06,24.022788,24.197795,23.701940,23.754442,107500,0.0,0
2017-07-07,23.742779,24.133629,23.672776,24.098629,77900,0.0,0
2017-07-10,24.063622,24.063622,23.690271,23.707771,88500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALEX.csv  Saved
Finished
Get Data for :  ALG

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,89.088110,90.652601,89.088110,90.065918,21500,0.0,0
2017-07-05,90.065907,90.877490,89.166325,90.466805,35800,0.0,0
2017-07-06,89.919245,90.740608,89.117443,89.733459,36200,0.0,0
2017-07-07,89.909453,91.366393,89.655229,91.239273,37500,0.0,0
2017-07-10,90.916613,91.777082,89.665013,89.948578,66200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALG.csv  Saved
Finished
Get Data for :  ALGN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,151.059998,152.229996,148.949997,149.029999,340600,0,0
2017-07-05,151.520004,152.800003,149.160004,151.940002,551900,0,0
2017-07-06,151.119995,151.479996,149.500000,149.740005,679100,0,0
2017-07-07,150.979996,152.800003,150.919998,151.949997,486400,0,0
2017-07-10,152.100006,153.479996,150.559998,151.580002,533000,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALGN.csv  Saved
Finished
Get Data for :  ALGT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,129.133232,132.399444,128.896551,131.736725,66300,0.0,0
2017-07-05,131.784095,132.730820,126.387767,132.399475,96600,0.0,0
2017-07-06,130.600662,132.541451,129.748616,129.937958,86400,0.0,0
2017-07-07,129.890619,130.884683,129.559274,130.269318,81100,0.0,0
2017-07-10,130.647983,132.967456,129.701259,129.843262,184500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALGT.csv  Saved
Finished
Get Data for :  ALIM

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-11-04  4.500  4.575  4.125  4.155   34573          0           0.0
2019-11-05  4.200  4.500  4.200  4.380   19360          0           0.0
2019-11-06  4.395  4.500  4.230  4.350   21500          0           0.0
2019-11-07  4.500  4.515  4.065  4.125   12347          0           0.0
2019-11-08  3.900  4.050  3.420  3.600   62853          0           0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALIM.csv  Saved
Finished
Get Data for :  ALJJ

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  3.26  3.26  3.09   3.18   41000          0             0
2017-07-05  3.15  3.28  3.10   3.12   39600          0             0
2017-07-06  3.12  3.15  2.99   3.06   66700          0             0
2017-07-07  3.08  3.33  3.07   3.12   52700          0             0
2017-07-10  3.17  3.26  3.05   3.09   36200          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALJJ.csv  Saved
Finished
Get Data for :  ALK

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,85.383639,86.007916,85.033672,85.336349,543200,0.0,0
2017-07-05,85.582283,87.369976,85.241769,86.338974,1061700,0.0,0
2017-07-06,86.074127,87.124043,85.355264,86.452477,1091000,0.0,0
2017-07-07,86.717323,88.892825,86.651112,88.807693,1127100,0.0,0
2017-07-10,88.022626,88.703653,87.786159,87.909126,1296600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALK.csv  Saved
Finished
Get Data for :  ALKS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,58.110001,59.310001,58.000000,58.700001,512100,0,0
2017-07-05,58.549999,61.310001,58.369999,60.450001,1112400,0,0
2017-07-06,60.180000,60.180000,59.049999,59.470001,1555800,0,0
2017-07-07,59.849998,60.150002,58.869999,59.529999,575300,0,0
2017-07-10,59.560001,59.560001,58.049999,58.099998,748700,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALKS.csv  Saved
Finished
Get Data for :  ALL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,79.722371,80.628615,79.524971,79.524971,1007600,0.0,0
2017-07-05,79.686470,79.803119,79.201944,79.686470,1040900,0.0,0
2017-07-06,79.794154,80.108197,79.435245,79.605728,1450600,0.0,0
2017-07-07,79.677516,80.117176,79.444224,80.027451,1117300,0.0,0
2017-07-10,79.704424,80.018467,79.704424,79.722366,1445100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALL.csv  Saved
Finished
Get Data for :  ALLE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,77.200958,77.447034,76.992740,77.011673,217200,0.0,0
2017-07-05,77.182030,78.459720,77.002205,77.740425,416600,0.0,0
2017-07-06,77.532213,77.532213,76.188273,76.339706,424000,0.0,0
2017-07-07,76.519551,77.267238,75.923297,76.869736,414000,0.0,0
2017-07-10,76.992750,77.465969,76.746674,77.163109,472600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALLE.csv  Saved
Finished
Get Data for :  ALLK

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-07-19,27.200001,33.240002,26.00,31.250000,4438200,0,0
2018-07-20,30.290001,37.000000,30.25,35.049999,697700,0,0
2018-07-23,35.049999,38.529999,34.00,36.290001,1008700,0,0
2018-07-24,36.240002,38.830002,35.09,38.119999,293800,0,0
2018-07-25,38.299999,40.139999,37.82,39.299999,543600,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALLK.csv  Saved
Finished
Get Data for :  ALLO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-10-11,22.000000,25.990000,21.670000,25.000000,8110200,0,0
2018-10-12,26.900000,27.400000,25.530001,26.809999,2197400,0,0
2018-10-15,27.459999,27.719999,25.549999,26.959999,1345600,0,0
2018-10-16,27.040001,27.620001,25.600000,25.870001,939100,0,0
2018-10-17,26.000000,26.110001,24.160000,24.980000,2139500,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALLO.csv  Saved
Finished
Get Data for :  ALLY

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.606785,19.019973,18.571241,18.953329,2963400,0.0,0
2017-07-05,19.006648,19.095506,18.828934,18.935562,3154300,0.0,0
2017-07-06,18.944444,18.971101,18.464613,18.473499,4423600,0.0,0
2017-07-07,18.491274,18.580132,18.344660,18.500160,5554100,0.0,0
2017-07-10,18.464613,18.562356,18.366870,18.482384,5247500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALLY.csv  Saved
Finished
Get Data for :  ALNA

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-11-02  12.40  12.40   9.77   9.98  2388800          0             0
2017-11-03  10.10  10.50   8.66   9.79   356200          0             0
2017-11-06   9.74  10.64   9.01  10.48   125800          0             0
2017-11-07  10.65  11.23  10.60  11.00   267100          0             0
2017-11-08  11.02  11.70  11.00  11.58    60500          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALNA.csv  Saved
Finished
Get Data for :  ALNY

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,80.930000,83.190002,79.959999,81.699997,376000,0,0
2017-07-05,81.760002,86.110001,81.760002,85.709999,1076100,0,0
2017-07-06,85.000000,85.620003,82.540001,82.970001,1296000,0,0
2017-07-07,83.070000,85.500000,83.070000,84.080002,602300,0,0
2017-07-10,83.949997,86.730003,76.019997,79.410004,2020600,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALNY.csv  Saved
Finished
Get Data for :  ALOT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,12.233309,12.328141,12.034162,12.328141,10000,0.0,0
2017-07-05,12.422974,12.470389,12.185895,12.470389,29200,0.0,0
2017-07-06,12.394524,12.470389,12.328142,12.375558,7700,0.0,0
2017-07-07,12.261760,12.660054,12.233310,12.565222,14400,0.0,0
2017-07-10,12.470390,12.660054,12.375558,12.565222,40900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALOT.csv  Saved
Finished
Get Data for :  ALPN

            Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  9.64  9.804  9.400   9.72    6525          0           0.0
2017-07-05  9.68  9.680  9.440   9.56    4450          0           0.0
2017-07-06  9.48  9.760  9.452   9.60    4875          0           0.0
2017-07-07  9.60  9.760  9.520   9.64    3975          0           0.0
2017-07-10  9.68  9.760  9.420   9.56   15300          0           0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALPN.csv  Saved
Finished
Get Data for :  ALRM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,37.750000,37.750000,36.470001,36.750000,91500,0,0
2017-07-05,36.650002,36.939999,36.000000,36.860001,225300,0,0
2017-07-06,36.730000,36.770000,35.709999,36.410000,146000,0,0
2017-07-07,36.599998,37.330002,36.480000,37.160000,148200,0,0
2017-07-10,37.270000,37.669998,36.750000,36.980000,179000,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALRM.csv  Saved
Finished
Get Data for :  ALSK
- ALSK: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALSK.csv  Saved
Finished
Get Data for :  ALSN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,34.747404,35.023542,34.664563,34.811836,636300,0.0,0
2017-07-05,34.756605,35.032746,34.351604,34.655357,1409700,0.0,0
2017-07-06,34.563303,34.839440,34.425236,34.498871,1907900,0.0,0
2017-07-07,34.646144,35.207626,34.195120,35.005123,2042000,0.0,0
2017-07-10,34.995928,36.036050,34.922289,35.769115,2112300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALSN.csv  Saved
Finished
Get Data for :  ALT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,90.000000,102.000000,88.019997,97.199997,2073,0,0.0
2017-07-05,94.800003,99.300003,93.900002,95.400002,857,0,0.0
2017-07-06,97.800003,99.150002,89.699997,90.000000,1843,0,0.0
2017-07-07,93.000000,93.150002,90.480003,90.599998,997,0,0.0
2017-07-10,90.599998,92.099998,83.220001,84.000000,4210,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALT.csv  Saved
Finished
Get Data for :  ALTM
- ALTM: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALTM.csv  Saved
Finished
Get Data for :  ALTR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-01,17.100000,18.980000,16.549999,18.309999,7533500,0,0
2017-11-02,18.049999,18.200001,17.330000,17.410000,952100,0,0
2017-11-03,17.500000,19.400000,17.500000,19.370001,842700,0,0
2017-11-06,19.059999,19.600000,18.101000,18.969999,427400,0,0
2017-11-07,18.990000,19.945000,18.850000,19.510000,1008700,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALTR.csv  Saved
Finished
Get Data for :  ALV

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,71.668516,72.119825,71.513779,71.861938,440829,0.0,0.0
2017-07-05,73.261017,73.351276,72.106943,73.112724,876244,0.0,0.0
2017-07-06,73.435092,73.435092,72.648521,72.796806,563667,0.0,0.0
2017-07-07,73.009573,73.789700,72.887075,73.628517,393220,0.0,0.0
2017-07-10,73.860625,74.524699,73.634964,74.382858,475112,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALV.csv  Saved
Finished
Get Data for :  ALX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,316.594381,317.836899,311.669240,317.043488,14700,0.0,0
2017-07-05,315.868373,316.931258,312.881853,314.408783,8500,0.0,0
2017-07-06,312.821952,312.821952,309.386324,309.715668,6300,0.0,0
2017-07-07,310.576438,315.860869,310.576438,315.696198,9800,0.0,0
2017-07-10,314.745556,315.119808,313.256042,313.256042,4000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALX.csv  Saved
Finished
Get Data for :  ALXN
- ALXN: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ALXN.csv  Saved
Finished
Get Data for :  AM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,13.090944,13.234275,12.941640,13.084971,171100,0.0,0
2017-07-05,13.061084,13.061084,12.445953,12.613173,220900,0.0,0
2017-07-06,12.577337,12.899833,12.535532,12.732613,414100,0.0,0
2017-07-07,12.732614,12.786363,12.308592,12.649004,242100,0.0,0
2017-07-10,12.601226,12.798307,12.416090,12.571364,256000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AM.csv  Saved
Finished
Get Data for :  AMAG
- AMAG: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMAG.csv  Saved
Finished
Get Data for :  AMAL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-09,14.903856,15.500009,14.903856,15.369601,3584100,0.0,0
2018-08-10,15.267134,15.350968,14.913168,15.276449,337800,0.0,0
2018-08-13,15.323027,15.388231,15.090155,15.369601,212100,0.0,0
2018-08-14,15.360286,15.388231,15.229878,15.369601,199800,0.0,0
2018-08-15,15.378918,15.397548,15.090156,15.304399,82100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMAL.csv  Saved
Finished
Get Data for :  AMAT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,38.810610,39.402203,38.481943,38.510113,6519500,0.0,0
2017-07-05,38.763653,39.655743,38.735483,39.552448,10942500,0.0,0
2017-07-06,39.176838,39.993804,39.026592,39.543064,11934200,0.0,0
2017-07-07,39.777825,41.130044,39.777825,40.885895,10748700,0.0,0
2017-07-10,40.942229,41.787368,40.857715,41.515045,10357900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMAT.csv  Saved
Finished
Get Data for :  AMBC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,17.350000,17.900000,17.320000,17.850000,145200,0,0
2017-07-05,17.860001,17.990000,17.469999,17.629999,254700,0,0
2017-07-06,17.620001,17.770000,17.219999,17.299999,239600,0,0
2017-07-07,17.290001,17.360001,17.120001,17.360001,157000,0,0
2017-07-10,17.350000,17.730000,17.209999,17.570000,313800,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMBC.csv  Saved
Finished
Get Data for :  AMC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.132197,18.488507,18.053017,18.369738,837100,0.0,0
2017-07-05,18.409327,18.686457,17.617528,17.775888,1898400,0.0,0
2017-07-06,17.657119,17.657119,16.984091,17.142450,2055900,0.0,0
2017-07-07,17.102860,17.617529,16.825730,17.379990,1467400,0.0,0
2017-07-10,17.300808,17.419577,16.984088,17.023678,1303600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMC.csv  Saved
Finished
Get Data for :  AMCX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,53.750000,55.250000,53.750000,54.299999,300700,0,0
2017-07-05,54.330002,54.650002,53.470001,54.029999,520100,0,0
2017-07-06,53.689999,54.250000,53.320000,53.369999,618800,0,0
2017-07-07,53.619999,54.340000,53.250000,54.080002,359200,0,0
2017-07-10,53.980000,55.180000,53.529999,55.160000,704400,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMCX.csv  Saved
Finished
Get Data for :  AMD

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2017-07-03  12.57  12.73  12.13  12.15  39929100          0             0
2017-07-05  12.36  13.21  12.32  13.19  99450200          0             0
2017-07-06  12.94  13.32  12.67  13.02  88927800          0             0
2017-07-07  13.27  13.75  13.18  13.36  88392100          0             0
2017-07-10  13.61  13.88  13.27  13.81  78320200          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMD.csv  Saved
Finished
Get Data for :  AME

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,58.982337,59.639846,58.730939,59.185390,563100,0.0,0
2017-07-05,59.204744,59.562504,59.127392,59.195076,988800,0.0,0
2017-07-06,58.953328,59.301421,58.711597,59.146709,1050200,0.0,0
2017-07-07,59.320758,59.987938,59.050021,59.523815,849500,0.0,0
2017-07-10,59.504476,60.084629,59.340097,59.659184,1072900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AME.csv  Saved
Finished
Get Data for :  AMED

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,63.130001,63.130001,62.389999,62.619999,62700,0,0
2017-07-05,62.720001,63.080002,62.509998,62.880001,119900,0,0
2017-07-06,62.439999,62.610001,59.689999,60.360001,337600,0,0
2017-07-07,60.700001,61.669998,60.299999,61.349998,469400,0,0
2017-07-10,61.349998,61.410000,59.639999,59.910000,250100,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMED.csv  Saved
Finished
Get Data for :  AMG

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,162.688864,165.127200,162.601437,163.514603,226800,0.0,0
2017-07-05,164.398655,166.691280,163.291201,165.428391,508300,0.0,0
2017-07-06,165.068947,165.612957,161.290003,161.435715,543200,0.0,0
2017-07-07,162.387762,165.933552,162.387762,165.020386,378000,0.0,0
2017-07-10,164.845541,169.061635,164.175237,167.779327,474700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMG.csv  Saved
Finished
Get Data for :  AMGN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,149.071387,150.539387,149.071387,149.218185,1395100,0.0,0
2017-07-05,149.105916,150.582560,148.458268,150.478928,2830000,0.0,0
2017-07-06,149.477199,149.917595,147.931472,148.285522,2566400,0.0,0
2017-07-07,148.216458,148.553234,147.309748,148.035110,2612900,0.0,0
2017-07-10,148.173258,149.002253,147.663778,148.700012,2070600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMGN.csv  Saved
Finished
Get Data for :  AMH

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,21.530466,21.587527,21.150070,21.501938,878900,0.0,0
2017-07-05,21.539978,21.549488,21.321250,21.368799,1703900,0.0,0
2017-07-06,21.330759,21.425858,21.150070,21.197620,2024000,0.0,0
2017-07-07,21.188112,21.463899,21.140561,21.378309,2399700,0.0,0
2017-07-10,21.587524,21.587524,21.321245,21.321245,2347400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMH.csv  Saved
Finished
Get Data for :  AMKR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,9.729124,9.798125,9.472835,9.522121,598500,0.0,0
2017-07-05,9.561552,9.729126,9.522123,9.679839,855700,0.0,0
2017-07-06,9.551694,9.788269,9.522122,9.591123,981600,0.0,0
2017-07-07,9.650267,9.817841,9.591123,9.689696,1204500,0.0,0
2017-07-10,9.679838,9.857269,9.571408,9.778411,845700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMKR.csv  Saved
Finished
Get Data for :  AMN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,39.200001,39.400002,38.599998,38.750000,286600,0,0
2017-07-05,38.700001,38.849998,38.450001,38.750000,289800,0,0
2017-07-06,38.500000,38.700001,37.150002,37.200001,533400,0,0
2017-07-07,37.200001,38.400002,36.650002,38.250000,454600,0,0
2017-07-10,37.900002,37.950001,37.450001,37.549999,362100,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMN.csv  Saved
Finished
Get Data for :  AMNB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,31.784226,32.297564,31.698668,32.169228,12700,0.0,0
2017-07-05,32.040901,32.254792,31.613118,31.869787,12400,0.0,0
2017-07-06,31.655893,32.383122,31.484779,31.613115,7300,0.0,0
2017-07-07,31.912558,32.254785,31.484775,31.912558,5900,0.0,0
2017-07-10,31.655894,32.169231,31.570339,31.827007,8800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMNB.csv  Saved
Finished
Get Data for :  AMOT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.061011,18.061011,17.450666,17.647551,19200,0.0,0.0
2017-07-05,17.640989,17.713181,17.089708,17.293158,25800,0.0,0.0
2017-07-06,17.070019,17.739432,17.070019,17.621300,72300,0.0,0.0
2017-07-07,17.568790,17.890370,17.345654,17.785366,25050,0.0,0.0
2017-07-10,17.765684,17.969132,17.404727,17.877253,20250,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMOT.csv  Saved
Finished
Get Data for :  AMP

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,114.539189,117.167881,114.111476,115.964920,539400,0.0,0
2017-07-05,116.187681,117.328260,115.171853,116.847084,895500,0.0,0
2017-07-06,116.686700,117.132239,114.842175,115.082756,797400,0.0,0
2017-07-07,115.189668,117.354981,114.922342,117.007462,634100,0.0,0
2017-07-10,116.855988,118.958933,116.312430,118.379738,696600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMP.csv  Saved
Finished
Get Data for :  AMPE

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  0.54  0.54  0.52   0.53  274200          0             0
2017-07-05  0.56  0.56  0.52   0.53  482100          0             0
2017-07-06  0.55  0.55  0.53   0.53  211600          0             0
2017-07-07  0.53  0.55  0.52   0.52  607500          0             0
2017-07-10  0.53  0.54  0.52   0.52  476900          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMPE.csv  Saved
Finished
Get Data for :  AMPH

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,17.85,18.160000,17.770000,17.930000,136900,0,0
2017-07-05,17.93,18.100000,17.780001,17.950001,175000,0,0
2017-07-06,17.84,18.040001,16.830000,17.910000,190600,0,0
2017-07-07,17.90,18.139999,17.790001,18.100000,212500,0,0
2017-07-10,18.10,18.100000,17.520000,17.620001,175900,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMPH.csv  Saved
Finished
Get Data for :  AMRB
- AMRB: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMRB.csv  Saved
Finished
Get Data for :  AMRC

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  7.75  7.85  7.55   7.55   56000          0             0
2017-07-05  7.50  7.50  7.05   7.20   78100          0             0
2017-07-06  7.15  7.20  7.05   7.05   42600          0             0
2017-07-07  7.05  7.20  7.00   7.15   30200          0             0
2017-07-10  7.05  7.18  6.90   6.90   69700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMRC.csv  Saved
Finished
Get Data for :  AMRK

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,7.225747,7.225747,7.057305,7.191195,16600,0.0,0.0
2017-07-05,7.247341,7.269800,7.040027,7.083218,5200,0.0,0.0
2017-07-06,7.048666,7.338041,7.048666,7.182556,35400,0.0,0.0
2017-07-07,7.234384,7.489207,7.217108,7.217108,24400,0.0,0.0
2017-07-10,7.441699,7.441699,7.195514,7.195514,6000,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMRK.csv  Saved
Finished
Get Data for :  AMRS

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  3.22  3.33  3.13   3.26   44100          0             0
2017-07-05  3.27  3.29  3.07   3.23   76000          0             0
2017-07-06  3.18  3.24  3.10   3.20   52400          0             0
2017-07-07  3.14  3.34  3.13   3.32   80700          0             0
2017-07-10  3.34  3.47  3.34   3.38   89900          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMRS.csv  Saved
Finished
Get Data for :  AMRX

             Open    High    Low  Close    Volume  Dividends  Stock Splits
Date
2018-05-07  17.00  17.000  14.79  15.01   2743100          0             0
2018-05-08  15.45  15.450  14.14  14.71   2237900          0             0
2018-05-09  15.03  15.340  13.47  14.47  11599400          0             0
2018-05-10  14.57  14.690  13.93  13.95   2562000          0             0
2018-05-11  14.04  15.125  13.95  14.70   1929500          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMRX.csv  Saved
Finished
Get Data for :  AMS

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  3.93  3.95  3.90   3.92    1200          0             0
2017-07-05  3.90  4.00  3.85   4.00    7600          0             0
2017-07-06  3.90  3.95  3.88   3.95    6200          0             0
2017-07-07  3.85  3.95  3.85   3.95    3800          0             0
2017-07-10  3.95  3.95  3.95   3.95    5300          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMS.csv  Saved
Finished
Get Data for :  AMSC

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  4.65  4.92  4.62   4.77   79900          0             0
2017-07-05  4.77  4.88  4.58   4.59  107700          0             0
2017-07-06  4.56  4.65  4.41   4.53   84300          0             0
2017-07-07  4.55  4.64  4.46   4.55   43600          0             0
2017-07-10  4.57  4.60  4.29   4.41  158500          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMSC.csv  Saved
Finished
Get Data for :  AMSF

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,39.410716,39.927465,39.341815,39.582966,37600,0.0,0
2017-07-05,39.617413,39.617413,38.377216,39.341812,118600,0.0,0
2017-07-06,39.066220,39.410719,37.894921,37.929371,155300,0.0,0
2017-07-07,38.136071,38.652819,37.688223,38.618370,47300,0.0,0
2017-07-10,38.342773,38.377222,37.722673,38.239422,104600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMSF.csv  Saved
Finished
Get Data for :  AMSWA

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,8.924031,8.967268,8.751085,8.854853,34600,0.0,0
2017-07-05,8.854851,8.854851,8.647316,8.690553,112700,0.0,0
2017-07-06,8.630021,8.707847,8.604080,8.638669,131900,0.0,0
2017-07-07,8.647316,8.716495,8.612727,8.655964,108700,0.0,0
2017-07-10,8.630020,8.681905,8.508958,8.543548,105000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMSWA.csv  Saved
Finished
Get Data for :  AMT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,120.127715,120.625910,118.497279,119.031700,1252800,0.0,0
2017-07-05,118.904880,120.028068,118.705602,119.792564,1707700,0.0,0
2017-07-06,119.167565,119.683879,118.660317,119.149445,1249200,0.0,0
2017-07-07,119.638597,121.196581,118.995470,120.598747,1254200,0.0,0
2017-07-10,121.051653,121.069773,118.841489,118.850555,1272100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMT.csv  Saved
Finished
Get Data for :  AMTD

             Open    High   Low  Close   Volume  Dividends  Stock Splits
Date
2019-08-05   8.91  11.190  8.89  10.09  1713800          0             0
2019-08-06  10.65  10.920  9.87   9.88   449800          0             0
2019-08-07   9.75   9.930  9.25   9.90   278100          0             0
2019-08-08   9.87   9.945  8.88   9.92   178000          0             0
2019-08-09   9.89   9.970  9.32   9.90   127700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMTD.csv  Saved
Finished
Get Data for :  AMTX

            Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  1.36  1.360  1.30  1.310    7000          0             0
2017-07-05  1.33  1.330  1.30  1.310    6500          0             0
2017-07-06  1.31  1.330  1.30  1.310   16500          0             0
2017-07-07  1.30  1.302  1.20  1.230   19000          0             0
2017-07-10  1.20  1.249  1.15  1.176   30100          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMTX.csv  Saved
Finished
Get Data for :  AMWD

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,95.199997,96.000000,94.099998,95.449997,41900,0,0
2017-07-05,95.500000,96.800003,94.699997,95.750000,55800,0,0
2017-07-06,95.099998,97.800003,95.099998,96.500000,116200,0,0
2017-07-07,96.750000,104.500000,96.750000,97.750000,268400,0,0
2017-07-10,97.750000,98.000000,96.650002,97.650002,85900,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMWD.csv  Saved
Finished
Get Data for :  AMZN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,48.639500,48.724499,47.549999,47.682999,58182000,0,0.0
2017-07-05,48.076500,48.750000,47.762501,48.570000,73060000,0,0.0
2017-07-06,48.233002,48.720001,47.951000,48.257000,65192000,0,0.0
2017-07-07,48.477501,49.005501,48.457001,48.938000,52868000,0,0.0
2017-07-10,49.250000,49.972000,49.174999,49.823502,70926000,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AMZN.csv  Saved
Finished
Get Data for :  AN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,42.480000,43.480000,42.430000,43.020000,695400,0,0
2017-07-05,42.810001,42.950001,41.790001,42.029999,1393700,0,0
2017-07-06,41.869999,42.189999,40.959999,41.070000,861200,0,0
2017-07-07,41.150002,41.919998,41.020000,41.799999,897000,0,0
2017-07-10,41.250000,41.580002,39.669998,40.340000,1934200,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AN.csv  Saved
Finished
Get Data for :  ANAB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,24.629999,25.250000,24.280001,25.010000,11600,0,0
2017-07-05,24.660000,24.660000,23.875000,24.100000,45900,0,0
2017-07-06,23.950001,24.510000,23.940001,24.200001,18700,0,0
2017-07-07,24.200001,24.309999,24.000000,24.280001,20900,0,0
2017-07-10,23.980000,24.940001,23.799999,24.260000,26900,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANAB.csv  Saved
Finished
Get Data for :  ANAT

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,101.886589,102.767465,101.513410,102.233734,4609,0.0,0
2017-07-05,102.233741,102.233741,100.328791,101.192307,10198,0.0,0
2017-07-06,101.027425,103.288193,100.246351,100.324455,23956,0.0,0
2017-07-07,100.879888,102.949732,100.380872,101.686996,21311,0.0,0
2017-07-10,101.643603,102.735974,100.906011,101.227028,13103,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANAT.csv  Saved
Finished
Get Data for :  ANDE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,30.236101,30.588710,30.147951,30.236101,45800,0.0,0
2017-07-05,30.147948,30.324253,29.530885,29.883493,87900,0.0,0
2017-07-06,29.707190,29.971645,29.425105,29.486811,119800,0.0,0
2017-07-07,29.574964,29.839419,29.222358,29.751268,73200,0.0,0
2017-07-10,29.663107,30.456472,29.663107,30.015713,117200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANDE.csv  Saved
Finished
Get Data for :  ANET

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,37.764999,37.775002,36.587502,36.722500,1431200,0,0.0
2017-07-05,36.775002,37.380001,36.775002,37.154999,3682000,0,0.0
2017-07-06,36.625000,36.919998,36.047501,36.357498,2538400,0,0.0
2017-07-07,36.512501,37.290001,36.512501,37.192501,2890400,0,0.0
2017-07-10,37.215000,37.695000,36.980000,37.337502,2691200,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANET.csv  Saved
Finished
Get Data for :  ANF

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,11.100499,11.383314,11.056309,11.277258,977800,0.0,0
2017-07-05,11.250745,11.356801,11.171203,11.339125,1602000,0.0,0
2017-07-06,11.224232,11.286098,10.808846,10.844199,1734000,0.0,0
2017-07-07,10.853034,10.853034,10.623248,10.746979,1335800,0.0,0
2017-07-10,9.536178,9.580368,8.404917,8.475621,27839400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANF.csv  Saved
Finished
Get Data for :  ANGI

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  12.94  12.98  12.50  12.91  146700          0             0
2017-07-05  12.97  13.00  12.83  12.90  492700          0             0
2017-07-06  12.78  12.84  12.54  12.67  166900          0             0
2017-07-07  12.69  12.82  12.69  12.77  105600          0             0
2017-07-10  12.76  13.02  12.53  12.73  381700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANGI.csv  Saved
Finished
Get Data for :  ANGO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,16.330000,16.520000,16.02,16.110001,97600,0,0
2017-07-05,16.200001,16.200001,15.88,16.170000,125700,0,0
2017-07-06,16.080000,16.080000,15.79,15.830000,135700,0,0
2017-07-07,15.860000,16.129999,15.77,16.080000,109700,0,0
2017-07-10,16.030001,16.090000,15.81,15.850000,82100,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANGO.csv  Saved
Finished
Get Data for :  ANH
- ANH: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANH.csv  Saved
Finished
Get Data for :  ANIK

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,49.410000,50.029999,49.410000,49.770000,53800,0,0
2017-07-05,49.790001,50.250000,49.110001,49.820000,102300,0,0
2017-07-06,49.570000,49.970001,49.099998,49.540001,121800,0,0
2017-07-07,49.439999,49.840000,49.169998,49.549999,97200,0,0
2017-07-10,49.279999,49.310001,45.660000,45.709999,235900,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANIK.csv  Saved
Finished
Get Data for :  ANIP

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,46.810001,47.310001,46.799999,47.060001,39900,0,0
2017-07-05,47.180000,47.400002,46.430000,47.000000,173500,0,0
2017-07-06,46.720001,47.220001,46.270000,46.980000,99300,0,0
2017-07-07,47.130001,47.730000,46.560001,47.680000,161900,0,0
2017-07-10,47.669998,47.669998,46.270000,46.700001,102700,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANIP.csv  Saved
Finished
Get Data for :  ANIX

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  1.27  1.32  1.16   1.17  685600          0             0
2017-07-05  1.17  1.18  1.02   1.02  588900          0             0
2017-07-06  1.06  1.09  0.96   0.96  284300          0             0
2017-07-07  0.95  1.00  0.95   0.95  160700          0             0
2017-07-10  0.95  0.97  0.90   0.91  195700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANIX.csv  Saved
Finished
Get Data for :  ANSS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,122.519997,123.989998,120.339996,120.470001,402500,0,0
2017-07-05,120.580002,121.239998,119.750000,120.870003,656600,0,0
2017-07-06,120.150002,121.430000,119.849998,120.940002,382300,0,0
2017-07-07,121.309998,123.040001,121.239998,122.389999,278300,0,0
2017-07-10,122.489998,123.379997,121.800003,122.239998,426600,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANSS.csv  Saved
Finished
Get Data for :  ANTM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,178.041225,179.894925,177.231989,178.408203,815314,0.0,0
2017-07-05,178.304741,180.591295,178.022446,179.960846,1397565,0.0,0
2017-07-06,179.725581,179.763214,178.031829,179.048080,1111229,0.0,0
2017-07-07,179.725537,180.892347,178.793970,180.299530,780722,0.0,0
2017-07-10,179.678499,181.306376,179.302116,180.779434,1006583,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ANTM.csv  Saved
Finished
Get Data for :  AON

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,127.212589,127.593502,126.584093,126.803123,558600,0.0,0
2017-07-05,127.003099,127.164981,126.384135,126.622200,1275600,0.0,0
2017-07-06,126.850771,127.774451,126.060392,127.022171,1191200,0.0,0
2017-07-07,127.336378,129.012353,127.126880,128.564789,914100,0.0,0
2017-07-10,128.488596,129.336122,128.041046,128.840942,966700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AON.csv  Saved
Finished
Get Data for :  AOS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,52.133598,52.556998,51.866670,52.050758,284300,0.0,0
2017-07-05,52.161210,52.768702,52.050758,52.649044,744900,0.0,0
2017-07-06,52.437347,52.731887,51.866673,52.078377,1091500,0.0,0
2017-07-07,52.142799,52.961989,51.986323,52.695061,408900,0.0,0
2017-07-10,52.556998,53.026423,52.529386,52.649044,465700,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AOS.csv  Saved
Finished
Get Data for :  AOSL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,16.700001,16.920000,16.280001,16.43,109600,0,0
2017-07-05,16.480000,16.760000,16.469999,16.65,68500,0,0
2017-07-06,16.420000,16.670000,16.260000,16.34,96200,0,0
2017-07-07,16.490000,16.969999,16.490000,16.90,88000,0,0
2017-07-10,16.920000,17.010000,16.500000,16.84,94400,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AOSL.csv  Saved
Finished
Get Data for :  AP

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  14.75  15.15  14.50  15.15   36200          0             0
2017-07-05  15.10  15.10  13.95  14.40   31700          0             0
2017-07-06  14.35  14.80  14.21  14.50   23800          0             0
2017-07-07  14.61  14.85  14.40  14.55   37200          0             0
2017-07-10  14.45  14.95  14.45  14.75   17600          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AP.csv  Saved
Finished
Get Data for :  APA

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,43.634884,44.884702,43.571488,44.676399,1277800,0.0,0
2017-07-05,44.359423,44.477161,43.100551,43.154892,2251300,0.0,0
2017-07-06,43.154889,43.390360,41.334503,41.452240,3540100,0.0,0
2017-07-07,41.234873,41.388838,40.392606,40.854496,4343400,0.0,0
2017-07-10,41.742047,42.910355,41.343556,42.665825,5679500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APA.csv  Saved
Finished
Get Data for :  APAM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.545612,18.786074,18.485497,18.605728,166100,0.0,0
2017-07-05,18.695905,18.725962,18.365269,18.485500,525500,0.0,0
2017-07-06,18.395330,18.515561,18.245042,18.335215,474600,0.0,0
2017-07-07,18.485500,18.545616,18.293131,18.545616,444400,0.0,0
2017-07-10,18.545616,18.846193,18.503536,18.545616,614400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APAM.csv  Saved
Finished
Get Data for :  APD

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,127.855201,128.753657,127.650608,128.353348,411600,0.0,0
2017-07-05,128.228828,128.531286,126.716593,126.858925,718700,0.0,0
2017-07-06,126.592028,127.597225,126.307379,126.431915,533600,0.0,0
2017-07-07,126.698771,128.211019,126.378545,128.104263,708700,0.0,0
2017-07-10,127.686188,128.557958,127.277002,127.650612,591100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APD.csv  Saved
Finished
Get Data for :  APDN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,68.000000,70.400002,64.800003,70.000000,2863,0,0.0
2017-07-05,70.000000,72.400002,66.000000,69.199997,4440,0,0.0
2017-07-06,68.800003,70.400002,67.599998,70.400002,2490,0,0.0
2017-07-07,70.000000,72.000000,66.000000,70.800003,3885,0,0.0
2017-07-10,70.000000,70.400002,67.199997,69.599998,1463,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APDN.csv  Saved
Finished
Get Data for :  APEI

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,23.850000,23.850000,23.450001,23.549999,23100,0,0
2017-07-05,23.500000,23.500000,23.150000,23.299999,30000,0,0
2017-07-06,23.049999,23.200001,22.200001,22.299999,44400,0,0
2017-07-07,22.350000,22.799999,22.250000,22.700001,17500,0,0
2017-07-10,22.700001,22.700001,21.799999,21.850000,29100,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APEI.csv  Saved
Finished
Get Data for :  APEN

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  7.90  8.13  7.64   8.12    2700          0             0
2017-07-05  7.94  8.30  7.09   7.86   41400          0             0
2017-07-06  7.83  8.00  7.27   7.83    3600          0             0
2017-07-07  7.32  7.70  7.32   7.37    3700          0             0
2017-07-10  7.34  7.88  7.34   7.45   22100          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APEN.csv  Saved
Finished
Get Data for :  APH

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,35.369179,35.383462,34.802624,34.802624,1160600,0.0,0.0
2017-07-05,35.012116,35.150185,34.778830,35.121616,2353400,0.0,0.0
2017-07-06,34.683603,34.888325,34.445555,34.507450,2910200,0.0,0.0
2017-07-07,34.702641,35.069237,34.645508,34.940689,1917800,0.0,0.0
2017-07-10,34.812157,35.193032,34.721697,35.121616,2050400,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APH.csv  Saved
Finished
Get Data for :  APLE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,15.325342,15.553712,15.284561,15.521089,437000,0.0,0
2017-07-05,15.472151,15.517826,15.243781,15.268249,866800,0.0,0
2017-07-06,15.227465,15.341650,15.064342,15.121436,824000,0.0,0
2017-07-07,15.162227,15.239709,15.097793,15.162227,562900,0.0,0
2017-07-10,15.178527,15.207074,14.941999,14.941999,871600,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APLE.csv  Saved
Finished
Get Data for :  APLS

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2017-11-09  14.50  14.90  13.15  14.03  2297000          0             0
2017-11-10  13.90  14.19  13.56  14.00   183100          0             0
2017-11-13  14.02  14.14  13.60  14.10    64400          0             0
2017-11-14  14.20  14.20  13.70  13.93    49300          0             0
2017-11-15  13.91  13.95  13.70  13.83    85600          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APLS.csv  Saved
Finished
Get Data for :  APOG

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,51.677344,52.427734,51.152978,52.201714,114600,0.00,0
2017-07-05,52.102264,52.707997,51.180100,51.731590,661500,0.00,0
2017-07-06,51.187799,51.305619,49.556461,49.755848,301300,0.14,0
2017-07-07,49.710535,50.154624,49.583654,49.991489,243600,0.00,0
2017-07-10,50.000552,50.517146,49.647096,49.737728,181000,0.00,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APOG.csv  Saved
Finished
Get Data for :  APPF

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,32.799999,34.299999,31.200001,31.450001,49900,0,0
2017-07-05,31.299999,32.950001,31.250000,31.799999,95000,0,0
2017-07-06,31.450001,32.000000,31.150000,31.549999,194900,0,0
2017-07-07,31.750000,32.450001,31.750000,32.150002,53900,0,0
2017-07-10,32.599998,32.900002,32.150002,32.724998,97700,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APPF.csv  Saved
Finished
Get Data for :  APPN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,18.139999,18.340000,17.525000,17.709999,170500,0,0
2017-07-05,17.670000,17.850000,17.020000,17.809999,215800,0,0
2017-07-06,17.770000,17.790001,17.250000,17.629999,157800,0,0
2017-07-07,17.570000,19.270000,17.469999,18.860001,422200,0,0
2017-07-10,18.799999,19.650000,18.639999,18.780001,326000,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APPN.csv  Saved
Finished
Get Data for :  APPS

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  1.02  1.02  0.99   0.99   70400          0             0
2017-07-05  0.99  1.03  0.99   1.01  137400          0             0
2017-07-06  1.02  1.04  1.00   1.02   56600          0             0
2017-07-07  1.01  1.07  1.00   1.05  101500          0             0
2017-07-10  1.04  1.05  0.99   1.01  125500          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APPS.csv  Saved
Finished
Get Data for :  APRN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,142.199997,145.050003,133.199997,145.050003,284700,0,0.0
2017-07-05,144.000000,144.449997,131.699997,132.600006,340253,0,0.0
2017-07-06,132.449997,132.600006,119.250000,120.900002,836460,0,0.0
2017-07-07,121.650002,123.599998,110.400002,115.949997,546633,0,0.0
2017-07-10,117.150002,124.800003,114.300003,122.099998,363347,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APRN.csv  Saved
Finished
Get Data for :  APT

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  2.91  3.00  2.91   3.00     800          0             0
2017-07-05  3.00  3.05  2.95   3.00   15000          0             0
2017-07-06  3.03  3.10  3.00   3.10   25300          0             0
2017-07-07  3.10  3.15  3.00   3.00   43100          0             0
2017-07-10  2.95  3.15  2.95   3.08   23900          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APT.csv  Saved
Finished
Get Data for :  APTS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,11.382570,11.468747,11.289211,11.440022,88111,0.0,0
2017-07-05,11.432840,11.454384,11.174309,11.440022,297366,0.0,0
2017-07-06,11.346663,11.346663,11.037861,11.080950,236287,0.0,0
2017-07-07,11.066585,11.124037,10.944501,11.095311,253058,0.0,0
2017-07-10,11.095313,11.124039,10.865508,10.872689,247029,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APTS.csv  Saved
Finished
Get Data for :  APTV

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,72.251534,72.988128,71.793209,71.858688,807422,0.0,0.0
2017-07-05,71.850504,72.136960,71.015699,71.940536,1765044,0.0,0.0
2017-07-06,71.621338,72.038745,70.770167,70.982964,1393185,0.0,0.0
2017-07-07,71.040245,73.119075,70.852008,72.939018,1964394,0.0,0.0
2017-07-10,72.979947,74.600452,72.775337,74.420395,2332196,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APTV.csv  Saved
Finished
Get Data for :  APVO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,28.840000,29.820000,28.700001,28.700001,2386,0,0.0
2017-07-05,28.420000,28.504000,28.139999,28.139999,3336,0,0.0
2017-07-06,28.139999,28.420000,26.600000,26.879999,10793,0,0.0
2017-07-07,27.160000,27.440001,26.600000,26.740000,2114,0,0.0
2017-07-10,26.600000,26.879999,24.500000,25.059999,18414,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APVO.csv  Saved
Finished
Get Data for :  APYX

            Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-01-02  7.96  7.960  6.211   6.47  104900          0             0
2019-01-03  6.75  6.750  6.100   6.50  130400          0             0
2019-01-04  6.50  6.975  6.450   6.62  108700          0             0
2019-01-07  6.84  8.530  6.750   7.49  401900          0             0
2019-01-08  7.50  8.100  7.493   7.74  299400          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//APYX.csv  Saved
Finished
Get Data for :  AQB

             Open   High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  7.970  8.240  7.80   7.90    7700          0             0
2017-07-05  8.010  8.010  7.48   7.93   21000          0             0
2017-07-06  7.960  7.960  7.30   7.47   28700          0             0
2017-07-07  7.702  7.702  7.25   7.25    6800          0             0
2017-07-10  7.314  7.550  7.17   7.17   22900          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AQB.csv  Saved
Finished
Get Data for :  AQMS

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  12.65  12.65  12.23  12.55   61400          0             0
2017-07-05  12.56  12.61  12.12  12.49  142100          0             0
2017-07-06  12.34  12.54  11.83  11.91  197000          0             0
2017-07-07  11.99  12.34  11.95  12.12  125900          0             0
2017-07-10  12.13  12.22  11.89  11.99   98000          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AQMS.csv  Saved
Finished
Get Data for :  AQUA

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-02,19.100000,21.040001,19.100000,20.879999,14271600,0,0
2017-11-03,21.139999,21.200001,20.000000,20.320000,1077600,0,0
2017-11-06,20.340000,20.680000,20.059999,20.400000,1081800,0,0
2017-11-07,20.450001,20.510000,20.260000,20.260000,332400,0,0
2017-11-08,20.350000,20.690001,20.120001,20.299999,2711300,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AQUA.csv  Saved
Finished
Get Data for :  AR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,21.660000,21.950001,21.520000,21.770000,1628400,0,0
2017-07-05,21.549999,21.549999,20.950001,20.990000,2819100,0,0
2017-07-06,21.240000,21.370001,20.690001,20.840000,3009900,0,0
2017-07-07,20.879999,20.910000,20.299999,20.660000,2002400,0,0
2017-07-10,20.610001,21.309999,20.440001,21.290001,2451500,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AR.csv  Saved
Finished
Get Data for :  ARA
- ARA: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARA.csv  Saved
Finished
Get Data for :  ARAV

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,106.199997,109.800003,104.400002,107.699997,12800,0,0.0
2017-07-05,107.099998,109.199997,102.900002,103.199997,56483,0,0.0
2017-07-06,101.699997,105.300003,101.400002,102.599998,29583,0,0.0
2017-07-07,102.599998,105.300003,102.599998,104.699997,24983,0,0.0
2017-07-10,103.500000,103.800003,101.099998,101.099998,18667,0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARAV.csv  Saved
Finished
Get Data for :  ARAY

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  4.75  4.80  4.55   4.60  234800          0             0
2017-07-05  4.55  4.75  4.45   4.55  749200          0             0
2017-07-06  4.55  4.60  4.45   4.45  243900          0             0
2017-07-07  4.45  4.60  4.40   4.55  285900          0             0
2017-07-10  4.50  4.65  4.45   4.55  306400          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARAY.csv  Saved
Finished
Get Data for :  ARC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,3.871550,3.889986,3.843897,3.871550,60400,0.0,0
2017-07-05,3.853114,3.853114,3.733280,3.797806,53200,0.0,0
2017-07-06,3.779371,3.843897,3.724063,3.733281,72400,0.0,0
2017-07-07,3.797806,3.853114,3.714845,3.779370,83800,0.0,0
2017-07-10,3.760935,3.853114,3.742499,3.751717,66400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARC.csv  Saved
Finished
Get Data for :  ARCB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,19.878465,20.692764,19.543165,20.453264,97600,0.0,0
2017-07-05,20.453260,20.453260,19.830561,20.117960,247800,0.0,0
2017-07-06,19.830563,20.146702,19.782662,19.878462,182600,0.0,0
2017-07-07,20.022157,20.740656,19.686858,20.692757,186900,0.0,0
2017-07-10,20.692763,21.152602,20.501162,20.932262,312500,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARCB.csv  Saved
Finished
Get Data for :  ARCH

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,61.432345,62.649537,61.092250,61.557644,195900,0.0,0
2017-07-05,61.700850,62.622693,60.313608,62.560043,343500,0.0,0
2017-07-06,62.381045,62.998592,61.199654,61.530804,329400,0.0,0
2017-07-07,61.521836,62.756931,60.832694,62.327332,560200,0.0,0
2017-07-10,61.996190,63.544531,61.691895,62.998585,360000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARCH.csv  Saved
Finished
Get Data for :  ARDX

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  5.15  5.30  5.00   5.30  149000          0             0
2017-07-05  5.25  5.40  5.10   5.20  259200          0             0
2017-07-06  5.20  5.30  5.00   5.10  157000          0             0
2017-07-07  5.20  5.45  5.15   5.45  256300          0             0
2017-07-10  5.60  6.00  5.50   5.50  359700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARDX.csv  Saved
Finished
Get Data for :  ARE

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,105.586259,105.725880,104.469314,105.542625,291700,0.0,0
2017-07-05,105.542633,106.197093,104.757286,105.019066,538300,0.0,0
2017-07-06,104.914334,105.176115,103.099297,103.099297,444600,0.0,0
2017-07-07,103.099310,103.535617,102.724086,103.430901,399400,0.0,0
2017-07-10,103.605429,104.137718,102.279053,102.279053,367300,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARE.csv  Saved
Finished
Get Data for :  ARES

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,14.353509,14.511675,14.155802,14.472133,22700,0.0,0
2017-07-05,14.472133,14.472133,14.313968,14.393051,46300,0.0,0
2017-07-06,14.353509,14.393052,14.234886,14.274426,31500,0.0,0
2017-07-07,14.353509,14.393052,14.195345,14.274426,228800,0.0,0
2017-07-10,14.234886,14.393052,14.234886,14.274426,113400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARES.csv  Saved
Finished
Get Data for :  ARGO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,48.332703,51.294264,48.174750,48.609116,55315,0.0,0.0
2017-07-05,48.609124,48.648609,47.345524,47.858860,112700,0.0,0.0
2017-07-06,47.700901,48.056289,46.753200,47.977314,119600,0.0,0.0
2017-07-07,48.095777,48.727576,47.898335,48.688087,99590,0.0,0.0
2017-07-10,48.609114,48.609114,47.740387,48.016800,147545,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARGO.csv  Saved
Finished
Get Data for :  ARI

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,10.688748,10.798052,10.682996,10.775041,546000,0.0,0
2017-07-05,10.775041,10.815311,10.752030,10.780794,1078400,0.0,0
2017-07-06,10.775041,10.786547,10.700255,10.711761,1359800,0.0,0
2017-07-07,10.688748,10.700254,10.510411,10.544928,1126200,0.0,0
2017-07-10,10.550681,10.602457,10.504658,10.521917,1095400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARI.csv  Saved
Finished
Get Data for :  ARKR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,21.239427,21.239427,21.230690,21.230690,1000,0.0,0
2017-07-05,21.318060,21.623852,21.318060,21.623852,700,0.0,0
2017-07-06,21.623852,21.623852,21.318060,21.318060,1500,0.0,0
2017-07-07,19.666784,21.920906,19.666784,21.221954,1800,0.0,0
2017-07-10,21.344268,21.344268,21.300583,21.300583,1000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARKR.csv  Saved
Finished
Get Data for :  ARL

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  8.53  8.57  8.34   8.34    1100          0             0
2017-07-05  8.40  8.95  8.40   8.93    5200          0             0
2017-07-06  8.01  8.63  8.01   8.60    2500          0             0
2017-07-07  8.25  8.39  8.25   8.36    1000          0             0
2017-07-10  8.36  8.73  8.36   8.37    2300          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARL.csv  Saved
Finished
Get Data for :  ARLO

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-03,18.500000,22.450001,18.299999,22.100000,9347300,0,0
2018-08-06,21.820000,22.000000,20.120001,20.900000,2479600,0,0
2018-08-07,20.700001,20.870001,19.799999,19.950001,1493500,0,0
2018-08-08,19.850000,21.000000,19.809999,20.830000,1914300,0,0
2018-08-09,20.799999,21.000000,19.000000,19.150000,1959300,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARLO.csv  Saved
Finished
Get Data for :  ARMK

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,38.680289,38.699084,38.492337,38.595711,400300,0.0,0
2017-07-05,38.642702,38.699088,38.191620,38.464149,1141200,0.0,0
2017-07-06,38.060048,38.172818,37.468002,37.477402,1717200,0.0,0
2017-07-07,37.712335,37.843900,37.543179,37.815708,1476500,0.0,0
2017-07-10,37.881487,38.107026,37.505584,37.674740,1595400,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARMK.csv  Saved
Finished
Get Data for :  ARNA

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,17.000000,17.510000,16.950001,17.480000,290399,0,0
2017-07-05,17.459999,17.930000,17.040001,17.520000,841063,0,0
2017-07-06,17.379999,18.639999,17.209999,17.990000,1043660,0,0
2017-07-07,18.920000,19.900000,18.740000,19.250000,1706699,0,0
2017-07-10,19.440001,19.440001,18.260000,18.389999,2533743,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARNA.csv  Saved
Finished
Get Data for :  ARNC

             Open   High   Low  Close    Volume  Dividends  Stock Splits
Date
2020-04-01  15.00  15.00  5.80   6.92   9626600          0             0
2020-04-02   7.31   7.98  6.00   6.21  13963700          0             0
2020-04-03   6.61   8.10  6.33   8.06  26556800          0             0
2020-04-06   8.68   9.00  7.23   7.30   7505200          0             0
2020-04-07   7.50   7.58  7.20   7.30   4968800          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARNC.csv  Saved
Finished
Get Data for :  AROC

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,8.399456,8.552837,8.326417,8.399456,321000,0.0,0
2017-07-05,8.289897,8.435974,7.961222,8.107300,382300,0.0,0
2017-07-06,8.034263,8.216860,7.961224,8.034263,459100,0.0,0
2017-07-07,7.961224,7.961224,7.742109,7.851666,365700,0.0,0
2017-07-10,7.778627,8.180341,7.778627,8.070783,365900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AROC.csv  Saved
Finished
Get Data for :  AROW

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,24.823413,25.450860,24.784197,25.137136,10709,0.0,0.0
2017-07-05,25.019488,25.019488,24.470470,24.627333,12239,0.0,0.0
2017-07-06,24.548904,25.058705,24.494002,24.784197,13550,0.0,0.0
2017-07-07,24.705770,25.058709,24.705770,25.019495,6993,0.0,0.0
2017-07-10,24.980276,24.980276,24.470474,24.509689,12894,0.0,0.0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//AROW.csv  Saved
Finished
Get Data for :  ARPO
- ARPO: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARPO.csv  Saved
Finished
Get Data for :  ARR

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,14.612148,14.798290,14.571428,14.757571,518300,0.0,0
2017-07-05,14.775018,14.937893,14.676130,14.780835,840400,0.0,0
2017-07-06,14.705216,14.728483,14.594694,14.617961,910300,0.0,0
2017-07-07,14.629600,14.658685,14.489994,14.513262,484300,0.0,0
2017-07-10,14.513258,14.786653,14.478355,14.600512,849100,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARR.csv  Saved
Finished
Get Data for :  ARTNA

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,33.359341,33.850566,33.245309,33.727760,6400,0.0,0
2017-07-05,33.517219,33.517219,32.754069,32.990910,22800,0.0,0
2017-07-06,32.947054,33.087404,32.315480,32.648811,9700,0.0,0
2017-07-07,32.745304,33.315472,32.745304,33.113720,9100,0.0,0
2017-07-10,32.824241,33.947040,32.394423,32.473370,27200,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARTNA.csv  Saved
Finished
Get Data for :  ARTW

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  3.04  3.13  3.00   3.13    9300          0             0
2017-07-05  3.10  3.10  3.00   3.07   13700          0             0
2017-07-06  3.01  3.10  3.00   3.05    5800          0             0
2017-07-07  3.05  3.08  3.05   3.05     900          0             0
2017-07-10  3.02  3.02  3.00   3.00    5400          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARTW.csv  Saved
Finished
Get Data for :  ARVN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-09-27,21.000000,21.250000,16.00,16.049999,3424000,0,0
2018-09-28,15.980000,16.990000,15.94,16.870001,315800,0,0
2018-10-01,16.879999,17.240000,16.00,16.010000,78700,0,0
2018-10-02,16.000000,16.110001,14.00,14.810000,524100,0,0
2018-10-03,15.250000,15.650000,14.81,15.650000,87200,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARVN.csv  Saved
Finished
Get Data for :  ARW

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,79.139999,79.620003,78.669998,79.010002,209000,0,0
2017-07-05,78.980003,79.370003,78.610001,78.930000,398300,0,0
2017-07-06,78.150002,78.550003,77.330002,77.500000,461900,0,0
2017-07-07,77.809998,79.239998,77.290001,78.779999,310400,0,0
2017-07-10,78.709999,78.940002,77.500000,78.360001,522800,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARW.csv  Saved
Finished
Get Data for :  ARWR

            Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  1.64  1.680  1.610   1.65  273300          0             0
2017-07-05  1.65  1.720  1.635   1.67  635600          0             0
2017-07-06  1.66  1.720  1.600   1.60  312500          0             0
2017-07-07  1.62  1.665  1.600   1.62  352900          0             0
2017-07-10  1.62  1.620  1.520   1.56  792700          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ARWR.csv  Saved
Finished
Get Data for :  ASB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,21.431430,21.896411,21.389158,21.727327,494300,0.0,0
2017-07-05,21.727328,21.854141,21.346888,21.600513,822400,0.0,0
2017-07-06,21.600515,21.685057,21.262347,21.304619,1269100,0.0,0
2017-07-07,21.389158,21.600513,21.220075,21.600513,662000,0.0,0
2017-07-10,21.473700,21.642784,21.304616,21.473700,927800,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASB.csv  Saved
Finished
Get Data for :  ASFI
- ASFI: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASFI.csv  Saved
Finished
Get Data for :  ASGN

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,54.389999,54.820000,54.270000,54.419998,123400,0,0
2017-07-05,54.480000,54.540001,54.119999,54.389999,181100,0,0
2017-07-06,53.930000,54.490002,53.400002,53.689999,167200,0,0
2017-07-07,53.779999,54.740002,53.330002,54.639999,132900,0,0
2017-07-10,54.520000,54.779999,54.000000,54.279999,132700,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASGN.csv  Saved
Finished
Get Data for :  ASH

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,61.809103,62.444769,61.659531,61.958668,276100,0.0,0
2017-07-05,61.921267,62.323232,61.407131,61.640831,1047700,0.0,0
2017-07-06,61.528659,61.818445,60.921036,61.229523,925800,0.0,0
2017-07-07,61.257578,62.052158,61.089313,61.425842,533800,0.0,0
2017-07-10,61.210829,61.631487,60.930386,61.453873,570900,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASH.csv  Saved
Finished
Get Data for :  ASIX

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,30.835642,31.430542,30.657171,31.182667,133500,0.0,0
2017-07-05,31.212412,31.926293,30.587768,31.807314,310100,0.0,0
2017-07-06,31.817228,32.600513,31.678418,32.075016,293500,0.0,0
2017-07-07,32.283232,32.967365,32.015527,32.897961,235500,0.0,0
2017-07-10,32.808726,33.066514,32.106744,32.759151,339000,0.0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASIX.csv  Saved
Finished
Get Data for :  ASMB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-07-03,20.540001,20.860001,19.969999,20.680000,44800,0,0
2017-07-05,20.809999,21.190001,20.260000,21.040001,89100,0,0
2017-07-06,20.879999,20.879999,18.600000,20.680000,139700,0,0
2017-07-07,20.700001,21.150000,19.879999,21.030001,71900,0,0
2017-07-10,20.959999,21.170000,20.480000,20.910000,68000,0,0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASMB.csv  Saved
Finished
Get Data for :  ASNA
- ASNA: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASNA.csv  Saved
Finished
Get Data for :  ASPN

            Open  High   Low  Close  Volume  Dividends  Stock Splits
Date
2017-07-03  4.44  4.48  4.31   4.41   31000          0             0
2017-07-05  4.37  4.73  4.31   4.64   85200          0             0
2017-07-06  4.63  4.63  4.35   4.39    9100          0             0
2017-07-07  4.39  4.48  4.28   4.45    7000          0             0
2017-07-10  4.46  4.58  4.34   4.49   34200          0             0

C://Users//sophi//Documents//Portfolio Projects//DS_for_Investing//Wilshire_Stocks//ASPN.csv  Saved
Finished
Get Data for :  ASPS

KeyboardInterrupt:

### Save all the data from the CSVs into a dataframe

In [14]:
def get_data_from_csv(ticker):
    try:
        df = pd.read_csv(PATH + ticker + '.csv', index_col=0)
    except Exception as e:
        print(e)
    
    return df

In [15]:
files = [x for x in listdir(PATH) if isfile(join(PATH, x))]
tickers = [os.path.splitext(x)[0] for x in files]

In [16]:
tickers[:5]

['A', 'AA', 'AAL', 'AAME', 'AAN']

### Add return columns to dataframes

In [17]:
def add_daily_return_to_df(df):
    '''
    Adds a daily return column to the df
    '''
    df['daily_return'] = (df['Close'] / df['Close'].shift(1)) - 1
    return df


def add_cum_return_to_df(df):
    '''
    Adds cumulative return column to df
    '''
    df['cum_return'] = (1 + df['daily_return']).cumprod()
    return df

### Add Bollinger Bands

In [18]:
def add_bolinger_bands(df):
    '''
    Adds a bolinger band column to the dataframe
    '''
    
    df['middle_band'] = df['Close'].rolling(window=20).mean()
    df['upper_band'] = df['middle_band'] + 1.96 * df['Close'].rolling(window=20).std()
    df['lower_band'] = df['middle_band'] - 1.96 * df['Close'].rolling(window=20).std()
    return df

### Add Ichimoku Data to Dataframe

The Ichimoku (One Look) is considered an all in one indicator. It provides information on momentum, support and resistance. It is made up of 5 lines. Long term traders focus on day or weekly data.

 - Conversion Line (Tenkan-sen) : Represents support, resistance and reversals. Used to measure short term trends.
 - Baseline (Kijun-sen) : Represents support, resistance and confirms trend changes. Allows you to evaluate the strength of medium term trends. Called the baseline because it lags the price.
 - Leading Span A (Senkou A) : Used to identify future areas of support and resistance
 - Leading Span B (Senkou B) : Other line used to identify suture support and resistance
 - Lagging Span (Chikou) : Shows possible support and resistance. It is used to confirm signals obtained from other lines.
 - Cloud (Kumo) : Space between Span A and B. Represents the divergence in price evolution.

In [19]:
def add_Ichimoku(df):
    '''
    Add Ichimoku Data to Dataframe
    '''
    # Lagging Span = Price shifted back 26 periods
    df['Lagging'] = df['Close'].shift(-26)
    
    # Base Line = (Highest Value in period + Lowest value in period)/2 (26 Sessions)
    hi_val2 = df['High'].rolling(window=26).max()
    low_val2 = df['Low'].rolling(window=26).min()
    df['Baseline'] = (hi_val2 + low_val2) / 2
    
    # Conversion Line = (Highest Value in period + Lowest value in period)/2 (9 Sessions)
    hi_val = df['High'].rolling(window=9).max()
    low_val = df['Low'].rolling(window=9).min()
    df['Conversion'] = (hi_val + low_val) / 2
    
    # Leading Span A = (Conversion Value + Base Value)/2 (26 Sessions)
    df['SpanA'] = ((df['Conversion'] + df['Baseline']) / 2)
    
    # Leading Span B = (Conversion Value + Base Value)/2 (52 Sessions)
    hi_val3 = df['High'].rolling(window=52).max()
    low_val3 = df['Low'].rolling(window=52).min()
    df['SpanB'] = ((hi_val3 + low_val3) / 2).shift(26)

    return df

## Test above functions on 1 file before running on all 3000+ other files

In [20]:
try: 
    ticker = 'AA'
    print('Working on file', ticker)
    new_df = get_data_from_csv(ticker)
    new_df = add_daily_return_to_df(new_df)
    new_df = add_cum_return_to_df(new_df)
    new_df = add_bolinger_bands(new_df)
    new_df = add_Ichimoku(new_df)
    new_df.to_csv(PATH + 'A' + '.csv')
    print('Success: File', ticker, 'ammended and saved')
    display(new_df.head())
except Exception as e:
    print(e)

Working on file AA
Success: File AA ammended and saved

,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,cum_return,middle_band,upper_band,lower_band,Lagging,Baseline,Conversion,SpanA,SpanB
Date,,,,,,,,,,,,,,,,,
2017-07-03,32.775674,34.128890,32.750801,33.850288,3114300,0.0,0,NaN,NaN,NaN,NaN,NaN,38.427338,NaN,NaN,NaN,NaN
2017-07-05,33.999538,34.084117,33.402533,33.601536,4007000,0.0,0,-0.007349,0.992651,NaN,NaN,NaN,37.591530,NaN,NaN,NaN,NaN
2017-07-06,33.442338,35.203508,33.432385,33.720940,6220900,0.0,0,0.003554,0.996179,NaN,NaN,NaN,37.591530,NaN,NaN,NaN,NaN
2017-07-07,33.830385,34.198538,33.099051,34.019436,3776600,0.0,0,0.008852,1.004997,NaN,NaN,NaN,37.004475,NaN,NaN,NaN,NaN
2017-07-10,33.740840,34.278147,33.511988,33.969692,3037400,0.0,0,-0.001462,1.003527,NaN,NaN,NaN,37.312931,NaN,NaN,NaN,NaN

In [22]:
# test was a success
# now lets add daily, cumulative, bollinger bands and 
# ichimoku data to the saved csvs

for x in tickers:
    try: 
        ticker = x
        print('Working on file', x)
        new_df = get_data_from_csv(ticker)
        new_df = add_daily_return_to_df(new_df)
        new_df = add_cum_return_to_df(new_df)
        new_df = add_bolinger_bands(new_df)
        new_df = add_Ichimoku(new_df)
        new_df.to_csv(PATH + x + '.csv')
        print('Success: File', x, 'ammended and saved')
#         display(new_df.head())
    except Exception as e:
        print(e)

Working on file A
Success: File A ammended and saved
Working on file AA
Success: File AA ammended and saved
Working on file AAL
Success: File AAL ammended and saved
Working on file AAME
Success: File AAME ammended and saved
Working on file AAN
Success: File AAN ammended and saved
Working on file AAOI
Success: File AAOI ammended and saved
Working on file AAON
Success: File AAON ammended and saved
Working on file AAP
Success: File AAP ammended and saved
Working on file AAPL
Success: File AAPL ammended and saved
Working on file AAT
Success: File AAT ammended and saved
Working on file AAWW
Success: File AAWW ammended and saved
Working on file AAXN
Success: File AAXN ammended and saved
Working on file ABBV
Success: File ABBV ammended and saved
Working on file ABC
Success: File ABC ammended and saved
Working on file ABCB
Success: File ABCB ammended and saved
Working on file ABEO
Success: File ABEO ammended and saved
Working on file ABG
Success: File ABG ammended and saved
Working on file ABIO
Success: File ABIO ammended and saved
Working on file ABM
Success: File ABM ammended and saved
Working on file ABMD
Success: File ABMD ammended and saved
Working on file ABR
Success: File ABR ammended and saved
Working on file ABT
Success: File ABT ammended and saved
Working on file ABTX
Success: File ABTX ammended and saved
Working on file AC
Success: File AC ammended and saved
Working on file ACA
Success: File ACA ammended and saved
Working on file ACAD
Success: File ACAD ammended and saved
Working on file ACBI
Success: File ACBI ammended and saved
Working on file ACC
Success: File ACC ammended and saved
Working on file ACCO
Success: File ACCO ammended and saved
Working on file ACER
Success: File ACER ammended and saved
Working on file ACGL
Success: File ACGL ammended and saved
Working on file ACHC
Success: File ACHC ammended and saved
Working on file ACHV
Success: File ACHV ammended and saved
Working on file ACIA
Success: File ACIA ammended and saved
Working on file ACIW
Success: File ACIW ammended and saved
Working on file ACLS
Success: File ACLS ammended and saved
Working on file ACM
Success: File ACM ammended and saved
Working on file ACMR
Success: File ACMR ammended and saved
Working on file ACN
Success: File ACN ammended and saved
Working on file ACNB
Success: File ACNB ammended and saved
Working on file ACOR
Success: File ACOR ammended and saved
Working on file ACRE
Success: File ACRE ammended and saved
Working on file ACRS
Success: File ACRS ammended and saved
Working on file ACRX
Success: File ACRX ammended and saved
Working on file ACTG
Success: File ACTG ammended and saved
Working on file ACU
Success: File ACU ammended and saved
Working on file ACY
Success: File ACY ammended and saved
Working on file ADBE
Success: File ADBE ammended and saved
Working on file ADC
Success: File ADC ammended and saved
Working on file ADES
Success: File ADES ammended and saved
Working on file ADI
Success: File ADI ammended and saved
Working on file ADM
Success: File ADM ammended and saved
Working on file ADMA
Success: File ADMA ammended and saved
Working on file ADMP
Success: File ADMP ammended and saved
Working on file ADMS
Success: File ADMS ammended and saved
Working on file ADNT
Success: File ADNT ammended and saved
Working on file ADP
Success: File ADP ammended and saved
Working on file ADRO
Success: File ADRO ammended and saved
Working on file ADS
Success: File ADS ammended and saved
Working on file ADSK
Success: File ADSK ammended and saved
Working on file ADSW
Success: File ADSW ammended and saved
Working on file ADT
Success: File ADT ammended and saved
Working on file ADTN
Success: File ADTN ammended and saved
Working on file ADUS
Success: File ADUS ammended and saved
Working on file ADVM
Success: File ADVM ammended and saved
Working on file ADXS
Success: File ADXS ammended and saved
Working on file AE
Success: File AE ammended and saved
Working on file AEE
Success: File AEE ammended and saved
Working on file AEGN
Success: File AEGN ammended and saved
Working on file AEHR
Success: File AEHR ammended and saved
Working on file AEIS
Success: File AEIS ammended and saved
Working on file AEL
Success: File AEL ammended and saved
Working on file AEMD
Success: File AEMD ammended and saved
Working on file AEO
Success: File AEO ammended and saved
Working on file AEP
Success: File AEP ammended and saved
Working on file AERI
Success: File AERI ammended and saved
Working on file AES
Success: File AES ammended and saved
Working on file AEY
Success: File AEY ammended and saved
Working on file AFG
Success: File AFG ammended and saved
Working on file AFH
Success: File AFH ammended and saved
Working on file AFI
Success: File AFI ammended and saved
Working on file AFIN
Success: File AFIN ammended and saved
Working on file AFL
Success: File AFL ammended and saved
Working on file AGCO
Success: File AGCO ammended and saved
Working on file AGE
Success: File AGE ammended and saved
Working on file AGEN
Success: File AGEN ammended and saved
Working on file AGFS
Success: File AGFS ammended and saved
Working on file AGIO
Success: File AGIO ammended and saved
Working on file AGLE
Success: File AGLE ammended and saved
Working on file AGM
Success: File AGM ammended and saved
Working on file AGNC
Success: File AGNC ammended and saved
Working on file AGO
Success: File AGO ammended and saved
Working on file AGR
Success: File AGR ammended and saved
Working on file AGRX
Success: File AGRX ammended and saved
Working on file AGS
Success: File AGS ammended and saved
Working on file AGTC
Success: File AGTC ammended and saved
Working on file AGX
Success: File AGX ammended and saved
Working on file AGYS
Success: File AGYS ammended and saved
Working on file AHC
Success: File AHC ammended and saved
Working on file AHH
Success: File AHH ammended and saved
Working on file AHT
Success: File AHT ammended and saved
Working on file AIG
Success: File AIG ammended and saved
Working on file AIMC
Success: File AIMC ammended and saved
Working on file AIMT
Success: File AIMT ammended and saved
Working on file AIN
Success: File AIN ammended and saved
Working on file AINC
Success: File AINC ammended and saved
Working on file AIR
Success: File AIR ammended and saved
Working on file AIRG
Success: File AIRG ammended and saved
Working on file AIRI
Success: File AIRI ammended and saved
Working on file AIRT
Success: File AIRT ammended and saved
Working on file AIT
Success: File AIT ammended and saved
Working on file AIV
Success: File AIV ammended and saved
Working on file AIZ
Success: File AIZ ammended and saved
Working on file AJG
Success: File AJG ammended and saved
Working on file AJRD
Success: File AJRD ammended and saved
Working on file AJX
Success: File AJX ammended and saved
Working on file AKAM
Success: File AKAM ammended and saved
Working on file AKBA
Success: File AKBA ammended and saved
Working on file AKCA
Success: File AKCA ammended and saved
Working on file AKER
Success: File AKER ammended and saved
Working on file AKR
Success: File AKR ammended and saved
Working on file AKTS
Success: File AKTS ammended and saved
Working on file AL
Success: File AL ammended and saved
Working on file ALB
Success: File ALB ammended and saved
Working on file ALBO
Success: File ALBO ammended and saved
Working on file ALCO
Success: File ALCO ammended and saved
Working on file ALDX
Success: File ALDX ammended and saved
Working on file ALE
Success: File ALE ammended and saved
Working on file ALEC
Success: File ALEC ammended and saved
Working on file ALEX
Success: File ALEX ammended and saved
Working on file ALG
Success: File ALG ammended and saved
Working on file ALGN
Success: File ALGN ammended and saved
Working on file ALGT
Success: File ALGT ammended and saved
Working on file ALIM
Success: File ALIM ammended and saved
Working on file ALJJ
Success: File ALJJ ammended and saved
Working on file ALK
Success: File ALK ammended and saved
Working on file ALKS
Success: File ALKS ammended and saved
Working on file ALL
Success: File ALL ammended and saved
Working on file ALLE
Success: File ALLE ammended and saved
Working on file ALLK
Success: File ALLK ammended and saved
Working on file ALLO
Success: File ALLO ammended and saved
Working on file ALLY
Success: File ALLY ammended and saved
Working on file ALNA
Success: File ALNA ammended and saved
Working on file ALNY

Success: File ALNY ammended and saved
Working on file ALOT
Success: File ALOT ammended and saved
Working on file ALPN
Success: File ALPN ammended and saved
Working on file ALRM
Success: File ALRM ammended and saved
Working on file ALSK
Success: File ALSK ammended and saved
Working on file ALSN
Success: File ALSN ammended and saved
Working on file ALT
Success: File ALT ammended and saved
Working on file ALTM
Success: File ALTM ammended and saved
Working on file ALTR
Success: File ALTR ammended and saved
Working on file ALV
Success: File ALV ammended and saved
Working on file ALX
Success: File ALX ammended and saved
Working on file ALXN
Success: File ALXN ammended and saved
Working on file AM
Success: File AM ammended and saved
Working on file AMAG
Success: File AMAG ammended and saved
Working on file AMAL
Success: File AMAL ammended and saved
Working on file AMAT
Success: File AMAT ammended and saved
Working on file AMBC
Success: File AMBC ammended and saved
Working on file AMC
Success: File AMC ammended and saved
Working on file AMCX
Success: File AMCX ammended and saved
Working on file AMD
Success: File AMD ammended and saved
Working on file AME
Success: File AME ammended and saved
Working on file AMED
Success: File AMED ammended and saved
Working on file AMG
Success: File AMG ammended and saved
Working on file AMGN
Success: File AMGN ammended and saved
Working on file AMH
Success: File AMH ammended and saved
Working on file AMKR
Success: File AMKR ammended and saved
Working on file AMN
Success: File AMN ammended and saved
Working on file AMNB
Success: File AMNB ammended and saved
Working on file AMOT
Success: File AMOT ammended and saved
Working on file AMP
Success: File AMP ammended and saved
Working on file AMPE
Success: File AMPE ammended and saved
Working on file AMPH
Success: File AMPH ammended and saved
Working on file AMRB
Success: File AMRB ammended and saved
Working on file AMRC
Success: File AMRC ammended and saved
Working on file AMRK
Success: File AMRK ammended and saved
Working on file AMRS
Success: File AMRS ammended and saved
Working on file AMRX
Success: File AMRX ammended and saved
Working on file AMS
Success: File AMS ammended and saved
Working on file AMSC
Success: File AMSC ammended and saved
Working on file AMSF
Success: File AMSF ammended and saved
Working on file AMSWA
Success: File AMSWA ammended and saved
Working on file AMT
Success: File AMT ammended and saved
Working on file AMTD
Success: File AMTD ammended and saved
Working on file AMTX
Success: File AMTX ammended and saved
Working on file AMWD
Success: File AMWD ammended and saved
Working on file AMZN
Success: File AMZN ammended and saved
Working on file AN
Success: File AN ammended and saved
Working on file ANAB
Success: File ANAB ammended and saved
Working on file ANAT
Success: File ANAT ammended and saved
Working on file ANDE
Success: File ANDE ammended and saved
Working on file ANET
Success: File ANET ammended and saved
Working on file ANF
Success: File ANF ammended and saved
Working on file ANGI
Success: File ANGI ammended and saved
Working on file ANGO
Success: File ANGO ammended and saved
Working on file ANH
Success: File ANH ammended and saved
Working on file ANIK
Success: File ANIK ammended and saved
Working on file ANIP
Success: File ANIP ammended and saved
Working on file ANIX
Success: File ANIX ammended and saved
Working on file ANSS
Success: File ANSS ammended and saved
Working on file ANTM
Success: File ANTM ammended and saved
Working on file AON
Success: File AON ammended and saved
Working on file AOS
Success: File AOS ammended and saved
Working on file AOSL
Success: File AOSL ammended and saved
Working on file AP
Success: File AP ammended and saved
Working on file APA
Success: File APA ammended and saved
Working on file APAM
Success: File APAM ammended and saved
Working on file APD
Success: File APD ammended and saved
Working on file APDN
Success: File APDN ammended and saved
Working on file APEI
Success: File APEI ammended and saved
Working on file APEN
Success: File APEN ammended and saved
Working on file APH
Success: File APH ammended and saved
Working on file APLE
Success: File APLE ammended and saved
Working on file APLS
Success: File APLS ammended and saved
Working on file APOG
Success: File APOG ammended and saved
Working on file APPF
Success: File APPF ammended and saved
Working on file APPN
Success: File APPN ammended and saved
Working on file APPS
Success: File APPS ammended and saved
Working on file APRN
Success: File APRN ammended and saved
Working on file APT
Success: File APT ammended and saved
Working on file APTS
Success: File APTS ammended and saved
Working on file APTV
Success: File APTV ammended and saved
Working on file APVO
Success: File APVO ammended and saved
Working on file APYX
Success: File APYX ammended and saved
Working on file AQB
Success: File AQB ammended and saved
Working on file AQMS
Success: File AQMS ammended and saved
Working on file AQUA
Success: File AQUA ammended and saved
Working on file AR
Success: File AR ammended and saved
Working on file ARA
Success: File ARA ammended and saved
Working on file ARAV
Success: File ARAV ammended and saved
Working on file ARAY
Success: File ARAY ammended and saved
Working on file ARC
Success: File ARC ammended and saved
Working on file ARCB
Success: File ARCB ammended and saved
Working on file ARCH
Success: File ARCH ammended and saved
Working on file ARDX
Success: File ARDX ammended and saved
Working on file ARE
Success: File ARE ammended and saved
Working on file ARES
Success: File ARES ammended and saved
Working on file ARGO
Success: File ARGO ammended and saved
Working on file ARI
Success: File ARI ammended and saved
Working on file ARKR
Success: File ARKR ammended and saved
Working on file ARL
Success: File ARL ammended and saved
Working on file ARLO
Success: File ARLO ammended and saved
Working on file ARMK
Success: File ARMK ammended and saved
Working on file ARNA
Success: File ARNA ammended and saved
Working on file ARNC
Success: File ARNC ammended and saved
Working on file AROC
Success: File AROC ammended and saved
Working on file AROW
Success: File AROW ammended and saved
Working on file ARPO
Success: File ARPO ammended and saved
Working on file ARR
Success: File ARR ammended and saved
Working on file ARTNA
Success: File ARTNA ammended and saved
Working on file ARTW
Success: File ARTW ammended and saved
Working on file ARVN
Success: File ARVN ammended and saved
Working on file ARW
Success: File ARW ammended and saved
Working on file ARWR
Success: File ARWR ammended and saved
Working on file ASB
Success: File ASB ammended and saved
Working on file ASFI
Success: File ASFI ammended and saved
Working on file ASGN
Success: File ASGN ammended and saved
Working on file ASH
Success: File ASH ammended and saved
Working on file ASIX
Success: File ASIX ammended and saved
Working on file ASMB
Success: File ASMB ammended and saved
Working on file ASNA
Success: File ASNA ammended and saved
Working on file ASPN
Success: File ASPN ammended and saved
Working on file ASPS
Success: File ASPS ammended and saved
Working on file ASRT
Success: File ASRT ammended and saved
Working on file ASRV
Success: File ASRV ammended and saved
Working on file ASTC
Success: File ASTC ammended and saved
Working on file ASTE
Success: File ASTE ammended and saved
Working on file ASUR
Success: File ASUR ammended and saved
Working on file ASYS
Success: File ASYS ammended and saved
Working on file ATEC
Success: File ATEC ammended and saved
Working on file ATEN
Success: File ATEN ammended and saved
Working on file ATGE
Success: File ATGE ammended and saved
Working on file ATH
Success: File ATH ammended and saved
Working on file ATHX
Success: File ATHX ammended and saved
Working on file ATI
Success: File ATI ammended and saved
Working on file ATKR
Success: File ATKR ammended and saved
Working on file ATLC
Success: File ATLC ammended and saved
Working on file ATLO
Success: File ATLO ammended and saved
Working on file ATNI
Success: File ATNI ammended and saved
Working on file ATNM
Success: File ATNM ammended and saved
Working on file ATNX
Success: File ATNX ammended and saved
Working on file ATO
Success: File ATO ammended and saved
Working on file ATOS

Success: File ATOS ammended and saved
Working on file ATR
Success: File ATR ammended and saved
Working on file ATRA
Success: File ATRA ammended and saved
Working on file ATRC
Success: File ATRC ammended and saved
Working on file ATRI
Success: File ATRI ammended and saved
Working on file ATRO
Success: File ATRO ammended and saved
Working on file ATRS
Success: File ATRS ammended and saved
Working on file ATSG
Success: File ATSG ammended and saved
Working on file ATUS
Success: File ATUS ammended and saved
Working on file ATVI
Success: File ATVI ammended and saved
Working on file AUBN
Success: File AUBN ammended and saved
Working on file AUMN
Success: File AUMN ammended and saved
Working on file AUTO
Success: File AUTO ammended and saved
Working on file AVA
Success: File AVA ammended and saved
Working on file AVAV
Success: File AVAV ammended and saved
Working on file AVB
Success: File AVB ammended and saved
Working on file AVD
Success: File AVD ammended and saved
Working on file AVEO
Success: File AVEO ammended and saved
Working on file AVGO
Success: File AVGO ammended and saved
Working on file AVGR
Success: File AVGR ammended and saved
Working on file AVID
Success: File AVID ammended and saved
Working on file AVLR
Success: File AVLR ammended and saved
Working on file AVNS
Success: File AVNS ammended and saved
Working on file AVNW
Success: File AVNW ammended and saved
Working on file AVRO
Success: File AVRO ammended and saved
Working on file AVT
Success: File AVT ammended and saved
Working on file AVTR
Success: File AVTR ammended and saved
Working on file AVXL
Success: File AVXL ammended and saved
Working on file AVY
Success: File AVY ammended and saved
Working on file AVYA
Success: File AVYA ammended and saved
Working on file AWI
Success: File AWI ammended and saved
Working on file AWK
Success: File AWK ammended and saved
Working on file AWR
Success: File AWR ammended and saved
Working on file AWRE
Success: File AWRE ammended and saved
Working on file AWSM
Success: File AWSM ammended and saved
Working on file AX
Success: File AX ammended and saved
Working on file AXAS
Success: File AXAS ammended and saved
Working on file AXDX
Success: File AXDX ammended and saved
Working on file AXE
Success: File AXE ammended and saved
Working on file AXGN
Success: File AXGN ammended and saved
Working on file AXL
Success: File AXL ammended and saved
Working on file AXNX
Success: File AXNX ammended and saved
Working on file AXP
Success: File AXP ammended and saved
Working on file AXR
Success: File AXR ammended and saved
Working on file AXS
Success: File AXS ammended and saved
Working on file AXSM
Success: File AXSM ammended and saved
Working on file AXTA
Success: File AXTA ammended and saved
Working on file AXTI
Success: File AXTI ammended and saved
Working on file AYI
Success: File AYI ammended and saved
Working on file AYX
Success: File AYX ammended and saved
Working on file AZO
Success: File AZO ammended and saved
Working on file AZPN
Success: File AZPN ammended and saved
Working on file AZZ
Success: File AZZ ammended and saved
Working on file B
Success: File B ammended and saved
Working on file BA
Success: File BA ammended and saved
Working on file BAC
Success: File BAC ammended and saved
Working on file BAH
Success: File BAH ammended and saved
Working on file BANC
Success: File BANC ammended and saved
Working on file BAND
Success: File BAND ammended and saved
Working on file BANF
Success: File BANF ammended and saved
Working on file BANR
Success: File BANR ammended and saved
Working on file BASI
Success: File BASI ammended and saved
Working on file BATRA
Success: File BATRA ammended and saved
Working on file BATRK
Success: File BATRK ammended and saved
Working on file BAX
Success: File BAX ammended and saved
Working on file BBBY
Success: File BBBY ammended and saved
Working on file BBCP
Success: File BBCP ammended and saved
Working on file BBGI
Success: File BBGI ammended and saved
Working on file BBSI
Success: File BBSI ammended and saved
Working on file BBW
Success: File BBW ammended and saved
Working on file BBY
Success: File BBY ammended and saved
Working on file BC
Success: File BC ammended and saved
Working on file BCBP
Success: File BCBP ammended and saved
Working on file BCC
Success: File BCC ammended and saved
Working on file BCEI
Success: File BCEI ammended and saved
Working on file BCLI
Success: File BCLI ammended and saved
Working on file BCO
Success: File BCO ammended and saved
Working on file BCOR
Success: File BCOR ammended and saved
Working on file BCOV
Success: File BCOV ammended and saved
Working on file BCPC
Success: File BCPC ammended and saved
Working on file BCRX
Success: File BCRX ammended and saved
Working on file BDC
Success: File BDC ammended and saved
Working on file BDGE
Success: File BDGE ammended and saved
Working on file BDL
Success: File BDL ammended and saved
Working on file BDN
Success: File BDN ammended and saved
Working on file BDSI
Success: File BDSI ammended and saved
Working on file BDX
Success: File BDX ammended and saved
Working on file BE
Success: File BE ammended and saved
Working on file BEAT
Success: File BEAT ammended and saved
Working on file BECN
Success: File BECN ammended and saved
Working on file BELFA
Success: File BELFA ammended and saved
Working on file BELFB
Success: File BELFB ammended and saved
Working on file BEN
Success: File BEN ammended and saved
Working on file BERY
Success: File BERY ammended and saved
Working on file BFAM
Success: File BFAM ammended and saved
Working on file BFIN
Success: File BFIN ammended and saved
Working on file BFS
Success: File BFS ammended and saved
Working on file BFST
Success: File BFST ammended and saved
Working on file BG
Success: File BG ammended and saved
Working on file BGCP
Success: File BGCP ammended and saved
Working on file BGFV
Success: File BGFV ammended and saved
Working on file BGS
Success: File BGS ammended and saved
Working on file BGSF
Success: File BGSF ammended and saved
Working on file BH
Success: File BH ammended and saved
Working on file BHB
Success: File BHB ammended and saved
Working on file BHE
Success: File BHE ammended and saved
Working on file BHF
Success: File BHF ammended and saved
Working on file BHLB
Success: File BHLB ammended and saved
Working on file BHR
Success: File BHR ammended and saved
Working on file BHVN
Success: File BHVN ammended and saved
Working on file BIG
Success: File BIG ammended and saved
Working on file BIIB
Success: File BIIB ammended and saved
Working on file BIO
Success: File BIO ammended and saved
Working on file BIOC
Success: File BIOC ammended and saved
Working on file BIOL
Success: File BIOL ammended and saved
Working on file BJ
Success: File BJ ammended and saved
Working on file BJRI
Success: File BJRI ammended and saved
Working on file BK
Success: File BK ammended and saved
Working on file BKD
Success: File BKD ammended and saved
Working on file BKE
Success: File BKE ammended and saved
Working on file BKH
Success: File BKH ammended and saved
Working on file BKI
Success: File BKI ammended and saved
Working on file BKNG
Success: File BKNG ammended and saved
Working on file BKSC
Success: File BKSC ammended and saved
Working on file BKTI
Success: File BKTI ammended and saved
Working on file BKU
Success: File BKU ammended and saved
Working on file BL
Success: File BL ammended and saved
Working on file BLBD
Success: File BLBD ammended and saved
Working on file BLCM
Success: File BLCM ammended and saved
Working on file BLD
Success: File BLD ammended and saved
Working on file BLDR
Success: File BLDR ammended and saved
Working on file BLFS
Success: File BLFS ammended and saved
Working on file BLK
Success: File BLK ammended and saved
Working on file BLKB
Success: File BLKB ammended and saved
Working on file BLL
Success: File BLL ammended and saved
Working on file BLMN
Success: File BLMN ammended and saved
Working on file BLUE
Success: File BLUE ammended and saved
Working on file BMCH
Success: File BMCH ammended and saved
Working on file BMI
Success: File BMI ammended and saved
Working on file BMRC
Success: File BMRC ammended and saved
Working on file BMRN
Success: File BMRN ammended and saved
Working on file BMTC
Success: File BMTC ammended and saved
Working on file BMY

Success: File BMY ammended and saved
Working on file BNED
Success: File BNED ammended and saved
Working on file BNFT
Success: File BNFT ammended and saved
Working on file BOCH
Success: File BOCH ammended and saved
Working on file BOH
Success: File BOH ammended and saved
Working on file BOKF
Success: File BOKF ammended and saved
Working on file BOMN
Success: File BOMN ammended and saved
Working on file BOOM
Success: File BOOM ammended and saved
Working on file BOOT
Success: File BOOT ammended and saved
Working on file BOTJ
Success: File BOTJ ammended and saved
Working on file BOX
Success: File BOX ammended and saved
Working on file BPFH
Success: File BPFH ammended and saved
Working on file BPMC
Success: File BPMC ammended and saved
Working on file BPOP
Success: File BPOP ammended and saved
Working on file BPRN
Success: File BPRN ammended and saved
Working on file BPTH
Success: File BPTH ammended and saved
Working on file BR
Success: File BR ammended and saved
Working on file BRC
Success: File BRC ammended and saved
Working on file BREW
Success: File BREW ammended and saved
Working on file BRG
Success: File BRG ammended and saved
Working on file BRID
Success: File BRID ammended and saved
Working on file BRKL
Success: File BRKL ammended and saved
Working on file BRKR
Success: File BRKR ammended and saved
Working on file BRKS
Success: File BRKS ammended and saved
Working on file BRN
Success: File BRN ammended and saved
Working on file BRO
Success: File BRO ammended and saved
Working on file BRT
Success: File BRT ammended and saved
Working on file BRX
Success: File BRX ammended and saved
Working on file BRY
Success: File BRY ammended and saved
Working on file BSET
Success: File BSET ammended and saved
Working on file BSGM
Success: File BSGM ammended and saved
Working on file BSQR
Success: File BSQR ammended and saved
Working on file BSRR
Success: File BSRR ammended and saved
Working on file BSTC
Success: File BSTC ammended and saved
Working on file BSX
Success: File BSX ammended and saved
Working on file BTN
Success: File BTN ammended and saved
Working on file BTU
Success: File BTU ammended and saved
Working on file BURL
Success: File BURL ammended and saved
Working on file BUSE
Success: File BUSE ammended and saved
Working on file BV
Success: File BV ammended and saved
Working on file BW
Success: File BW ammended and saved
Working on file BWA
Success: File BWA ammended and saved
Working on file BWEN
Success: File BWEN ammended and saved
Working on file BWFG
Success: File BWFG ammended and saved
Working on file BWXT
Success: File BWXT ammended and saved
Working on file BXC
Success: File BXC ammended and saved
Working on file BXMT
Success: File BXMT ammended and saved
Working on file BXP
Success: File BXP ammended and saved
Working on file BXS
Success: File BXS ammended and saved
Working on file BY
Success: File BY ammended and saved
Working on file BYD
Success: File BYD ammended and saved
Working on file BYFC
Success: File BYFC ammended and saved
Working on file BYND
Success: File BYND ammended and saved
Working on file BZH
Success: File BZH ammended and saved
Working on file C
Success: File C ammended and saved
Working on file CABO
Success: File CABO ammended and saved
Working on file CAC
Success: File CAC ammended and saved
Working on file CACC
Success: File CACC ammended and saved
Working on file CACI
Success: File CACI ammended and saved
Working on file CADE
Success: File CADE ammended and saved
Working on file CAG
Success: File CAG ammended and saved
Working on file CAH
Success: File CAH ammended and saved
Working on file CAI
Success: File CAI ammended and saved
Working on file CAKE
Success: File CAKE ammended and saved
Working on file CAL
Success: File CAL ammended and saved
Working on file CALA
Success: File CALA ammended and saved
Working on file CALM
Success: File CALM ammended and saved
Working on file CALX
Success: File CALX ammended and saved
Working on file CAMP
Success: File CAMP ammended and saved
Working on file CAPR
Success: File CAPR ammended and saved
Working on file CAR
Success: File CAR ammended and saved
Working on file CARA
Success: File CARA ammended and saved
Working on file CARG
Success: File CARG ammended and saved
Working on file CARS
Success: File CARS ammended and saved
Working on file CASA
Success: File CASA ammended and saved
Working on file CASH
Success: File CASH ammended and saved
Working on file CASI
Success: File CASI ammended and saved
Working on file CASS
Success: File CASS ammended and saved
Working on file CASY
Success: File CASY ammended and saved
Working on file CAT
Success: File CAT ammended and saved
Working on file CATB
Success: File CATB ammended and saved
Working on file CATC
Success: File CATC ammended and saved
Working on file CATM
Success: File CATM ammended and saved
Working on file CATO
Success: File CATO ammended and saved
Working on file CATS
Success: File CATS ammended and saved
Working on file CATY
Success: File CATY ammended and saved
Working on file CB
Success: File CB ammended and saved
Working on file CBAN
Success: File CBAN ammended and saved
Working on file CBAY
Success: File CBAY ammended and saved
Working on file CBB
Success: File CBB ammended and saved
Working on file CBFV
Success: File CBFV ammended and saved
Working on file CBIO
Success: File CBIO ammended and saved
Working on file CBLI
Success: File CBLI ammended and saved
Working on file CBMG
Success: File CBMG ammended and saved
Working on file CBOE
Success: File CBOE ammended and saved
Working on file CBRE
Success: File CBRE ammended and saved
Working on file CBRL
Success: File CBRL ammended and saved
Working on file CBS
Success: File CBS ammended and saved
Working on file CBSH
Success: File CBSH ammended and saved
Working on file CBT
Success: File CBT ammended and saved
Working on file CBTX
Success: File CBTX ammended and saved
Working on file CBU
Success: File CBU ammended and saved
Working on file CBZ
Success: File CBZ ammended and saved
Working on file CC
Success: File CC ammended and saved
Working on file CCBG
Success: File CCBG ammended and saved
Working on file CCF
Success: File CCF ammended and saved
Working on file CCI
Success: File CCI ammended and saved
Working on file CCK
Success: File CCK ammended and saved
Working on file CCL
Success: File CCL ammended and saved
Working on file CCMP
Success: File CCMP ammended and saved
Working on file CCNE
Success: File CCNE ammended and saved
Working on file CCO
Success: File CCO ammended and saved
Working on file CCOI
Success: File CCOI ammended and saved
Working on file CCRN
Success: File CCRN ammended and saved
Working on file CCS
Success: File CCS ammended and saved
Working on file CCXI
Success: File CCXI ammended and saved
Working on file CDAY
Success: File CDAY ammended and saved
Working on file CDE
Success: File CDE ammended and saved
Working on file CDEV
Success: File CDEV ammended and saved
Working on file CDK
Success: File CDK ammended and saved
Working on file CDLX
Success: File CDLX ammended and saved
Working on file CDMO
Success: File CDMO ammended and saved
Working on file CDNA
Success: File CDNA ammended and saved
Working on file CDNS
Success: File CDNS ammended and saved
Working on file CDR
Success: File CDR ammended and saved
Working on file CDTX
Success: File CDTX ammended and saved
Working on file CDW
Success: File CDW ammended and saved
Working on file CDXC
Success: File CDXC ammended and saved
Working on file CDXS
Success: File CDXS ammended and saved
Working on file CDZI
Success: File CDZI ammended and saved
Working on file CE
Success: File CE ammended and saved
Working on file CECE
Success: File CECE ammended and saved
Working on file CEI
Success: File CEI ammended and saved
Working on file CEIX
Success: File CEIX ammended and saved
Working on file CELC
Success: File CELC ammended and saved
Working on file CELH
Success: File CELH ammended and saved
Working on file CEMI
Success: File CEMI ammended and saved
Working on file CENT
Success: File CENT ammended and saved
Working on file CENTA
Success: File CENTA ammended and saved
Working on file CENX
Success: File CENX ammended and saved
Working on file CERC
Success: File CERC ammended and saved
Working on file CERN
Success: File CERN ammended and saved
Working on file CERS
Success: File CERS ammended and saved
Working on file CETV
Success: File CETV ammended and saved
Working on file CETX
Success: File CETX ammended and saved
Working on file CEVA

Success: File CEVA ammended and saved
Working on file CF
Success: File CF ammended and saved
Working on file CFBK
Success: File CFBK ammended and saved
Working on file CFFI
Success: File CFFI ammended and saved
Working on file CFFN
Success: File CFFN ammended and saved
Working on file CFG
Success: File CFG ammended and saved
Working on file CFMS
Success: File CFMS ammended and saved
Working on file CFR
Success: File CFR ammended and saved
Working on file CFX
Success: File CFX ammended and saved
Working on file CGIX
Success: File CGIX ammended and saved
Working on file CGNX
Success: File CGNX ammended and saved
Working on file CHAP
Success: File CHAP ammended and saved
Working on file CHCI
Success: File CHCI ammended and saved
Working on file CHCO
Success: File CHCO ammended and saved
Working on file CHCT
Success: File CHCT ammended and saved
Working on file CHD
Success: File CHD ammended and saved
Working on file CHDN
Success: File CHDN ammended and saved
Working on file CHE
Success: File CHE ammended and saved
Working on file CHEF
Success: File CHEF ammended and saved
Working on file CHGG
Success: File CHGG ammended and saved
Working on file CHH
Success: File CHH ammended and saved
Working on file CHK
Success: File CHK ammended and saved
Working on file CHMA
Success: File CHMA ammended and saved
Working on file CHMG
Success: File CHMG ammended and saved
Working on file CHMI
Success: File CHMI ammended and saved
Working on file CHRS
Success: File CHRS ammended and saved
Working on file CHRW
Success: File CHRW ammended and saved
Working on file CHS
Success: File CHS ammended and saved
Working on file CHTR
Success: File CHTR ammended and saved
Working on file CHUY
Success: File CHUY ammended and saved
Working on file CI
Success: File CI ammended and saved
Working on file CIA
Success: File CIA ammended and saved
Working on file CIDM
Success: File CIDM ammended and saved
Working on file CIEN
Success: File CIEN ammended and saved
Working on file CIM
Success: File CIM ammended and saved
Working on file CINF
Success: File CINF ammended and saved
Working on file CIO
Success: File CIO ammended and saved
Working on file CIR
Success: File CIR ammended and saved
Working on file CIT
Success: File CIT ammended and saved
Working on file CIVB
Success: File CIVB ammended and saved
Working on file CIX
Success: File CIX ammended and saved
Working on file CIZN
Success: File CIZN ammended and saved
Working on file CKH
Success: File CKH ammended and saved
Working on file CKX
Success: File CKX ammended and saved
Working on file CL
Success: File CL ammended and saved
Working on file CLAR
Success: File CLAR ammended and saved
Working on file CLB
Success: File CLB ammended and saved
Working on file CLBS
Success: File CLBS ammended and saved
Working on file CLCT
Success: File CLCT ammended and saved
Working on file CLDR
Success: File CLDR ammended and saved
Working on file CLDT
Success: File CLDT ammended and saved
Working on file CLDX
Success: File CLDX ammended and saved
Working on file CLF
Success: File CLF ammended and saved
Working on file CLFD
Success: File CLFD ammended and saved
Working on file CLGX
Success: File CLGX ammended and saved
Working on file CLH
Success: File CLH ammended and saved
Working on file CLI
Success: File CLI ammended and saved
Working on file CLIR
Success: File CLIR ammended and saved
Working on file CLNC
Success: File CLNC ammended and saved
Working on file CLNE
Success: File CLNE ammended and saved
Working on file CLNY
Success: File CLNY ammended and saved
Working on file CLPR
Success: File CLPR ammended and saved
Working on file CLR
Success: File CLR ammended and saved
Working on file CLRB
Success: File CLRB ammended and saved
Working on file CLRO
Success: File CLRO ammended and saved
Working on file CLSN
Success: File CLSN ammended and saved
Working on file CLUB
Success: File CLUB ammended and saved
Working on file CLVS
Success: File CLVS ammended and saved
Working on file CLW
Success: File CLW ammended and saved
Working on file CLX
Success: File CLX ammended and saved
Working on file CLXT
Success: File CLXT ammended and saved
Working on file CMA
Success: File CMA ammended and saved
Working on file CMC
Success: File CMC ammended and saved
Working on file CMCO
Success: File CMCO ammended and saved
Working on file CMCSA
Success: File CMCSA ammended and saved
Working on file CMCT
Success: File CMCT ammended and saved
Working on file CMD
Success: File CMD ammended and saved
Working on file CME
Success: File CME ammended and saved
Working on file CMG
Success: File CMG ammended and saved
Working on file CMI
Success: File CMI ammended and saved
Working on file CMO
Success: File CMO ammended and saved
Working on file CMP
Success: File CMP ammended and saved
Working on file CMRX
Success: File CMRX ammended and saved
Working on file CMS
Success: File CMS ammended and saved
Working on file CMT
Success: File CMT ammended and saved
Working on file CMTL
Success: File CMTL ammended and saved
Working on file CNA
Success: File CNA ammended and saved
Working on file CNBKA
Success: File CNBKA ammended and saved
Working on file CNC
Success: File CNC ammended and saved
Working on file CNCE
Success: File CNCE ammended and saved
Working on file CNDT
Success: File CNDT ammended and saved
Working on file CNFR
Success: File CNFR ammended and saved
Working on file CNK
Success: File CNK ammended and saved
Working on file CNMD
Success: File CNMD ammended and saved
Working on file CNNE
Success: File CNNE ammended and saved
Working on file CNO
Success: File CNO ammended and saved
Working on file CNOB
Success: File CNOB ammended and saved
Working on file CNP
Success: File CNP ammended and saved
Working on file CNS
Success: File CNS ammended and saved
Working on file CNSL
Success: File CNSL ammended and saved
Working on file CNTY
Success: File CNTY ammended and saved
Working on file CNX
Success: File CNX ammended and saved
Working on file CNXN
Success: File CNXN ammended and saved
Working on file CODA
Success: File CODA ammended and saved
Working on file COF
Success: File COF ammended and saved
Working on file COG
Success: File COG ammended and saved
Working on file COHN
Success: File COHN ammended and saved
Working on file COHR
Success: File COHR ammended and saved
Working on file COHU
Success: File COHU ammended and saved
Working on file COKE
Success: File COKE ammended and saved
Working on file COLB
Success: File COLB ammended and saved
Working on file COLD
Success: File COLD ammended and saved
Working on file COLL
Success: File COLL ammended and saved
Working on file COLM
Success: File COLM ammended and saved
Working on file COMM
Success: File COMM ammended and saved
Working on file CONE
Success: File CONE ammended and saved
Working on file CONN
Success: File CONN ammended and saved
Working on file COO
Success: File COO ammended and saved
Working on file COOP
Success: File COOP ammended and saved
Working on file COP
Success: File COP ammended and saved
Working on file COR
Success: File COR ammended and saved
Working on file CORE
Success: File CORE ammended and saved
Working on file CORR
Success: File CORR ammended and saved
Working on file CORT
Success: File CORT ammended and saved
Working on file COST
Success: File COST ammended and saved
Working on file COTY
Success: File COTY ammended and saved
Working on file COUP
Success: File COUP ammended and saved
Working on file COWN
Success: File COWN ammended and saved
Working on file CPB
Success: File CPB ammended and saved
Working on file CPE
Success: File CPE ammended and saved
Working on file CPF
Success: File CPF ammended and saved
Working on file CPHC
Success: File CPHC ammended and saved
Working on file CPIX
Success: File CPIX ammended and saved
Working on file CPK
Success: File CPK ammended and saved
Working on file CPLG
Success: File CPLG ammended and saved
Working on file CPRI
Success: File CPRI ammended and saved
Working on file CPRT
Success: File CPRT ammended and saved
Working on file CPRX
Success: File CPRX ammended and saved
Working on file CPS
Success: File CPS ammended and saved
Working on file CPSH
Success: File CPSH ammended and saved
Working on file CPSI
Success: File CPSI ammended and saved
Working on file CPSS
Success: File CPSS ammended and saved
Working on file CPST
Success: File CPST ammended and saved
Working on file CPT

Success: File CPT ammended and saved
Working on file CR
Success: File CR ammended and saved
Working on file CRAI
Success: File CRAI ammended and saved
Working on file CRBP
Success: File CRBP ammended and saved
Working on file CRC
Success: File CRC ammended and saved
Working on file CREE
Success: File CREE ammended and saved
Working on file CRI
Success: File CRI ammended and saved
Working on file CRIS
Success: File CRIS ammended and saved
Working on file CRK
Success: File CRK ammended and saved
Working on file CRL
Success: File CRL ammended and saved
Working on file CRM
Success: File CRM ammended and saved
Working on file CRMD
Success: File CRMD ammended and saved
Working on file CRMT
Success: File CRMT ammended and saved
Working on file CRNX
Success: File CRNX ammended and saved
Working on file CROX
Success: File CROX ammended and saved
Working on file CRS
Success: File CRS ammended and saved
Working on file CRTX
Success: File CRTX ammended and saved
Working on file CRUS
Success: File CRUS ammended and saved
Working on file CRVL
Success: File CRVL ammended and saved
Working on file CRVS
Success: File CRVS ammended and saved
Working on file CRWS
Success: File CRWS ammended and saved
Working on file CRY
Success: File CRY ammended and saved
Working on file CSCO
Success: File CSCO ammended and saved
Working on file CSGP
Success: File CSGP ammended and saved
Working on file CSGS
Success: File CSGS ammended and saved
Working on file CSII
Success: File CSII ammended and saved
Working on file CSL
Success: File CSL ammended and saved
Working on file CSLT
Success: File CSLT ammended and saved
Working on file CSOD
Success: File CSOD ammended and saved
Working on file CSPI
Success: File CSPI ammended and saved
Working on file CSTR
Success: File CSTR ammended and saved
Working on file CSU
Success: File CSU ammended and saved
Working on file CSV
Success: File CSV ammended and saved
Working on file CSWI
Success: File CSWI ammended and saved
Working on file CSX
Success: File CSX ammended and saved
Working on file CTAS
Success: File CTAS ammended and saved
Working on file CTB
Success: File CTB ammended and saved
Working on file CTBI
Success: File CTBI ammended and saved
Working on file CTG
Success: File CTG ammended and saved
Working on file CTHR
Success: File CTHR ammended and saved
Working on file CTIB
Success: File CTIB ammended and saved
Working on file CTIC
Success: File CTIC ammended and saved
Working on file CTL
Success: File CTL ammended and saved
Working on file CTLT
Success: File CTLT ammended and saved
Working on file CTMX
Success: File CTMX ammended and saved
Working on file CTO
Success: File CTO ammended and saved
Working on file CTRE
Success: File CTRE ammended and saved
Working on file CTRN
Success: File CTRN ammended and saved
Working on file CTS
Success: File CTS ammended and saved
Working on file CTSH
Success: File CTSH ammended and saved
Working on file CTSO
Success: File CTSO ammended and saved
Working on file CTT
Success: File CTT ammended and saved
Working on file CTXS
Success: File CTXS ammended and saved
Working on file CUB
Success: File CUB ammended and saved
Working on file CUBE
Success: File CUBE ammended and saved
Working on file CUBI
Success: File CUBI ammended and saved
Working on file CUE
Success: File CUE ammended and saved
Working on file CULP
Success: File CULP ammended and saved
Working on file CURO
Success: File CURO ammended and saved
Working on file CUTR
Success: File CUTR ammended and saved
Working on file CUZ
Success: File CUZ ammended and saved
Working on file CVA
Success: File CVA ammended and saved
Working on file CVBF
Success: File CVBF ammended and saved
Working on file CVCO
Success: File CVCO ammended and saved
Working on file CVCY
Success: File CVCY ammended and saved
Working on file CVGI
Success: File CVGI ammended and saved
Working on file CVGW
Success: File CVGW ammended and saved
Working on file CVI
Success: File CVI ammended and saved
Working on file CVIA
Success: File CVIA ammended and saved
Working on file CVLT
Success: File CVLT ammended and saved
Working on file CVLY
Success: File CVLY ammended and saved
Working on file CVM
Success: File CVM ammended and saved
Working on file CVNA
Success: File CVNA ammended and saved
Working on file CVR
Success: File CVR ammended and saved
Working on file CVS
Success: File CVS ammended and saved
Working on file CVTI
Success: File CVTI ammended and saved
Working on file CVU
Success: File CVU ammended and saved
Working on file CVV
Success: File CVV ammended and saved
Working on file CVX
Success: File CVX ammended and saved
Working on file CW
Success: File CW ammended and saved
Working on file CWBC
Success: File CWBC ammended and saved
Working on file CWBR
Success: File CWBR ammended and saved
Working on file CWEN
Success: File CWEN ammended and saved
Working on file CWH
Success: File CWH ammended and saved
Working on file CWST
Success: File CWST ammended and saved
Working on file CWT
Success: File CWT ammended and saved
Working on file CXO
Success: File CXO ammended and saved
Working on file CXP
Success: File CXP ammended and saved
Working on file CXW
Success: File CXW ammended and saved
Working on file CYAN
Success: File CYAN ammended and saved
Working on file CYBE
Success: File CYBE ammended and saved
Working on file CYCC
Success: File CYCC ammended and saved
Working on file CYH
Success: File CYH ammended and saved
Working on file CYRX
Success: File CYRX ammended and saved
Working on file CYTK
Success: File CYTK ammended and saved
Working on file CYTR
Success: File CYTR ammended and saved
Working on file CZNC
Success: File CZNC ammended and saved
Working on file CZR
Success: File CZR ammended and saved
Working on file CZWI
Success: File CZWI ammended and saved
Working on file D
Success: File D ammended and saved
Working on file DAIO
Success: File DAIO ammended and saved
Working on file DAKT
Success: File DAKT ammended and saved
Working on file DAL
Success: File DAL ammended and saved
Working on file DAN
Success: File DAN ammended and saved
Working on file DAR
Success: File DAR ammended and saved
Working on file DARE
Success: File DARE ammended and saved
Working on file DBD
Success: File DBD ammended and saved
Working on file DBI
Success: File DBI ammended and saved
Working on file DBX
Success: File DBX ammended and saved
Working on file DCI
Success: File DCI ammended and saved
Working on file DCO
Success: File DCO ammended and saved
Working on file DCOM
Success: File DCOM ammended and saved
Working on file DCPH
Success: File DCPH ammended and saved
Working on file DD
Success: File DD ammended and saved
Working on file DDD
Success: File DDD ammended and saved
Working on file DDS
Success: File DDS ammended and saved
Working on file DE
Success: File DE ammended and saved
Working on file DEA
Success: File DEA ammended and saved
Working on file DECK
Success: File DECK ammended and saved
Working on file DEI
Success: File DEI ammended and saved
Working on file DELL
Success: File DELL ammended and saved
Working on file DENN
Success: File DENN ammended and saved
Working on file DFIN
Success: File DFIN ammended and saved
Working on file DFS
Success: File DFS ammended and saved
Working on file DG
Success: File DG ammended and saved
Working on file DGICA
Success: File DGICA ammended and saved
Working on file DGII
Success: File DGII ammended and saved
Working on file DGLY
Success: File DGLY ammended and saved
Working on file DGX
Success: File DGX ammended and saved
Working on file DHI
Success: File DHI ammended and saved
Working on file DHIL
Success: File DHIL ammended and saved
Working on file DHR
Success: File DHR ammended and saved
Working on file DHX
Success: File DHX ammended and saved
Working on file DIN
Success: File DIN ammended and saved
Working on file DIOD
Success: File DIOD ammended and saved
Working on file DIS
Success: File DIS ammended and saved
Working on file DISCA
Success: File DISCA ammended and saved
Working on file DISCK
Success: File DISCK ammended and saved
Working on file DISH
Success: File DISH ammended and saved
Working on file DIT
Success: File DIT ammended and saved
Working on file DJCO
Success: File DJCO ammended and saved
Working on file DK
Success: File DK ammended and saved
Working on file DKS

Success: File DKS ammended and saved
Working on file DLA
Success: File DLA ammended and saved
Working on file DLB
Success: File DLB ammended and saved
Working on file DLHC
Success: File DLHC ammended and saved
Working on file DLPH
Success: File DLPH ammended and saved
Working on file DLR
Success: File DLR ammended and saved
Working on file DLTH
Success: File DLTH ammended and saved
Working on file DLTR
Success: File DLTR ammended and saved
Working on file DLX
Success: File DLX ammended and saved
Working on file DMRC
Success: File DMRC ammended and saved
Working on file DNKN
Success: File DNKN ammended and saved
Working on file DNLI
Success: File DNLI ammended and saved
Working on file DNOW
Success: File DNOW ammended and saved
Working on file DNR
Success: File DNR ammended and saved
Working on file DOC
Success: File DOC ammended and saved
Working on file DOCU
Success: File DOCU ammended and saved
Working on file DOMO
Success: File DOMO ammended and saved
Working on file DOOR
Success: File DOOR ammended and saved
Working on file DORM
Success: File DORM ammended and saved
Working on file DOV
Success: File DOV ammended and saved
Working on file DOW
Success: File DOW ammended and saved
Working on file DPZ
Success: File DPZ ammended and saved
Working on file DRAD
Success: File DRAD ammended and saved
Working on file DRE
Success: File DRE ammended and saved
Working on file DRH
Success: File DRH ammended and saved
Working on file DRI
Success: File DRI ammended and saved
Working on file DRNA
Success: File DRNA ammended and saved
Working on file DRQ
Success: File DRQ ammended and saved
Working on file DRRX
Success: File DRRX ammended and saved
Working on file DS
Success: File DS ammended and saved
Working on file DSKE
Success: File DSKE ammended and saved
Working on file DSPG
Success: File DSPG ammended and saved
Working on file DSS
Success: File DSS ammended and saved
Working on file DTE
Success: File DTE ammended and saved
Working on file DUK
Success: File DUK ammended and saved
Working on file DVA
Success: File DVA ammended and saved
Working on file DVAX
Success: File DVAX ammended and saved
Working on file DVD
Success: File DVD ammended and saved
Working on file DVN
Success: File DVN ammended and saved
Working on file DWSN
Success: File DWSN ammended and saved
Working on file DX
Success: File DX ammended and saved
Working on file DXC
Success: File DXC ammended and saved
Working on file DXCM
Success: File DXCM ammended and saved
Working on file DXLG
Success: File DXLG ammended and saved
Working on file DXPE
Success: File DXPE ammended and saved
Working on file DXYN
Success: File DXYN ammended and saved
Working on file DY
Success: File DY ammended and saved
Working on file DZSI
Success: File DZSI ammended and saved
Working on file EA
Success: File EA ammended and saved
Working on file EAF
Success: File EAF ammended and saved
Working on file EARN
Success: File EARN ammended and saved
Working on file EAT
Success: File EAT ammended and saved
Working on file EB
Success: File EB ammended and saved
Working on file EBAY
Success: File EBAY ammended and saved
Working on file EBF
Success: File EBF ammended and saved
Working on file EBIX
Success: File EBIX ammended and saved
Working on file EBMT
Success: File EBMT ammended and saved
Working on file EBS
Success: File EBS ammended and saved
Working on file EBSB
Success: File EBSB ammended and saved
Working on file EBTC
Success: File EBTC ammended and saved
Working on file ECHO
Success: File ECHO ammended and saved
Working on file ECL
Success: File ECL ammended and saved
Working on file ECOL
Success: File ECOL ammended and saved
Working on file ECOM
Success: File ECOM ammended and saved
Working on file ECPG
Success: File ECPG ammended and saved
Working on file ED
Success: File ED ammended and saved
Working on file EDIT
Success: File EDIT ammended and saved
Working on file EDUC
Success: File EDUC ammended and saved
Working on file EE
Success: File EE ammended and saved
Working on file EEFT
Success: File EEFT ammended and saved
Working on file EEX
Success: File EEX ammended and saved
Working on file EFC
Success: File EFC ammended and saved
Working on file EFOI
Success: File EFOI ammended and saved
Working on file EFSC
Success: File EFSC ammended and saved
Working on file EFX
Success: File EFX ammended and saved
Working on file EGAN
Success: File EGAN ammended and saved
Working on file EGBN
Success: File EGBN ammended and saved
Working on file EGHT
Success: File EGHT ammended and saved
Working on file EGLE
Success: File EGLE ammended and saved
Working on file EGOV
Success: File EGOV ammended and saved
Working on file EGP
Success: File EGP ammended and saved
Working on file EGRX
Success: File EGRX ammended and saved
Working on file EGY
Success: File EGY ammended and saved
Working on file EHC
Success: File EHC ammended and saved
Working on file EHTH
Success: File EHTH ammended and saved
Working on file EIDX
Success: File EIDX ammended and saved
Working on file EIG
Success: File EIG ammended and saved
Working on file EIGI
Success: File EIGI ammended and saved
Working on file EIGR
Success: File EIGR ammended and saved
Working on file EIX
Success: File EIX ammended and saved
Working on file EKSO
Success: File EKSO ammended and saved
Working on file EL
Success: File EL ammended and saved
Working on file ELAN
Success: File ELAN ammended and saved
Working on file ELF
Success: File ELF ammended and saved
Working on file ELGX
Success: File ELGX ammended and saved
Working on file ELMD
Success: File ELMD ammended and saved
Working on file ELOX
Success: File ELOX ammended and saved
Working on file ELS
Success: File ELS ammended and saved
Working on file ELSE
Success: File ELSE ammended and saved
Working on file ELVT
Success: File ELVT ammended and saved
Working on file ELY
Success: File ELY ammended and saved
Working on file EMAN
Success: File EMAN ammended and saved
Working on file EMCF
Success: File EMCF ammended and saved
Working on file EME
Success: File EME ammended and saved
Working on file EMKR
Success: File EMKR ammended and saved
Working on file EML
Success: File EML ammended and saved
Working on file EMMS
Success: File EMMS ammended and saved
Working on file EMN
Success: File EMN ammended and saved
Working on file EMR
Success: File EMR ammended and saved
Working on file ENDP
Success: File ENDP ammended and saved
Working on file ENG
Success: File ENG ammended and saved
Working on file ENOB
Success: File ENOB ammended and saved
Working on file ENPH
Success: File ENPH ammended and saved
Working on file ENR
Success: File ENR ammended and saved
Working on file ENS
Success: File ENS ammended and saved
Working on file ENSG
Success: File ENSG ammended and saved
Working on file ENSV
Success: File ENSV ammended and saved
Working on file ENT
Success: File ENT ammended and saved
Working on file ENTA
Success: File ENTA ammended and saved
Working on file ENTG
Success: File ENTG ammended and saved
Working on file ENV
Success: File ENV ammended and saved
Working on file ENVA
Success: File ENVA ammended and saved
Working on file ENZ
Success: File ENZ ammended and saved
Working on file EOG
Success: File EOG ammended and saved
Working on file EOLS
Success: File EOLS ammended and saved
Working on file EPAM
Success: File EPAM ammended and saved
Working on file EPAY
Success: File EPAY ammended and saved
Working on file EPC
Success: File EPC ammended and saved
Working on file EPM
Success: File EPM ammended and saved
Working on file EPR
Success: File EPR ammended and saved
Working on file EPRT
Success: File EPRT ammended and saved
Working on file EPZM
Success: File EPZM ammended and saved
Working on file EQBK
Success: File EQBK ammended and saved
Working on file EQC
Success: File EQC ammended and saved
Working on file EQH
Success: File EQH ammended and saved
Working on file EQIX
Success: File EQIX ammended and saved
Working on file EQR
Success: File EQR ammended and saved
Working on file EQT
Success: File EQT ammended and saved
Working on file ERI
Success: File ERI ammended and saved
Working on file ERIE
Success: File ERIE ammended and saved
Working on file ERII
Success: File ERII ammended and saved
Working on file ES
Success: File ES ammended and saved
Working on file ESBK

Success: File ESBK ammended and saved
Working on file ESCA
Success: File ESCA ammended and saved
Working on file ESE
Success: File ESE ammended and saved
Working on file ESGR
Success: File ESGR ammended and saved
Working on file ESNT
Success: File ESNT ammended and saved
Working on file ESP
Success: File ESP ammended and saved
Working on file ESPR
Success: File ESPR ammended and saved
Working on file ESRT
Success: File ESRT ammended and saved
Working on file ESS
Success: File ESS ammended and saved
Working on file ESSA
Success: File ESSA ammended and saved
Working on file ESTC
Success: File ESTC ammended and saved
Working on file ESTE
Success: File ESTE ammended and saved
Working on file ESXB
Success: File ESXB ammended and saved
Working on file ETFC
Success: File ETFC ammended and saved
Working on file ETH
Success: File ETH ammended and saved
Working on file ETM
Success: File ETM ammended and saved
Working on file ETN
Success: File ETN ammended and saved
Working on file ETR
Success: File ETR ammended and saved
Working on file ETRN
Success: File ETRN ammended and saved
Working on file ETSY
Success: File ETSY ammended and saved
Working on file EV
Success: File EV ammended and saved
Working on file EVBG
Success: File EVBG ammended and saved
Working on file EVBN
Success: File EVBN ammended and saved
Working on file EVC
Success: File EVC ammended and saved
Working on file EVER
Success: File EVER ammended and saved
Working on file EVFM
Success: File EVFM ammended and saved
Working on file EVH
Success: File EVH ammended and saved
Working on file EVI
Success: File EVI ammended and saved
Working on file EVOK
Success: File EVOK ammended and saved
Working on file EVOL
Success: File EVOL ammended and saved
Working on file EVOP
Success: File EVOP ammended and saved
Working on file EVR
Success: File EVR ammended and saved
Working on file EVRG
Success: File EVRG ammended and saved
Working on file EVRI
Success: File EVRI ammended and saved
Working on file EVTC
Success: File EVTC ammended and saved
Working on file EW
Success: File EW ammended and saved
Working on file EWBC
Success: File EWBC ammended and saved
Working on file EXAS
Success: File EXAS ammended and saved
Working on file EXC
Success: File EXC ammended and saved
Working on file EXEL
Success: File EXEL ammended and saved
Working on file EXLS
Success: File EXLS ammended and saved
Working on file EXP
Success: File EXP ammended and saved
Working on file EXPD
Success: File EXPD ammended and saved
Working on file EXPE
Success: File EXPE ammended and saved
Working on file EXPI
Success: File EXPI ammended and saved
Working on file EXPO
Success: File EXPO ammended and saved
Working on file EXPR
Success: File EXPR ammended and saved
Working on file EXR
Success: File EXR ammended and saved
Working on file EXTN
Success: File EXTN ammended and saved
Working on file EXTR
Success: File EXTR ammended and saved
Working on file EYE
Success: File EYE ammended and saved
Working on file EYEG
Success: File EYEG ammended and saved
Working on file EYES
Success: File EYES ammended and saved
Working on file EYPT
Success: File EYPT ammended and saved
Working on file EZPW
Success: File EZPW ammended and saved
Working on file F
Success: File F ammended and saved
Working on file FAF
Success: File FAF ammended and saved
Working on file FANG
Success: File FANG ammended and saved
Working on file FARM
Success: File FARM ammended and saved
Working on file FARO
Success: File FARO ammended and saved
Working on file FAST
Success: File FAST ammended and saved
Working on file FATE
Success: File FATE ammended and saved
Working on file FB
Success: File FB ammended and saved
Working on file FBC
Success: File FBC ammended and saved
Working on file FBHS
Success: File FBHS ammended and saved
Working on file FBIO
Success: File FBIO ammended and saved
Working on file FBIZ
Success: File FBIZ ammended and saved
Working on file FBK
Success: File FBK ammended and saved
Working on file FBM
Success: File FBM ammended and saved
Working on file FBMS
Success: File FBMS ammended and saved
Working on file FBNC
Success: File FBNC ammended and saved
Working on file FBP
Success: File FBP ammended and saved
Working on file FBSS
Success: File FBSS ammended and saved
Working on file FC
Success: File FC ammended and saved
Working on file FCAP
Success: File FCAP ammended and saved
Working on file FCBC
Success: File FCBC ammended and saved
Working on file FCBP
Success: File FCBP ammended and saved
Working on file FCCO
Success: File FCCO ammended and saved
Working on file FCCY
Success: File FCCY ammended and saved
Working on file FCEL
Success: File FCEL ammended and saved
Working on file FCF
Success: File FCF ammended and saved
Working on file FCFS
Success: File FCFS ammended and saved
Working on file FCN
Success: File FCN ammended and saved
Working on file FCNCA
Success: File FCNCA ammended and saved
Working on file FCPT
Success: File FCPT ammended and saved
Working on file FCX
Success: File FCX ammended and saved
Working on file FDBC
Success: File FDBC ammended and saved
Working on file FDEF
Success: File FDEF ammended and saved
Working on file FDP
Success: File FDP ammended and saved
Working on file FDS
Success: File FDS ammended and saved
Working on file FDX
Success: File FDX ammended and saved
Working on file FE
Success: File FE ammended and saved
Working on file FEIM
Success: File FEIM ammended and saved
Working on file FELE
Success: File FELE ammended and saved
Working on file FET
Success: File FET ammended and saved
Working on file FEYE
Success: File FEYE ammended and saved
Working on file FF
Success: File FF ammended and saved
Working on file FFBC
Success: File FFBC ammended and saved
Working on file FFG
Success: File FFG ammended and saved
Working on file FFIC
Success: File FFIC ammended and saved
Working on file FFIN
Success: File FFIN ammended and saved
Working on file FFIV
Success: File FFIV ammended and saved
Working on file FFNW
Success: File FFNW ammended and saved
Working on file FFWM
Success: File FFWM ammended and saved
Working on file FGBI
Success: File FGBI ammended and saved
Working on file FGEN
Success: File FGEN ammended and saved
Working on file FHB
Success: File FHB ammended and saved
Working on file FHN
Success: File FHN ammended and saved
Working on file FI
Success: File FI ammended and saved
Working on file FIBK
Success: File FIBK ammended and saved
Working on file FICO
Success: File FICO ammended and saved
Working on file FIS
Success: File FIS ammended and saved
Working on file FISI
Success: File FISI ammended and saved
Working on file FISV
Success: File FISV ammended and saved
Working on file FIT
Success: File FIT ammended and saved
Working on file FITB
Success: File FITB ammended and saved
Working on file FIVE
Success: File FIVE ammended and saved
Working on file FIVN
Success: File FIVN ammended and saved
Working on file FIX
Success: File FIX ammended and saved
Working on file FIXX
Success: File FIXX ammended and saved
Working on file FIZZ
Success: File FIZZ ammended and saved
Working on file FL
Success: File FL ammended and saved
Working on file FLDM
Success: File FLDM ammended and saved
Working on file FLIC
Success: File FLIC ammended and saved
Working on file FLIR
Success: File FLIR ammended and saved
Working on file FLL
Success: File FLL ammended and saved
Working on file FLMN
Success: File FLMN ammended and saved
Working on file FLNT
Success: File FLNT ammended and saved
Working on file FLO
Success: File FLO ammended and saved
Working on file FLOW
Success: File FLOW ammended and saved
Working on file FLR
Success: File FLR ammended and saved
Working on file FLS
Success: File FLS ammended and saved
Working on file FLT
Success: File FLT ammended and saved
Working on file FLWS
Success: File FLWS ammended and saved
Working on file FLXN
Success: File FLXN ammended and saved
Working on file FLXS
Success: File FLXS ammended and saved
Working on file FMAO
Success: File FMAO ammended and saved
Working on file FMBH
Success: File FMBH ammended and saved
Working on file FMBI
Success: File FMBI ammended and saved
Working on file FMC
Success: File FMC ammended and saved
Working on file FMNB
Success: File FMNB ammended and saved
Working on file FN
Success: File FN ammended and saved
Working on file FNB

Success: File FNB ammended and saved
Working on file FNCB
Success: File FNCB ammended and saved
Working on file FND
Success: File FND ammended and saved
Working on file FNF
Success: File FNF ammended and saved
Working on file FNHC
Success: File FNHC ammended and saved
Working on file FNJN
Success: File FNJN ammended and saved
Working on file FNKO
Success: File FNKO ammended and saved
Working on file FNLC
Success: File FNLC ammended and saved
Working on file FNWB
Success: File FNWB ammended and saved
Working on file FOCS
Success: File FOCS ammended and saved
Working on file FOE
Success: File FOE ammended and saved
Working on file FOLD
Success: File FOLD ammended and saved
Working on file FONR
Success: File FONR ammended and saved
Working on file FOR
Success: File FOR ammended and saved
Working on file FORD
Success: File FORD ammended and saved
Working on file FORM
Success: File FORM ammended and saved
Working on file FORR
Success: File FORR ammended and saved
Working on file FOSL
Success: File FOSL ammended and saved
Working on file FOX
Success: File FOX ammended and saved
Working on file FOXA
Success: File FOXA ammended and saved
Working on file FOXF
Success: File FOXF ammended and saved
Working on file FPI
Success: File FPI ammended and saved
Working on file FPRX
Success: File FPRX ammended and saved
Working on file FR
Success: File FR ammended and saved
Working on file FRAN
Success: File FRAN ammended and saved
Working on file FRBA
Success: File FRBA ammended and saved
Working on file FRBK
Success: File FRBK ammended and saved
Working on file FRC
Success: File FRC ammended and saved
Working on file FRD
Success: File FRD ammended and saved
Working on file FRGI
Success: File FRGI ammended and saved
Working on file FRME
Success: File FRME ammended and saved
Working on file FRPH
Success: File FRPH ammended and saved
Working on file FRPT
Success: File FRPT ammended and saved
Working on file FRT
Success: File FRT ammended and saved
Working on file FRTA
Success: File FRTA ammended and saved
Working on file FSB
Success: File FSB ammended and saved
Working on file FSBW
Success: File FSBW ammended and saved
Working on file FSCT
Success: File FSCT ammended and saved
Working on file FSFG
Success: File FSFG ammended and saved
Working on file FSLR
Success: File FSLR ammended and saved
Working on file FSLY
Success: File FSLY ammended and saved
Working on file FSP
Success: File FSP ammended and saved
Working on file FSS
Success: File FSS ammended and saved
Working on file FSTR
Success: File FSTR ammended and saved
Working on file FTDR
Success: File FTDR ammended and saved
Working on file FTEK
Success: File FTEK ammended and saved
Working on file FTI
Success: File FTI ammended and saved
Working on file FTK
Success: File FTK ammended and saved
Working on file FTNT
Success: File FTNT ammended and saved
Working on file FTSI
Success: File FTSI ammended and saved
Working on file FTV
Success: File FTV ammended and saved
Working on file FUL
Success: File FUL ammended and saved
Working on file FULT
Success: File FULT ammended and saved
Working on file FUNC
Success: File FUNC ammended and saved
Working on file FUSB
Success: File FUSB ammended and saved
Working on file FVE
Success: File FVE ammended and saved
Working on file FWONA
Success: File FWONA ammended and saved
Working on file FWONK
Success: File FWONK ammended and saved
Working on file FWRD
Success: File FWRD ammended and saved
Working on file G
Success: File G ammended and saved
Working on file GABC
Success: File GABC ammended and saved
Working on file GAIA
Success: File GAIA ammended and saved
Working on file GALT
Success: File GALT ammended and saved
Working on file GATX
Success: File GATX ammended and saved
Working on file GBCI
Success: File GBCI ammended and saved
Working on file GBL
Success: File GBL ammended and saved
Working on file GBLI
Success: File GBLI ammended and saved
Working on file GBT
Success: File GBT ammended and saved
Working on file GBX
Success: File GBX ammended and saved
Working on file GCAP
Success: File GCAP ammended and saved
Working on file GCBC
Success: File GCBC ammended and saved
Working on file GCI
Success: File GCI ammended and saved
Working on file GCO
Success: File GCO ammended and saved
Working on file GCP
Success: File GCP ammended and saved
Working on file GD
Success: File GD ammended and saved
Working on file GDDY
Success: File GDDY ammended and saved
Working on file GDEN
Success: File GDEN ammended and saved
Working on file GDOT
Success: File GDOT ammended and saved
Working on file GDP
Success: File GDP ammended and saved
Working on file GE
Success: File GE ammended and saved
Working on file GEC
Success: File GEC ammended and saved
Working on file GEF
Success: File GEF ammended and saved
Working on file GEN
Success: File GEN ammended and saved
Working on file GENC
Success: File GENC ammended and saved
Working on file GEO
Success: File GEO ammended and saved
Working on file GEOS
Success: File GEOS ammended and saved
Working on file GERN
Success: File GERN ammended and saved
Working on file GES
Success: File GES ammended and saved
Working on file GEVO
Success: File GEVO ammended and saved
Working on file GFED
Success: File GFED ammended and saved
Working on file GFF
Success: File GFF ammended and saved
Working on file GFN
Success: File GFN ammended and saved
Working on file GGG
Success: File GGG ammended and saved
Working on file GH
Success: File GH ammended and saved
Working on file GHC
Success: File GHC ammended and saved
Working on file GHL
Success: File GHL ammended and saved
Working on file GHM
Success: File GHM ammended and saved
Working on file GIFI
Success: File GIFI ammended and saved
Working on file GIII
Success: File GIII ammended and saved
Working on file GILD
Success: File GILD ammended and saved
Working on file GIS
Success: File GIS ammended and saved
Working on file GKOS
Success: File GKOS ammended and saved
Working on file GLBZ
Success: File GLBZ ammended and saved
Working on file GLDD
Success: File GLDD ammended and saved
Working on file GLIBA
Success: File GLIBA ammended and saved
Working on file GLPI
Success: File GLPI ammended and saved
Working on file GLRE
Success: File GLRE ammended and saved
Working on file GLT
Success: File GLT ammended and saved
Working on file GLUU
Success: File GLUU ammended and saved
Working on file GLW
Success: File GLW ammended and saved
Working on file GLYC
Success: File GLYC ammended and saved
Working on file GM
Success: File GM ammended and saved
Working on file GME
Success: File GME ammended and saved
Working on file GMED
Success: File GMED ammended and saved
Working on file GMO
Success: File GMO ammended and saved
Working on file GMRE
Success: File GMRE ammended and saved
Working on file GMS
Success: File GMS ammended and saved
Working on file GNC
Success: File GNC ammended and saved
Working on file GNCA
Success: File GNCA ammended and saved
Working on file GNE
Success: File GNE ammended and saved
Working on file GNK
Success: File GNK ammended and saved
Working on file GNL
Success: File GNL ammended and saved
Working on file GNMK
Success: File GNMK ammended and saved
Working on file GNRC
Success: File GNRC ammended and saved
Working on file GNTX
Success: File GNTX ammended and saved
Working on file GNTY
Success: File GNTY ammended and saved
Working on file GNW
Success: File GNW ammended and saved
Working on file GOGO
Success: File GOGO ammended and saved
Working on file GOLF
Success: File GOLF ammended and saved
Working on file GOOD
Success: File GOOD ammended and saved
Working on file GOOG
Success: File GOOG ammended and saved
Working on file GOOGL
Success: File GOOGL ammended and saved
Working on file GORO
Success: File GORO ammended and saved
Working on file GOSS
Success: File GOSS ammended and saved
Working on file GPC
Success: File GPC ammended and saved
Working on file GPI
Success: File GPI ammended and saved
Working on file GPK
Success: File GPK ammended and saved
Working on file GPMT
Success: File GPMT ammended and saved
Working on file GPN
Success: File GPN ammended and saved
Working on file GPOR
Success: File GPOR ammended and saved
Working on file GPRE
Success: File GPRE ammended and saved
Working on file GPRO
Success: File GPRO ammended and saved
Working on file GPS

Success: File GPS ammended and saved
Working on file GPX
Success: File GPX ammended and saved
Working on file GRA
Success: File GRA ammended and saved
Working on file GRBK
Success: File GRBK ammended and saved
Working on file GRC
Success: File GRC ammended and saved
Working on file GRIF
Success: File GRIF ammended and saved
Working on file GRMN
Success: File GRMN ammended and saved
Working on file GROW
Success: File GROW ammended and saved
Working on file GRPN
Success: File GRPN ammended and saved
Working on file GRTS
Success: File GRTS ammended and saved
Working on file GRUB
Success: File GRUB ammended and saved
Working on file GS
Success: File GS ammended and saved
Working on file GSAT
Success: File GSAT ammended and saved
Working on file GSB
Success: File GSB ammended and saved
Working on file GSBC
Success: File GSBC ammended and saved
Working on file GSHD
Success: File GSHD ammended and saved
Working on file GSIT
Success: File GSIT ammended and saved
Working on file GSKY
Success: File GSKY ammended and saved
Working on file GT
Success: File GT ammended and saved
Working on file GTES
Success: File GTES ammended and saved
Working on file GTHX
Success: File GTHX ammended and saved
Working on file GTIM
Success: File GTIM ammended and saved
Working on file GTLS
Success: File GTLS ammended and saved
Working on file GTN
Success: File GTN ammended and saved
Working on file GTS
Success: File GTS ammended and saved
Working on file GTT
Success: File GTT ammended and saved
Working on file GTX
Success: File GTX ammended and saved
Working on file GTY
Success: File GTY ammended and saved
Working on file GTYH
Success: File GTYH ammended and saved
Working on file GV
Success: File GV ammended and saved
Working on file GVA
Success: File GVA ammended and saved
Working on file GVP
Success: File GVP ammended and saved
Working on file GWB
Success: File GWB ammended and saved
Working on file GWGH
Success: File GWGH ammended and saved
Working on file GWRE
Success: File GWRE ammended and saved
Working on file GWRS
Success: File GWRS ammended and saved
Working on file GWW
Success: File GWW ammended and saved
Working on file H
Success: File H ammended and saved
Working on file HA
Success: File HA ammended and saved
Working on file HAE
Success: File HAE ammended and saved
Working on file HAFC
Success: File HAFC ammended and saved
Working on file HAIN
Success: File HAIN ammended and saved
Working on file HAL
Success: File HAL ammended and saved
Working on file HALL
Success: File HALL ammended and saved
Working on file HALO
Success: File HALO ammended and saved
Working on file HAS
Success: File HAS ammended and saved
Working on file HASI
Success: File HASI ammended and saved
Working on file HAYN
Success: File HAYN ammended and saved
Working on file HBAN
Success: File HBAN ammended and saved
Working on file HBB
Success: File HBB ammended and saved
Working on file HBCP
Success: File HBCP ammended and saved
Working on file HBI
Success: File HBI ammended and saved
Working on file HBIO
Success: File HBIO ammended and saved
Working on file HBMD
Success: File HBMD ammended and saved
Working on file HBNC
Success: File HBNC ammended and saved
Working on file HBP
Success: File HBP ammended and saved
Working on file HCA
Success: File HCA ammended and saved
Working on file HCC
Success: File HCC ammended and saved
Working on file HCCI
Success: File HCCI ammended and saved
Working on file HCFT
Success: File HCFT ammended and saved
Working on file HCHC
Success: File HCHC ammended and saved
Working on file HCI
Success: File HCI ammended and saved
Working on file HCKT
Success: File HCKT ammended and saved
Working on file HCSG
Success: File HCSG ammended and saved
Working on file HD
Success: File HD ammended and saved
Working on file HDS
Success: File HDS ammended and saved
Working on file HDSN
Success: File HDSN ammended and saved
Working on file HE
Success: File HE ammended and saved
Working on file HEAR
Success: File HEAR ammended and saved
Working on file HEES
Success: File HEES ammended and saved
Working on file HEI
Success: File HEI ammended and saved
Working on file HELE
Success: File HELE ammended and saved
Working on file HES
Success: File HES ammended and saved
Working on file HFBL
Success: File HFBL ammended and saved
Working on file HFC
Success: File HFC ammended and saved
Working on file HFWA
Success: File HFWA ammended and saved
Working on file HGV
Success: File HGV ammended and saved
Working on file HHC
Success: File HHC ammended and saved
Working on file HHS
Success: File HHS ammended and saved
Working on file HI
Success: File HI ammended and saved
Working on file HIBB
Success: File HIBB ammended and saved
Working on file HIFS
Success: File HIFS ammended and saved
Working on file HIG
Success: File HIG ammended and saved
Working on file HII
Success: File HII ammended and saved
Working on file HIL
Success: File HIL ammended and saved
Working on file HIW
Success: File HIW ammended and saved
Working on file HL
Success: File HL ammended and saved
Working on file HLF
Success: File HLF ammended and saved
Working on file HLI
Success: File HLI ammended and saved
Working on file HLIT
Success: File HLIT ammended and saved
Working on file HLNE
Success: File HLNE ammended and saved
Working on file HLT
Success: File HLT ammended and saved
Working on file HLX
Success: File HLX ammended and saved
Working on file HMHC
Success: File HMHC ammended and saved
Working on file HMN
Success: File HMN ammended and saved
Working on file HMNF
Success: File HMNF ammended and saved
Working on file HMST
Success: File HMST ammended and saved
Working on file HMSY
Success: File HMSY ammended and saved
Working on file HMTV
Success: File HMTV ammended and saved
Working on file HNI
Success: File HNI ammended and saved
Working on file HNRG
Success: File HNRG ammended and saved
Working on file HOFT
Success: File HOFT ammended and saved
Working on file HOG
Success: File HOG ammended and saved
Working on file HOLX
Success: File HOLX ammended and saved
Working on file HOMB
Success: File HOMB ammended and saved
Working on file HOME
Success: File HOME ammended and saved
Working on file HON
Success: File HON ammended and saved
Working on file HONE
Success: File HONE ammended and saved
Working on file HOPE
Success: File HOPE ammended and saved
Working on file HOV
Success: File HOV ammended and saved
Working on file HP
Success: File HP ammended and saved
Working on file HPE
Success: File HPE ammended and saved
Working on file HPP
Success: File HPP ammended and saved
Working on file HPQ
Success: File HPQ ammended and saved
Working on file HPR
Success: File HPR ammended and saved
Working on file HQY
Success: File HQY ammended and saved
Working on file HR
Success: File HR ammended and saved
Working on file HRB
Success: File HRB ammended and saved
Working on file HRC
Success: File HRC ammended and saved
Working on file HRI
Success: File HRI ammended and saved
Working on file HRL
Success: File HRL ammended and saved
Working on file HROW
Success: File HROW ammended and saved
Working on file HRTG
Success: File HRTG ammended and saved
Working on file HRTX
Success: File HRTX ammended and saved
Working on file HSC
Success: File HSC ammended and saved
Working on file HSIC
Success: File HSIC ammended and saved
Working on file HSII
Success: File HSII ammended and saved
Working on file HSKA
Success: File HSKA ammended and saved
Working on file HSON
Success: File HSON ammended and saved
Working on file HST
Success: File HST ammended and saved
Working on file HSTM
Success: File HSTM ammended and saved
Working on file HSY
Success: File HSY ammended and saved
Working on file HT
Success: File HT ammended and saved
Working on file HTA
Success: File HTA ammended and saved
Working on file HTBI
Success: File HTBI ammended and saved
Working on file HTBK
Success: File HTBK ammended and saved
Working on file HTBX
Success: File HTBX ammended and saved
Working on file HTGM
Success: File HTGM ammended and saved
Working on file HTH
Success: File HTH ammended and saved
Working on file HTLD
Success: File HTLD ammended and saved
Working on file HTLF
Success: File HTLF ammended and saved
Working on file HUBB
Success: File HUBB ammended and saved
Working on file HUBG

Success: File HUBG ammended and saved
Working on file HUBS
Success: File HUBS ammended and saved
Working on file HUM
Success: File HUM ammended and saved
Working on file HUN
Success: File HUN ammended and saved
Working on file HURC
Success: File HURC ammended and saved
Working on file HURN
Success: File HURN ammended and saved
Working on file HUSA
Success: File HUSA ammended and saved
Working on file HVT
Success: File HVT ammended and saved
Working on file HWBK
Success: File HWBK ammended and saved
Working on file HWC
Success: File HWC ammended and saved
Working on file HWCC
Success: File HWCC ammended and saved
Working on file HWKN
Success: File HWKN ammended and saved
Working on file HXL
Success: File HXL ammended and saved
Working on file HY
Success: File HY ammended and saved
Working on file HZN
Success: File HZN ammended and saved
Working on file HZNP
Success: File HZNP ammended and saved
Working on file HZO
Success: File HZO ammended and saved
Working on file IAC
Success: File IAC ammended and saved
Working on file IART
Success: File IART ammended and saved
Working on file IBCP
Success: File IBCP ammended and saved
Working on file IBIO
Success: File IBIO ammended and saved
Working on file IBKC
Success: File IBKC ammended and saved
Working on file IBKR
Success: File IBKR ammended and saved
Working on file IBM
Success: File IBM ammended and saved
Working on file IBOC
Success: File IBOC ammended and saved
Working on file IBP
Success: File IBP ammended and saved
Working on file IBTX
Success: File IBTX ammended and saved
Working on file ICAD
Success: File ICAD ammended and saved
Working on file ICBK
Success: File ICBK ammended and saved
Working on file ICCC
Success: File ICCC ammended and saved
Working on file ICD
Success: File ICD ammended and saved
Working on file ICE
Success: File ICE ammended and saved
Working on file ICFI
Success: File ICFI ammended and saved
Working on file ICHR
Success: File ICHR ammended and saved
Working on file ICON
Success: File ICON ammended and saved
Working on file ICPT
Success: File ICPT ammended and saved
Working on file ICUI
Success: File ICUI ammended and saved
Working on file IDA
Success: File IDA ammended and saved
Working on file IDCC
Success: File IDCC ammended and saved
Working on file IDN
Success: File IDN ammended and saved
Working on file IDRA
Success: File IDRA ammended and saved
Working on file IDT
Success: File IDT ammended and saved
Working on file IDXG
Success: File IDXG ammended and saved
Working on file IDXX
Success: File IDXX ammended and saved
Working on file IEC
Success: File IEC ammended and saved
Working on file IESC
Success: File IESC ammended and saved
Working on file IEX
Success: File IEX ammended and saved
Working on file IFF
Success: File IFF ammended and saved
Working on file IHC
Success: File IHC ammended and saved
Working on file III
Success: File III ammended and saved
Working on file IIIN
Success: File IIIN ammended and saved
Working on file IIIV
Success: File IIIV ammended and saved
Working on file IIN
Success: File IIN ammended and saved
Working on file IIPR
Success: File IIPR ammended and saved
Working on file IIVI
Success: File IIVI ammended and saved
Working on file IKNX
Success: File IKNX ammended and saved
Working on file ILMN
Success: File ILMN ammended and saved
Working on file ILPT
Success: File ILPT ammended and saved
Working on file IMGN
Success: File IMGN ammended and saved
Working on file IMH
Success: File IMH ammended and saved
Working on file IMKTA
Success: File IMKTA ammended and saved
Working on file IMMR
Success: File IMMR ammended and saved
Working on file IMMU
Success: File IMMU ammended and saved
Working on file IMXI
Success: File IMXI ammended and saved
Working on file INBK
Success: File INBK ammended and saved
Working on file INCY
Success: File INCY ammended and saved
Working on file INDB
Success: File INDB ammended and saved
Working on file INFI
Success: File INFI ammended and saved
Working on file INFN
Success: File INFN ammended and saved
Working on file INFO
Success: File INFO ammended and saved
Working on file INFU
Success: File INFU ammended and saved
Working on file INGN
Success: File INGN ammended and saved
Working on file INGR
Success: File INGR ammended and saved
Working on file INN
Success: File INN ammended and saved
Working on file INO
Success: File INO ammended and saved
Working on file INOD
Success: File INOD ammended and saved
Working on file INOV
Success: File INOV ammended and saved
Working on file INPX
Success: File INPX ammended and saved
Working on file INS
Success: File INS ammended and saved
Working on file INSE
Success: File INSE ammended and saved
Working on file INSG
Success: File INSG ammended and saved
Working on file INSM
Success: File INSM ammended and saved
Working on file INSP
Success: File INSP ammended and saved
Working on file INSW
Success: File INSW ammended and saved
Working on file INT
Success: File INT ammended and saved
Working on file INTC
Success: File INTC ammended and saved
Working on file INTG
Success: File INTG ammended and saved
Working on file INTL
Success: File INTL ammended and saved
Working on file INTT
Success: File INTT ammended and saved
Working on file INTU
Success: File INTU ammended and saved
Working on file INUV
Success: File INUV ammended and saved
Working on file INVA
Success: File INVA ammended and saved
Working on file INVE
Success: File INVE ammended and saved
Working on file INVH
Success: File INVH ammended and saved
Working on file INWK
Success: File INWK ammended and saved
Working on file IO
Success: File IO ammended and saved
Working on file IONS
Success: File IONS ammended and saved
Working on file IOR
Success: File IOR ammended and saved
Working on file IOSP
Success: File IOSP ammended and saved
Working on file IOTS
Success: File IOTS ammended and saved
Working on file IOVA
Success: File IOVA ammended and saved
Working on file IP
Success: File IP ammended and saved
Working on file IPAR
Success: File IPAR ammended and saved
Working on file IPG
Success: File IPG ammended and saved
Working on file IPGP
Success: File IPGP ammended and saved
Working on file IPHI
Success: File IPHI ammended and saved
Working on file IPI
Success: File IPI ammended and saved
Working on file IPWR
Success: File IPWR ammended and saved
Working on file IQV
Success: File IQV ammended and saved
Working on file IR
Success: File IR ammended and saved
Working on file IRBT
Success: File IRBT ammended and saved
Working on file IRDM
Success: File IRDM ammended and saved
Working on file IRET
Success: File IRET ammended and saved
Working on file IRIX
Success: File IRIX ammended and saved
Working on file IRM
Success: File IRM ammended and saved
Working on file IRMD
Success: File IRMD ammended and saved
Working on file IROQ
Success: File IROQ ammended and saved
Working on file IRT
Success: File IRT ammended and saved
Working on file IRTC
Success: File IRTC ammended and saved
Working on file IRWD
Success: File IRWD ammended and saved
Working on file ISBC
Success: File ISBC ammended and saved
Working on file ISDR
Success: File ISDR ammended and saved
Working on file ISIG
Success: File ISIG ammended and saved
Working on file ISNS
Success: File ISNS ammended and saved
Working on file ISR
Success: File ISR ammended and saved
Working on file ISRG
Success: File ISRG ammended and saved
Working on file ISSC
Success: File ISSC ammended and saved
Working on file ISTR
Success: File ISTR ammended and saved
Working on file IT
Success: File IT ammended and saved
Working on file ITCI
Success: File ITCI ammended and saved
Working on file ITGR
Success: File ITGR ammended and saved
Working on file ITI
Success: File ITI ammended and saved
Working on file ITIC
Success: File ITIC ammended and saved
Working on file ITRI
Success: File ITRI ammended and saved
Working on file ITT
Success: File ITT ammended and saved
Working on file ITW
Success: File ITW ammended and saved
Working on file IVAC
Success: File IVAC ammended and saved
Working on file IVC
Success: File IVC ammended and saved
Working on file IVR
Success: File IVR ammended and saved
Working on file IVZ
Success: File IVZ ammended and saved
Working on file IZEA
Success: File IZEA ammended and saved
Working on file JACK
Success: File JACK ammended and saved
Working on file JAGX

Success: File JAGX ammended and saved
Working on file JAKK
Success: File JAKK ammended and saved
Working on file JASN
Success: File JASN ammended and saved
Working on file JAX
Success: File JAX ammended and saved
Working on file JAZZ
Success: File JAZZ ammended and saved
Working on file JBGS
Success: File JBGS ammended and saved
Working on file JBHT
Success: File JBHT ammended and saved
Working on file JBL
Success: File JBL ammended and saved
Working on file JBLU
Success: File JBLU ammended and saved
Working on file JBSS
Success: File JBSS ammended and saved
Working on file JBT
Success: File JBT ammended and saved
Working on file JCAP
Success: File JCAP ammended and saved
Working on file JCI
Success: File JCI ammended and saved
Working on file JCOM
Success: File JCOM ammended and saved
Working on file JCS
Success: File JCS ammended and saved
Working on file JCTCF
Success: File JCTCF ammended and saved
Working on file JEF
Success: File JEF ammended and saved
Working on file JELD
Success: File JELD ammended and saved
Working on file JHG
Success: File JHG ammended and saved
Working on file JILL
Success: File JILL ammended and saved
Working on file JJSF
Success: File JJSF ammended and saved
Working on file JKHY
Success: File JKHY ammended and saved
Working on file JLL
Success: File JLL ammended and saved
Working on file JNCE
Success: File JNCE ammended and saved
Working on file JNJ
Success: File JNJ ammended and saved
Working on file JNPR
Success: File JNPR ammended and saved
Working on file JOB
Success: File JOB ammended and saved
Working on file JOE
Success: File JOE ammended and saved
Working on file JOUT
Success: File JOUT ammended and saved
Working on file JPM
Success: File JPM ammended and saved
Working on file JRVR
Success: File JRVR ammended and saved
Working on file JVA
Success: File JVA ammended and saved
Working on file JWN
Success: File JWN ammended and saved
Working on file JYNT
Success: File JYNT ammended and saved
Working on file K
Success: File K ammended and saved
Working on file KAI
Success: File KAI ammended and saved
Working on file KALA
Success: File KALA ammended and saved
Working on file KALU
Success: File KALU ammended and saved
Working on file KALV
Success: File KALV ammended and saved
Working on file KAMN
Success: File KAMN ammended and saved
Working on file KAR
Success: File KAR ammended and saved
Working on file KBAL
Success: File KBAL ammended and saved
Working on file KBH
Success: File KBH ammended and saved
Working on file KBR
Success: File KBR ammended and saved
Working on file KDMN
Success: File KDMN ammended and saved
Working on file KDP
Success: File KDP ammended and saved
Working on file KE
Success: File KE ammended and saved
Working on file KELYA
Success: File KELYA ammended and saved
Working on file KEQU
Success: File KEQU ammended and saved
Working on file KEX
Success: File KEX ammended and saved
Working on file KEY
Success: File KEY ammended and saved
Working on file KEYS
Success: File KEYS ammended and saved
Working on file KFFB
Success: File KFFB ammended and saved
Working on file KFRC
Success: File KFRC ammended and saved
Working on file KFY
Success: File KFY ammended and saved
Working on file KHC
Success: File KHC ammended and saved
Working on file KIDS
Success: File KIDS ammended and saved
Working on file KIM
Success: File KIM ammended and saved
Working on file KIN
Success: File KIN ammended and saved
Working on file KINS
Success: File KINS ammended and saved
Working on file KIRK
Success: File KIRK ammended and saved
Working on file KKR
Success: File KKR ammended and saved
Working on file KLAC
Success: File KLAC ammended and saved
Working on file KLIC
Success: File KLIC ammended and saved
Working on file KLXE
Success: File KLXE ammended and saved
Working on file KMB
Success: File KMB ammended and saved
Working on file KMI
Success: File KMI ammended and saved
Working on file KMPH
Success: File KMPH ammended and saved
Working on file KMPR
Success: File KMPR ammended and saved
Working on file KMT
Success: File KMT ammended and saved
Working on file KMX
Success: File KMX ammended and saved
Working on file KN
Success: File KN ammended and saved
Working on file KNL
Success: File KNL ammended and saved
Working on file KNSA
Success: File KNSA ammended and saved
Working on file KNSL
Success: File KNSL ammended and saved
Working on file KNX
Success: File KNX ammended and saved
Working on file KO
Success: File KO ammended and saved
Working on file KOD
Success: File KOD ammended and saved
Working on file KODK
Success: File KODK ammended and saved
Working on file KOP
Success: File KOP ammended and saved
Working on file KOPN
Success: File KOPN ammended and saved
Working on file KOS
Success: File KOS ammended and saved
Working on file KPTI
Success: File KPTI ammended and saved
Working on file KR
Success: File KR ammended and saved
Working on file KRA
Success: File KRA ammended and saved
Working on file KRC
Success: File KRC ammended and saved
Working on file KREF
Success: File KREF ammended and saved
Working on file KRG
Success: File KRG ammended and saved
Working on file KRNY
Success: File KRNY ammended and saved
Working on file KRO
Success: File KRO ammended and saved
Working on file KRYS
Success: File KRYS ammended and saved
Working on file KSS
Success: File KSS ammended and saved
Working on file KSU
Success: File KSU ammended and saved
Working on file KTCC
Success: File KTCC ammended and saved
Working on file KTOS
Success: File KTOS ammended and saved
Working on file KURA
Success: File KURA ammended and saved
Working on file KVHI
Success: File KVHI ammended and saved
Working on file KW
Success: File KW ammended and saved
Working on file KWR
Success: File KWR ammended and saved
Working on file KZR
Success: File KZR ammended and saved
Working on file L
Success: File L ammended and saved
Working on file LAD
Success: File LAD ammended and saved
Working on file LADR
Success: File LADR ammended and saved
Working on file LAKE
Success: File LAKE ammended and saved
Working on file LAMR
Success: File LAMR ammended and saved
Working on file LANC
Success: File LANC ammended and saved
Working on file LAND
Success: File LAND ammended and saved
Working on file LARK
Success: File LARK ammended and saved
Working on file LASR
Success: File LASR ammended and saved
Working on file LAUR
Success: File LAUR ammended and saved
Working on file LAWS
Success: File LAWS ammended and saved
Working on file LAZ
Success: File LAZ ammended and saved
Working on file LB
Success: File LB ammended and saved
Working on file LBAI
Success: File LBAI ammended and saved
Working on file LBC
Success: File LBC ammended and saved
Working on file LBRDA
Success: File LBRDA ammended and saved
Working on file LBRDK
Success: File LBRDK ammended and saved
Working on file LBRT
Success: File LBRT ammended and saved
Working on file LBTYA
Success: File LBTYA ammended and saved
Working on file LBTYK
Success: File LBTYK ammended and saved
Working on file LC
Success: File LC ammended and saved
Working on file LCI
Success: File LCI ammended and saved
Working on file LCII
Success: File LCII ammended and saved
Working on file LCNB
Success: File LCNB ammended and saved
Working on file LCUT
Success: File LCUT ammended and saved
Working on file LDL
Success: File LDL ammended and saved
Working on file LDOS
Success: File LDOS ammended and saved
Working on file LE
Success: File LE ammended and saved
Working on file LEA
Success: File LEA ammended and saved
Working on file LEAF
Success: File LEAF ammended and saved
Working on file LECO
Success: File LECO ammended and saved
Working on file LEE
Success: File LEE ammended and saved
Working on file LEG
Success: File LEG ammended and saved
Working on file LEGH
Success: File LEGH ammended and saved
Working on file LEN
Success: File LEN ammended and saved
Working on file LEU
Success: File LEU ammended and saved
Working on file LEVI
Success: File LEVI ammended and saved
Working on file LFUS
Success: File LFUS ammended and saved
Working on file LFVN
Success: File LFVN ammended and saved
Working on file LGIH
Success: File LGIH ammended and saved
Working on file LGL
Success: File LGL ammended and saved
Working on file LGND
Success: File LGND ammended and saved
Working on file LH
Success: File LH ammended and saved
Working on file LHCG
Success: File LHCG ammended and saved
Working on file LIFE

Success: File LIFE ammended and saved
Working on file LII
Success: File LII ammended and saved
Working on file LILA
Success: File LILA ammended and saved
Working on file LILAK
Success: File LILAK ammended and saved
Working on file LIN
Success: File LIN ammended and saved
Working on file LINC
Success: File LINC ammended and saved
Working on file LIND
Success: File LIND ammended and saved
Working on file LIQT
Success: File LIQT ammended and saved
Working on file LITE
Success: File LITE ammended and saved
Working on file LIVE
Success: File LIVE ammended and saved
Working on file LIVN
Success: File LIVN ammended and saved
Working on file LIVX
Success: File LIVX ammended and saved
Working on file LJPC
Success: File LJPC ammended and saved
Working on file LKFN
Success: File LKFN ammended and saved
Working on file LKQ
Success: File LKQ ammended and saved
Working on file LL
Success: File LL ammended and saved
Working on file LLNW
Success: File LLNW ammended and saved
Working on file LLY
Success: File LLY ammended and saved
Working on file LM
Success: File LM ammended and saved
Working on file LMAT
Success: File LMAT ammended and saved
Working on file LMFA
Success: File LMFA ammended and saved
Working on file LMNR
Success: File LMNR ammended and saved
Working on file LMNX
Success: File LMNX ammended and saved
Working on file LMT
Success: File LMT ammended and saved
Working on file LNC
Success: File LNC ammended and saved
Working on file LNDC
Success: File LNDC ammended and saved
Working on file LNG
Success: File LNG ammended and saved
Working on file LNN
Success: File LNN ammended and saved
Working on file LNT
Success: File LNT ammended and saved
Working on file LNTH
Success: File LNTH ammended and saved
Working on file LOAN
Success: File LOAN ammended and saved
Working on file LOB
Success: File LOB ammended and saved
Working on file LOCO
Success: File LOCO ammended and saved
Working on file LODE
Success: File LODE ammended and saved
Working on file LOGM
Success: File LOGM ammended and saved
Working on file LONE
Success: File LONE ammended and saved
Working on file LOOP
Success: File LOOP ammended and saved
Working on file LOPE
Success: File LOPE ammended and saved
Working on file LORL
Success: File LORL ammended and saved
Working on file LOVE
Success: File LOVE ammended and saved
Working on file LOW
Success: File LOW ammended and saved
Working on file LPCN
Success: File LPCN ammended and saved
Working on file LPG
Success: File LPG ammended and saved
Working on file LPI
Success: File LPI ammended and saved
Working on file LPLA
Success: File LPLA ammended and saved
Working on file LPSN
Success: File LPSN ammended and saved
Working on file LPTH
Success: File LPTH ammended and saved
Working on file LPX
Success: File LPX ammended and saved
Working on file LQDA
Success: File LQDA ammended and saved
Working on file LQDT
Success: File LQDT ammended and saved
Working on file LRCX
Success: File LRCX ammended and saved
Working on file LRN
Success: File LRN ammended and saved
Working on file LSBK
Success: File LSBK ammended and saved
Working on file LSCC
Success: File LSCC ammended and saved
Working on file LSI
Success: File LSI ammended and saved
Working on file LSTR
Success: File LSTR ammended and saved
Working on file LSXMA
Success: File LSXMA ammended and saved
Working on file LSXMK
Success: File LSXMK ammended and saved
Working on file LTBR
Success: File LTBR ammended and saved
Working on file LTC
Success: File LTC ammended and saved
Working on file LTHM
Success: File LTHM ammended and saved
Working on file LTRPA
Success: File LTRPA ammended and saved
Working on file LTRX
Success: File LTRX ammended and saved
Working on file LUB
Success: File LUB ammended and saved
Working on file LULU
Success: File LULU ammended and saved
Working on file LUNA
Success: File LUNA ammended and saved
Working on file LUV
Success: File LUV ammended and saved
Working on file LVS
Success: File LVS ammended and saved
Working on file LW
Success: File LW ammended and saved
Working on file LWAY
Success: File LWAY ammended and saved
Working on file LXP
Success: File LXP ammended and saved
Working on file LXRX
Success: File LXRX ammended and saved
Working on file LXU
Success: File LXU ammended and saved
Working on file LYB
Success: File LYB ammended and saved
Working on file LYFT
Success: File LYFT ammended and saved
Working on file LYTS
Success: File LYTS ammended and saved
Working on file LYV
Success: File LYV ammended and saved
Working on file LZB
Success: File LZB ammended and saved
Working on file M
Success: File M ammended and saved
Working on file MA
Success: File MA ammended and saved
Working on file MAA
Success: File MAA ammended and saved
Working on file MAC
Success: File MAC ammended and saved
Working on file MACK
Success: File MACK ammended and saved
Working on file MAN
Success: File MAN ammended and saved
Working on file MANH
Success: File MANH ammended and saved
Working on file MANT
Success: File MANT ammended and saved
Working on file MAR
Success: File MAR ammended and saved
Working on file MARA
Success: File MARA ammended and saved
Working on file MARK
Success: File MARK ammended and saved
Working on file MAS
Success: File MAS ammended and saved
Working on file MASI
Success: File MASI ammended and saved
Working on file MAT
Success: File MAT ammended and saved
Working on file MATW
Success: File MATW ammended and saved
Working on file MATX
Success: File MATX ammended and saved
Working on file MAYS
Success: File MAYS ammended and saved
Working on file MBCN
Success: File MBCN ammended and saved
Working on file MBI
Success: File MBI ammended and saved
Working on file MBII
Success: File MBII ammended and saved
Working on file MBIN
Success: File MBIN ammended and saved
Working on file MBIO
Success: File MBIO ammended and saved
Working on file MBOT
Success: File MBOT ammended and saved
Working on file MBUU
Success: File MBUU ammended and saved
Working on file MBWM
Success: File MBWM ammended and saved
Working on file MC
Success: File MC ammended and saved
Working on file MCB
Success: File MCB ammended and saved
Working on file MCBC
Success: File MCBC ammended and saved
Working on file MCD
Success: File MCD ammended and saved
Working on file MCF
Success: File MCF ammended and saved
Working on file MCFT
Success: File MCFT ammended and saved
Working on file MCHP
Success: File MCHP ammended and saved
Working on file MCHX
Success: File MCHX ammended and saved
Working on file MCK
Success: File MCK ammended and saved
Working on file MCO
Success: File MCO ammended and saved
Working on file MCRB
Success: File MCRB ammended and saved
Working on file MCRI
Success: File MCRI ammended and saved
Working on file MCS
Success: File MCS ammended and saved
Working on file MCY
Success: File MCY ammended and saved
Working on file MD
Success: File MD ammended and saved
Working on file MDB
Success: File MDB ammended and saved
Working on file MDC
Success: File MDC ammended and saved
Working on file MDGL
Success: File MDGL ammended and saved
Working on file MDLY
Success: File MDLY ammended and saved
Working on file MDLZ
Success: File MDLZ ammended and saved
Working on file MDP
Success: File MDP ammended and saved
Working on file MDRX
Success: File MDRX ammended and saved
Working on file MDT
Success: File MDT ammended and saved
Working on file MDU
Success: File MDU ammended and saved
Working on file MED
Success: File MED ammended and saved
Working on file MEDP
Success: File MEDP ammended and saved
Working on file MEET
Success: File MEET ammended and saved
Working on file MEI
Success: File MEI ammended and saved
Working on file MEIP
Success: File MEIP ammended and saved
Working on file MERC
Success: File MERC ammended and saved
Working on file MESA
Success: File MESA ammended and saved
Working on file MET
Success: File MET ammended and saved
Working on file MFA
Success: File MFA ammended and saved
Working on file MFNC
Success: File MFNC ammended and saved
Working on file MG
Success: File MG ammended and saved
Working on file MGEE
Success: File MGEE ammended and saved
Working on file MGEN
Success: File MGEN ammended and saved
Working on file MGI
Success: File MGI ammended and saved
Working on file MGLN
Success: File MGLN ammended and saved
Working on file MGM
Success: File MGM ammended and saved
Working on file MGNX

Success: File MGNX ammended and saved
Working on file MGPI
Success: File MGPI ammended and saved
Working on file MGRC
Success: File MGRC ammended and saved
Working on file MGTA
Success: File MGTA ammended and saved
Working on file MGY
Success: File MGY ammended and saved
Working on file MGYR
Success: File MGYR ammended and saved
Working on file MHH
Success: File MHH ammended and saved
Working on file MHK
Success: File MHK ammended and saved
Working on file MHLD
Success: File MHLD ammended and saved
Working on file MHO
Success: File MHO ammended and saved
Working on file MIC
Success: File MIC ammended and saved
Working on file MICR
Success: File MICR ammended and saved
Working on file MICT
Success: File MICT ammended and saved
Working on file MIDD
Success: File MIDD ammended and saved
Working on file MIK
Success: File MIK ammended and saved
Working on file MIND
Success: File MIND ammended and saved
Working on file MINI
Success: File MINI ammended and saved
Working on file MITK
Success: File MITK ammended and saved
Working on file MITT
Success: File MITT ammended and saved
Working on file MJCO
Success: File MJCO ammended and saved
Working on file MKC
Success: File MKC ammended and saved
Working on file MKL
Success: File MKL ammended and saved
Working on file MKSI
Success: File MKSI ammended and saved
Working on file MKTX
Success: File MKTX ammended and saved
Working on file MLAB
Success: File MLAB ammended and saved
Working on file MLHR
Success: File MLHR ammended and saved
Working on file MLI
Success: File MLI ammended and saved
Working on file MLM
Success: File MLM ammended and saved
Working on file MLND
Success: File MLND ammended and saved
Working on file MLP
Success: File MLP ammended and saved
Working on file MLR
Success: File MLR ammended and saved
Working on file MLSS
Success: File MLSS ammended and saved
Working on file MLVF
Success: File MLVF ammended and saved
Working on file MMAC
Success: File MMAC ammended and saved
Working on file MMC
Success: File MMC ammended and saved
Working on file MMI
Success: File MMI ammended and saved
Working on file MMM
Success: File MMM ammended and saved
Working on file MMS
Success: File MMS ammended and saved
Working on file MMSI
Success: File MMSI ammended and saved
Working on file MN
Success: File MN ammended and saved
Working on file MNK
Success: File MNK ammended and saved
Working on file MNKD
Success: File MNKD ammended and saved
Working on file MNOV
Success: File MNOV ammended and saved
Working on file MNR
Success: File MNR ammended and saved
Working on file MNRL
Success: File MNRL ammended and saved
Working on file MNRO
Success: File MNRO ammended and saved
Working on file MNST
Success: File MNST ammended and saved
Working on file MNTA
Success: File MNTA ammended and saved
Working on file MNTX
Success: File MNTX ammended and saved
Working on file MO
Success: File MO ammended and saved
Working on file MOBL
Success: File MOBL ammended and saved
Working on file MOD
Success: File MOD ammended and saved
Working on file MODN
Success: File MODN ammended and saved
Working on file MOFG
Success: File MOFG ammended and saved
Working on file MOH
Success: File MOH ammended and saved
Working on file MORN
Success: File MORN ammended and saved
Working on file MOS
Success: File MOS ammended and saved
Working on file MOSY
Success: File MOSY ammended and saved
Working on file MOTS
Success: File MOTS ammended and saved
Working on file MOV
Success: File MOV ammended and saved
Working on file MPAA
Success: File MPAA ammended and saved
Working on file MPB
Success: File MPB ammended and saved
Working on file MPC
Success: File MPC ammended and saved
Working on file MPW
Success: File MPW ammended and saved
Working on file MPWR
Success: File MPWR ammended and saved
Working on file MPX
Success: File MPX ammended and saved
Working on file MRAM
Success: File MRAM ammended and saved
Working on file MRC
Success: File MRC ammended and saved
Working on file MRCY
Success: File MRCY ammended and saved
Working on file MRIN
Success: File MRIN ammended and saved
Working on file MRK
Success: File MRK ammended and saved
Working on file MRKR
Success: File MRKR ammended and saved
Working on file MRLN
Success: File MRLN ammended and saved
Working on file MRNS
Success: File MRNS ammended and saved
Working on file MRO
Success: File MRO ammended and saved
Working on file MRSN
Success: File MRSN ammended and saved
Working on file MRTN
Success: File MRTN ammended and saved
Working on file MRTX
Success: File MRTX ammended and saved
Working on file MRVL
Success: File MRVL ammended and saved
Working on file MS
Success: File MS ammended and saved
Working on file MSA
Success: File MSA ammended and saved
Working on file MSBF
Success: File MSBF ammended and saved
Working on file MSBI
Success: File MSBI ammended and saved
Working on file MSCI
Success: File MSCI ammended and saved
Working on file MSEX
Success: File MSEX ammended and saved
Working on file MSFT
Success: File MSFT ammended and saved
Working on file MSGN
Success: File MSGN ammended and saved
Working on file MSI
Success: File MSI ammended and saved
Working on file MSM
Success: File MSM ammended and saved
Working on file MSN
Success: File MSN ammended and saved
Working on file MSON
Success: File MSON ammended and saved
Working on file MSTR
Success: File MSTR ammended and saved
Working on file MTB
Success: File MTB ammended and saved
Working on file MTCH
Success: File MTCH ammended and saved
Working on file MTD
Success: File MTD ammended and saved
Working on file MTDR
Success: File MTDR ammended and saved
Working on file MTEM
Success: File MTEM ammended and saved
Working on file MTEX
Success: File MTEX ammended and saved
Working on file MTG
Success: File MTG ammended and saved
Working on file MTH
Success: File MTH ammended and saved
Working on file MTN
Success: File MTN ammended and saved
Working on file MTNB
Success: File MTNB ammended and saved
Working on file MTOR
Success: File MTOR ammended and saved
Working on file MTRN
Success: File MTRN ammended and saved
Working on file MTRX
Success: File MTRX ammended and saved
Working on file MTSC
Success: File MTSC ammended and saved
Working on file MTSI
Success: File MTSI ammended and saved
Working on file MTW
Success: File MTW ammended and saved
Working on file MTX
Success: File MTX ammended and saved
Working on file MTZ
Success: File MTZ ammended and saved
Working on file MU
Success: File MU ammended and saved
Working on file MUR
Success: File MUR ammended and saved
Working on file MUSA
Success: File MUSA ammended and saved
Working on file MUX
Success: File MUX ammended and saved
Working on file MVBF
Success: File MVBF ammended and saved
Working on file MVIS
Success: File MVIS ammended and saved
Working on file MWA
Success: File MWA ammended and saved
Working on file MXIM
Success: File MXIM ammended and saved
Working on file MXL
Success: File MXL ammended and saved
Working on file MYE
Success: File MYE ammended and saved
Working on file MYGN
Success: File MYGN ammended and saved
Working on file MYL
Success: File MYL ammended and saved
Working on file MYOK
Success: File MYOK ammended and saved
Working on file MYOS
Success: File MYOS ammended and saved
Working on file MYRG
Success: File MYRG ammended and saved
Working on file NAII
Success: File NAII ammended and saved
Working on file NATH
Success: File NATH ammended and saved
Working on file NATI
Success: File NATI ammended and saved
Working on file NATR
Success: File NATR ammended and saved
Working on file NAV
Success: File NAV ammended and saved
Working on file NAVB
Success: File NAVB ammended and saved
Working on file NAVI
Success: File NAVI ammended and saved
Working on file NBEV
Success: File NBEV ammended and saved
Working on file NBHC
Success: File NBHC ammended and saved
Working on file NBIX
Success: File NBIX ammended and saved
Working on file NBL
Success: File NBL ammended and saved
Working on file NBN
Success: File NBN ammended and saved
Working on file NBR
Success: File NBR ammended and saved
Working on file NBTB
Success: File NBTB ammended and saved
Working on file NBY
Success: File NBY ammended and saved
Working on file NC
Success: File NC ammended and saved
Working on file NCBS

Success: File NCBS ammended and saved
Working on file NCLH
Success: File NCLH ammended and saved
Working on file NCMI
Success: File NCMI ammended and saved
Working on file NCR
Success: File NCR ammended and saved
Working on file NCSM
Success: File NCSM ammended and saved
Working on file NDAQ
Success: File NDAQ ammended and saved
Working on file NDLS
Success: File NDLS ammended and saved
Working on file NDSN
Success: File NDSN ammended and saved
Working on file NE
Success: File NE ammended and saved
Working on file NEE
Success: File NEE ammended and saved
Working on file NEM
Success: File NEM ammended and saved
Working on file NEO
Success: File NEO ammended and saved
Working on file NEOG
Success: File NEOG ammended and saved
Working on file NEON
Success: File NEON ammended and saved
Working on file NEOS
Success: File NEOS ammended and saved
Working on file NERV
Success: File NERV ammended and saved
Working on file NETE
Success: File NETE ammended and saved
Working on file NEU
Success: File NEU ammended and saved
Working on file NEWR
Success: File NEWR ammended and saved
Working on file NFBK
Success: File NFBK ammended and saved
Working on file NFG
Success: File NFG ammended and saved
Working on file NFLX
Success: File NFLX ammended and saved
Working on file NGHC
Success: File NGHC ammended and saved
Working on file NGS
Success: File NGS ammended and saved
Working on file NGVC
Success: File NGVC ammended and saved
Working on file NGVT
Success: File NGVT ammended and saved
Working on file NHC
Success: File NHC ammended and saved
Working on file NHI
Success: File NHI ammended and saved
Working on file NHTC
Success: File NHTC ammended and saved
Working on file NI
Success: File NI ammended and saved
Working on file NICK
Success: File NICK ammended and saved
Working on file NINE
Success: File NINE ammended and saved
Working on file NJR
Success: File NJR ammended and saved
Working on file NK
Success: File NK ammended and saved
Working on file NKE
Success: File NKE ammended and saved
Working on file NKSH
Success: File NKSH ammended and saved
Working on file NKTR
Success: File NKTR ammended and saved
Working on file NL
Success: File NL ammended and saved
Working on file NLS
Success: File NLS ammended and saved
Working on file NLSN
Success: File NLSN ammended and saved
Working on file NLY
Success: File NLY ammended and saved
Working on file NMIH
Success: File NMIH ammended and saved
Working on file NMRK
Success: File NMRK ammended and saved
Working on file NNBR
Success: File NNBR ammended and saved
Working on file NNI
Success: File NNI ammended and saved
Working on file NNN
Success: File NNN ammended and saved
Working on file NNVC
Success: File NNVC ammended and saved
Working on file NOC
Success: File NOC ammended and saved
Working on file NODK
Success: File NODK ammended and saved
Working on file NOG
Success: File NOG ammended and saved
Working on file NOV
Success: File NOV ammended and saved
Working on file NOVT
Success: File NOVT ammended and saved
Working on file NOW
Success: File NOW ammended and saved
Working on file NP
Success: File NP ammended and saved
Working on file NPK
Success: File NPK ammended and saved
Working on file NPO
Success: File NPO ammended and saved
Working on file NPTN
Success: File NPTN ammended and saved
Working on file NR
Success: File NR ammended and saved
Working on file NRC
Success: File NRC ammended and saved
Working on file NRG
Success: File NRG ammended and saved
Working on file NRIM
Success: File NRIM ammended and saved
Working on file NRZ
Success: File NRZ ammended and saved
Working on file NSA
Success: File NSA ammended and saved
Working on file NSC
Success: File NSC ammended and saved
Working on file NSEC
Success: File NSEC ammended and saved
Working on file NSIT
Success: File NSIT ammended and saved
Working on file NSP
Success: File NSP ammended and saved
Working on file NSSC
Success: File NSSC ammended and saved
Working on file NSTG
Success: File NSTG ammended and saved
Working on file NTAP
Success: File NTAP ammended and saved
Working on file NTCT
Success: File NTCT ammended and saved
Working on file NTGR
Success: File NTGR ammended and saved
Working on file NTIC
Success: File NTIC ammended and saved
Working on file NTIP
Success: File NTIP ammended and saved
Working on file NTLA
Success: File NTLA ammended and saved
Working on file NTN
Success: File NTN ammended and saved
Working on file NTNX
Success: File NTNX ammended and saved
Working on file NTRA
Success: File NTRA ammended and saved
Working on file NTRS
Success: File NTRS ammended and saved
Working on file NTWK
Success: File NTWK ammended and saved
Working on file NUAN
Success: File NUAN ammended and saved
Working on file NUE
Success: File NUE ammended and saved
Working on file NURO
Success: File NURO ammended and saved
Working on file NUS
Success: File NUS ammended and saved
Working on file NUVA
Success: File NUVA ammended and saved
Working on file NVAX
Success: File NVAX ammended and saved
Working on file NVDA
Success: File NVDA ammended and saved
Working on file NVEC
Success: File NVEC ammended and saved
Working on file NVEE
Success: File NVEE ammended and saved
Working on file NVFY
Success: File NVFY ammended and saved
Working on file NVIV
Success: File NVIV ammended and saved
Working on file NVR
Success: File NVR ammended and saved
Working on file NVRO
Success: File NVRO ammended and saved
Working on file NVT
Success: File NVT ammended and saved
Working on file NVTA
Success: File NVTA ammended and saved
Working on file NVUS
Success: File NVUS ammended and saved
Working on file NWBI
Success: File NWBI ammended and saved
Working on file NWE
Success: File NWE ammended and saved
Working on file NWFL
Success: File NWFL ammended and saved
Working on file NWHM
Success: File NWHM ammended and saved
Working on file NWL
Success: File NWL ammended and saved
Working on file NWLI
Success: File NWLI ammended and saved
Working on file NWN
Success: File NWN ammended and saved
Working on file NWPX
Success: File NWPX ammended and saved
Working on file NWS
Success: File NWS ammended and saved
Working on file NWSA
Success: File NWSA ammended and saved
Working on file NX
Success: File NX ammended and saved
Working on file NXGN
Success: File NXGN ammended and saved
Working on file NXRT
Success: File NXRT ammended and saved
Working on file NXST
Success: File NXST ammended and saved
Working on file NXTD
Success: File NXTD ammended and saved
Working on file NYCB
Success: File NYCB ammended and saved
Working on file NYMT
Success: File NYMT ammended and saved
Working on file NYT
Success: File NYT ammended and saved
Working on file O
Success: File O ammended and saved
Working on file OAS
Success: File OAS ammended and saved
Working on file OBCI
Success: File OBCI ammended and saved
Working on file OBNK
Success: File OBNK ammended and saved
Working on file OC
Success: File OC ammended and saved
Working on file OCC
Success: File OCC ammended and saved
Working on file OCFC
Success: File OCFC ammended and saved
Working on file OCN
Success: File OCN ammended and saved
Working on file OCUL
Success: File OCUL ammended and saved
Working on file OCX
Success: File OCX ammended and saved
Working on file ODC
Success: File ODC ammended and saved
Working on file ODFL
Success: File ODFL ammended and saved
Working on file ODP
Success: File ODP ammended and saved
Working on file ODT
Success: File ODT ammended and saved
Working on file OESX
Success: File OESX ammended and saved
Working on file OFC
Success: File OFC ammended and saved
Working on file OFED
Success: File OFED ammended and saved
Working on file OFG
Success: File OFG ammended and saved
Working on file OFIX
Success: File OFIX ammended and saved
Working on file OFLX
Success: File OFLX ammended and saved
Working on file OGE
Success: File OGE ammended and saved
Working on file OGEN
Success: File OGEN ammended and saved
Working on file OGS
Success: File OGS ammended and saved
Working on file OHI
Success: File OHI ammended and saved
Working on file OI
Success: File OI ammended and saved
Working on file OII
Success: File OII ammended and saved
Working on file OIS
Success: File OIS ammended and saved
Working on file OKE
Success: File OKE ammended and saved
Working on file OKTA
Success: File OKTA ammended and saved
Working on file OLED

Success: File OLED ammended and saved
Working on file OLLI
Success: File OLLI ammended and saved
Working on file OLN
Success: File OLN ammended and saved
Working on file OLP
Success: File OLP ammended and saved
Working on file OMC
Success: File OMC ammended and saved
Working on file OMCL
Success: File OMCL ammended and saved
Working on file OMER
Success: File OMER ammended and saved
Working on file OMEX
Success: File OMEX ammended and saved
Working on file OMF
Success: File OMF ammended and saved
Working on file OMI
Success: File OMI ammended and saved
Working on file ON
Success: File ON ammended and saved
Working on file ONB
Success: File ONB ammended and saved
Working on file ONCS
Success: File ONCS ammended and saved
Working on file ONDK
Success: File ONDK ammended and saved
Working on file ONTX
Success: File ONTX ammended and saved
Working on file ONVO
Success: File ONVO ammended and saved
Working on file OOMA
Success: File OOMA ammended and saved
Working on file OPGN
Success: File OPGN ammended and saved
Working on file OPI
Success: File OPI ammended and saved
Working on file OPK
Success: File OPK ammended and saved
Working on file OPOF
Success: File OPOF ammended and saved
Working on file OPRX
Success: File OPRX ammended and saved
Working on file OPTN
Success: File OPTN ammended and saved
Working on file OPTT
Success: File OPTT ammended and saved
Working on file OPY
Success: File OPY ammended and saved
Working on file ORA
Success: File ORA ammended and saved
Working on file ORBC
Success: File ORBC ammended and saved
Working on file ORC
Success: File ORC ammended and saved
Working on file ORCL
Success: File ORCL ammended and saved
Working on file ORGO
Success: File ORGO ammended and saved
Working on file ORI
Success: File ORI ammended and saved
Working on file ORLY
Success: File ORLY ammended and saved
Working on file ORN
Success: File ORN ammended and saved
Working on file ORRF
Success: File ORRF ammended and saved
Working on file OSBC
Success: File OSBC ammended and saved
Working on file OSG
Success: File OSG ammended and saved
Working on file OSIS
Success: File OSIS ammended and saved
Working on file OSK
Success: File OSK ammended and saved
Working on file OSPN
Success: File OSPN ammended and saved
Working on file OSTK
Success: File OSTK ammended and saved
Working on file OSUR
Success: File OSUR ammended and saved
Working on file OTEL
Success: File OTEL ammended and saved
Working on file OTIC
Success: File OTIC ammended and saved
Working on file OTTR
Success: File OTTR ammended and saved
Working on file OUT
Success: File OUT ammended and saved
Working on file OVBC
Success: File OVBC ammended and saved
Working on file OVLY
Success: File OVLY ammended and saved
Working on file OXM
Success: File OXM ammended and saved
Working on file OXY
Success: File OXY ammended and saved
Working on file OZK
Success: File OZK ammended and saved
Working on file PACB
Success: File PACB ammended and saved
Working on file PACW
Success: File PACW ammended and saved
Working on file PAG
Success: File PAG ammended and saved
Working on file PAHC
Success: File PAHC ammended and saved
Working on file PANL
Success: File PANL ammended and saved
Working on file PANW
Success: File PANW ammended and saved
Working on file PAR
Success: File PAR ammended and saved
Working on file PARR
Success: File PARR ammended and saved
Working on file PATI
Success: File PATI ammended and saved
Working on file PATK
Success: File PATK ammended and saved
Working on file PAYC
Success: File PAYC ammended and saved
Working on file PAYX
Success: File PAYX ammended and saved
Working on file PB
Success: File PB ammended and saved
Working on file PBCT
Success: File PBCT ammended and saved
Working on file PBF
Success: File PBF ammended and saved
Working on file PBH
Success: File PBH ammended and saved
Working on file PBHC
Success: File PBHC ammended and saved
Working on file PBI
Success: File PBI ammended and saved
Working on file PBIP
Success: File PBIP ammended and saved
Working on file PBPB
Success: File PBPB ammended and saved
Working on file PBYI
Success: File PBYI ammended and saved
Working on file PCAR
Success: File PCAR ammended and saved
Working on file PCH
Success: File PCH ammended and saved
Working on file PCRX
Success: File PCRX ammended and saved
Working on file PCSB
Success: File PCSB ammended and saved
Working on file PCTI
Success: File PCTI ammended and saved
Working on file PCTY
Success: File PCTY ammended and saved
Working on file PCYG
Success: File PCYG ammended and saved
Working on file PCYO
Success: File PCYO ammended and saved
Working on file PD
Success: File PD ammended and saved
Working on file PDCE
Success: File PDCE ammended and saved
Working on file PDCO
Success: File PDCO ammended and saved
Working on file PDEX
Success: File PDEX ammended and saved
Working on file PDFS
Success: File PDFS ammended and saved
Working on file PDLB
Success: File PDLB ammended and saved
Working on file PDLI
Success: File PDLI ammended and saved
Working on file PDM
Success: File PDM ammended and saved
Working on file PE
Success: File PE ammended and saved
Working on file PEB
Success: File PEB ammended and saved
Working on file PEBK
Success: File PEBK ammended and saved
Working on file PEBO
Success: File PEBO ammended and saved
Working on file PED
Success: File PED ammended and saved
Working on file PEG
Success: File PEG ammended and saved
Working on file PEGA
Success: File PEGA ammended and saved
Working on file PEI
Success: File PEI ammended and saved
Working on file PEIX
Success: File PEIX ammended and saved
Working on file PEN
Success: File PEN ammended and saved
Working on file PENN
Success: File PENN ammended and saved
Working on file PEP
Success: File PEP ammended and saved
Working on file PESI
Success: File PESI ammended and saved
Working on file PETQ
Success: File PETQ ammended and saved
Working on file PETS
Success: File PETS ammended and saved
Working on file PFBC
Success: File PFBC ammended and saved
Working on file PFBI
Success: File PFBI ammended and saved
Working on file PFE
Success: File PFE ammended and saved
Working on file PFG
Success: File PFG ammended and saved
Working on file PFGC
Success: File PFGC ammended and saved
Working on file PFIE
Success: File PFIE ammended and saved
Working on file PFIN
Success: File PFIN ammended and saved
Working on file PFIS
Success: File PFIS ammended and saved
Working on file PFMT
Success: File PFMT ammended and saved
Working on file PFNX
Success: File PFNX ammended and saved
Working on file PFPT
Success: File PFPT ammended and saved
Working on file PFS
Success: File PFS ammended and saved
Working on file PFSW
Success: File PFSW ammended and saved
Working on file PG
Success: File PG ammended and saved
Working on file PGC
Success: File PGC ammended and saved
Working on file PGNX
Success: File PGNX ammended and saved
Working on file PGR
Success: File PGR ammended and saved
Working on file PGRE
Success: File PGRE ammended and saved
Working on file PGTI
Success: File PGTI ammended and saved
Working on file PH
Success: File PH ammended and saved
Working on file PHAS
Success: File PHAS ammended and saved
Working on file PHIO
Success: File PHIO ammended and saved
Working on file PHM
Success: File PHM ammended and saved
Working on file PHX
Success: File PHX ammended and saved
Working on file PI
Success: File PI ammended and saved
Working on file PICO
Success: File PICO ammended and saved
Working on file PIH
Success: File PIH ammended and saved
Working on file PII
Success: File PII ammended and saved
Working on file PINC
Success: File PINC ammended and saved
Working on file PINS
Success: File PINS ammended and saved
Working on file PJT
Success: File PJT ammended and saved
Working on file PK
Success: File PK ammended and saved
Working on file PKBK
Success: File PKBK ammended and saved
Working on file PKE
Success: File PKE ammended and saved
Working on file PKG
Success: File PKG ammended and saved
Working on file PKI
Success: File PKI ammended and saved
Working on file PKOH
Success: File PKOH ammended and saved
Working on file PLAB
Success: File PLAB ammended and saved
Working on file PLAN
Success: File PLAN ammended and saved
Working on file PLAY

Success: File PLAY ammended and saved
Working on file PLBC
Success: File PLBC ammended and saved
Working on file PLCE
Success: File PLCE ammended and saved
Working on file PLD
Success: File PLD ammended and saved
Working on file PLNT
Success: File PLNT ammended and saved
Working on file PLOW
Success: File PLOW ammended and saved
Working on file PLPC
Success: File PLPC ammended and saved
Working on file PLSE
Success: File PLSE ammended and saved
Working on file PLT
Success: File PLT ammended and saved
Working on file PLUG
Success: File PLUG ammended and saved
Working on file PLUS
Success: File PLUS ammended and saved
Working on file PLXP
Success: File PLXP ammended and saved
Working on file PLXS
Success: File PLXS ammended and saved
Working on file PLYA
Success: File PLYA ammended and saved
Working on file PLYM
Success: File PLYM ammended and saved
Working on file PM
Success: File PM ammended and saved
Working on file PMBC
Success: File PMBC ammended and saved
Working on file PMD
Success: File PMD ammended and saved
Working on file PMT
Success: File PMT ammended and saved
Working on file PMTS
Success: File PMTS ammended and saved
Working on file PNBK
Success: File PNBK ammended and saved
Working on file PNC
Success: File PNC ammended and saved
Working on file PNFP
Success: File PNFP ammended and saved
Working on file PNM
Success: File PNM ammended and saved
Working on file PNR
Success: File PNR ammended and saved
Working on file PNRG
Success: File PNRG ammended and saved
Working on file PNW
Success: File PNW ammended and saved
Working on file PODD
Success: File PODD ammended and saved
Working on file POL
Success: File POL ammended and saved
Working on file POOL
Success: File POOL ammended and saved
Working on file POR
Success: File POR ammended and saved
Working on file POST
Success: File POST ammended and saved
Working on file POWI
Success: File POWI ammended and saved
Working on file POWL
Success: File POWL ammended and saved
Working on file PPBI
Success: File PPBI ammended and saved
Working on file PPC
Success: File PPC ammended and saved
Working on file PPG
Success: File PPG ammended and saved
Working on file PPIH
Success: File PPIH ammended and saved
Working on file PPL
Success: File PPL ammended and saved
Working on file PPSI
Success: File PPSI ammended and saved
Working on file PQG
Success: File PQG ammended and saved
Working on file PRA
Success: File PRA ammended and saved
Working on file PRAA
Success: File PRAA ammended and saved
Working on file PRAH
Success: File PRAH ammended and saved
Working on file PRCP
Success: File PRCP ammended and saved
Working on file PRFT
Success: File PRFT ammended and saved
Working on file PRGO
Success: File PRGO ammended and saved
Working on file PRGS
Success: File PRGS ammended and saved
Working on file PRGX
Success: File PRGX ammended and saved
Working on file PRI
Success: File PRI ammended and saved
Working on file PRIM
Success: File PRIM ammended and saved
Working on file PRK
Success: File PRK ammended and saved
Working on file PRLB
Success: File PRLB ammended and saved
Working on file PRMW
Success: File PRMW ammended and saved
Working on file PRNB
Success: File PRNB ammended and saved
Working on file PRO
Success: File PRO ammended and saved
Working on file PROV
Success: File PROV ammended and saved
Working on file PRPH
Success: File PRPH ammended and saved
Working on file PRSC
Success: File PRSC ammended and saved
Working on file PRSP
Success: File PRSP ammended and saved
Working on file PRTA
Success: File PRTA ammended and saved
Working on file PRTK
Success: File PRTK ammended and saved
Working on file PRTS
Success: File PRTS ammended and saved
Working on file PRTY
Success: File PRTY ammended and saved
Working on file PRU
Success: File PRU ammended and saved
Working on file PRVB
Success: File PRVB ammended and saved
Working on file PS
Success: File PS ammended and saved
Working on file PSA
Success: File PSA ammended and saved
Working on file PSB
Success: File PSB ammended and saved
Working on file PSMT
Success: File PSMT ammended and saved
Working on file PSN
Success: File PSN ammended and saved
Working on file PSTG
Success: File PSTG ammended and saved
Working on file PSX
Success: File PSX ammended and saved
Working on file PTC
Success: File PTC ammended and saved
Working on file PTCT
Success: File PTCT ammended and saved
Working on file PTE
Success: File PTE ammended and saved
Working on file PTEN
Success: File PTEN ammended and saved
Working on file PTGX
Success: File PTGX ammended and saved
Working on file PTI
Success: File PTI ammended and saved
Working on file PTLA
Success: File PTLA ammended and saved
Working on file PTN
Success: File PTN ammended and saved
Working on file PTSI
Success: File PTSI ammended and saved
Working on file PTVCA
Success: File PTVCA ammended and saved
Working on file PTVCB
Success: File PTVCB ammended and saved
Working on file PUB
Success: File PUB ammended and saved
Working on file PULM
Success: File PULM ammended and saved
Working on file PUMP
Success: File PUMP ammended and saved
Working on file PVAC
Success: File PVAC ammended and saved
Working on file PVBC
Success: File PVBC ammended and saved
Working on file PVH
Success: File PVH ammended and saved
Working on file PW
Success: File PW ammended and saved
Working on file PWOD
Success: File PWOD ammended and saved
Working on file PWR
Success: File PWR ammended and saved
Working on file PXD
Success: File PXD ammended and saved
Working on file PXLW
Success: File PXLW ammended and saved
Working on file PYPL
Success: File PYPL ammended and saved
Working on file PZG
Success: File PZG ammended and saved
Working on file PZN
Success: File PZN ammended and saved
Working on file PZZA
Success: File PZZA ammended and saved
Working on file QADA
Success: File QADA ammended and saved
Working on file QADB
Success: File QADB ammended and saved
Working on file QCOM
Success: File QCOM ammended and saved
Working on file QCRH
Success: File QCRH ammended and saved
Working on file QDEL
Success: File QDEL ammended and saved
Working on file QEP
Success: File QEP ammended and saved
Working on file QLYS
Success: File QLYS ammended and saved
Working on file QNST
Success: File QNST ammended and saved
Working on file QRHC
Success: File QRHC ammended and saved
Working on file QRTEA
Success: File QRTEA ammended and saved
Working on file QRVO
Success: File QRVO ammended and saved
Working on file QTRX
Success: File QTRX ammended and saved
Working on file QTS
Success: File QTS ammended and saved
Working on file QTWO
Success: File QTWO ammended and saved
Working on file QUAD
Success: File QUAD ammended and saved
Working on file QUIK
Success: File QUIK ammended and saved
Working on file QUMU
Success: File QUMU ammended and saved
Working on file QUOT
Success: File QUOT ammended and saved
Working on file R
Success: File R ammended and saved
Working on file RAD
Success: File RAD ammended and saved
Working on file RAIL
Success: File RAIL ammended and saved
Working on file RAMP
Success: File RAMP ammended and saved
Working on file RARE
Success: File RARE ammended and saved
Working on file RAVE
Success: File RAVE ammended and saved
Working on file RAVN
Success: File RAVN ammended and saved
Working on file RBB
Success: File RBB ammended and saved
Working on file RBBN
Success: File RBBN ammended and saved
Working on file RBC
Success: File RBC ammended and saved
Working on file RBCAA
Success: File RBCAA ammended and saved
Working on file RBCN
Success: File RBCN ammended and saved
Working on file RBNC
Success: File RBNC ammended and saved
Working on file RC
Success: File RC ammended and saved
Working on file RCII
Success: File RCII ammended and saved
Working on file RCKT
Success: File RCKT ammended and saved
Working on file RCKY
Success: File RCKY ammended and saved
Working on file RCL
Success: File RCL ammended and saved
Working on file RCM
Success: File RCM ammended and saved
Working on file RCMT
Success: File RCMT ammended and saved
Working on file RCUS
Success: File RCUS ammended and saved
Working on file RDFN
Success: File RDFN ammended and saved
Working on file RDI
Success: File RDI ammended and saved
Working on file RDN
Success: File RDN ammended and saved
Working on file RDNT
Success: File RDNT ammended and saved
Working on file RDUS

Success: File RDUS ammended and saved
Working on file RDVT
Success: File RDVT ammended and saved
Working on file RE
Success: File RE ammended and saved
Working on file REED
Success: File REED ammended and saved
Working on file REFR
Success: File REFR ammended and saved
Working on file REG
Success: File REG ammended and saved
Working on file REGI
Success: File REGI ammended and saved
Working on file REGN
Success: File REGN ammended and saved
Working on file REI
Success: File REI ammended and saved
Working on file RELL
Success: File RELL ammended and saved
Working on file RELV
Success: File RELV ammended and saved
Working on file REPH
Success: File REPH ammended and saved
Working on file REPL
Success: File REPL ammended and saved
Working on file RES
Success: File RES ammended and saved
Working on file RESI
Success: File RESI ammended and saved
Working on file RESN
Success: File RESN ammended and saved
Working on file RETA
Success: File RETA ammended and saved
Working on file REV
Success: File REV ammended and saved
Working on file REVG
Success: File REVG ammended and saved
Working on file REX
Success: File REX ammended and saved
Working on file REXR
Success: File REXR ammended and saved
Working on file REZI
Success: File REZI ammended and saved
Working on file RF
Success: File RF ammended and saved
Working on file RFIL
Success: File RFIL ammended and saved
Working on file RFL
Success: File RFL ammended and saved
Working on file RFP
Success: File RFP ammended and saved
Working on file RGA
Success: File RGA ammended and saved
Working on file RGCO
Success: File RGCO ammended and saved
Working on file RGEN
Success: File RGEN ammended and saved
Working on file RGLD
Success: File RGLD ammended and saved
Working on file RGLS
Success: File RGLS ammended and saved
Working on file RGNX
Success: File RGNX ammended and saved
Working on file RGR
Success: File RGR ammended and saved
Working on file RGS
Success: File RGS ammended and saved
Working on file RH
Success: File RH ammended and saved
Working on file RHE
Success: File RHE ammended and saved
Working on file RHI
Success: File RHI ammended and saved
Working on file RHP
Success: File RHP ammended and saved
Working on file RIBT
Success: File RIBT ammended and saved
Working on file RICK
Success: File RICK ammended and saved
Working on file RIG
Success: File RIG ammended and saved
Working on file RIGL
Success: File RIGL ammended and saved
Working on file RILY
Success: File RILY ammended and saved
Working on file RIOT
Success: File RIOT ammended and saved
Working on file RJF
Success: File RJF ammended and saved
Working on file RKDA
Success: File RKDA ammended and saved
Working on file RL
Success: File RL ammended and saved
Working on file RLGT
Success: File RLGT ammended and saved
Working on file RLGY
Success: File RLGY ammended and saved
Working on file RLH
Success: File RLH ammended and saved
Working on file RLI
Success: File RLI ammended and saved
Working on file RLJ
Success: File RLJ ammended and saved
Working on file RM
Success: File RM ammended and saved
Working on file RMAX
Success: File RMAX ammended and saved
Working on file RMBS
Success: File RMBS ammended and saved
Working on file RMCF
Success: File RMCF ammended and saved
Working on file RMD
Success: File RMD ammended and saved
Working on file RMR
Success: File RMR ammended and saved
Working on file RMTI
Success: File RMTI ammended and saved
Working on file RNDB
Success: File RNDB ammended and saved
Working on file RNET
Success: File RNET ammended and saved
Working on file RNG
Success: File RNG ammended and saved
Working on file RNR
Success: File RNR ammended and saved
Working on file RNST
Success: File RNST ammended and saved
Working on file RNWK
Success: File RNWK ammended and saved
Working on file ROCK
Success: File ROCK ammended and saved
Working on file ROG
Success: File ROG ammended and saved
Working on file ROIC
Success: File ROIC ammended and saved
Working on file ROK
Success: File ROK ammended and saved
Working on file ROKU
Success: File ROKU ammended and saved
Working on file ROL
Success: File ROL ammended and saved
Working on file ROLL
Success: File ROLL ammended and saved
Working on file ROP
Success: File ROP ammended and saved
Working on file ROST
Success: File ROST ammended and saved
Working on file RP
Success: File RP ammended and saved
Working on file RPAI
Success: File RPAI ammended and saved
Working on file RPD
Success: File RPD ammended and saved
Working on file RPM
Success: File RPM ammended and saved
Working on file RPT
Success: File RPT ammended and saved
Working on file RRC
Success: File RRC ammended and saved
Working on file RRD
Success: File RRD ammended and saved
Working on file RRGB
Success: File RRGB ammended and saved
Working on file RRR
Success: File RRR ammended and saved
Working on file RRTS
Success: File RRTS ammended and saved
Working on file RS
Success: File RS ammended and saved
Working on file RSG
Success: File RSG ammended and saved
Working on file RST
Success: File RST ammended and saved
Working on file RTIX
Success: File RTIX ammended and saved
Working on file RTRX
Success: File RTRX ammended and saved
Working on file RTW
Success: File RTW ammended and saved
Working on file RUBI
Success: File RUBI ammended and saved
Working on file RUBY
Success: File RUBY ammended and saved
Working on file RUN
Success: File RUN ammended and saved
Working on file RUSHA
Success: File RUSHA ammended and saved
Working on file RUSHB
Success: File RUSHB ammended and saved
Working on file RUTH
Success: File RUTH ammended and saved
Working on file RVI
Success: File RVI ammended and saved
Working on file RVLT
Success: File RVLT ammended and saved
Working on file RVNC
Success: File RVNC ammended and saved
Working on file RVP
Success: File RVP ammended and saved
Working on file RVSB
Success: File RVSB ammended and saved
Working on file RWT
Success: File RWT ammended and saved
Working on file RXN
Success: File RXN ammended and saved
Working on file RYAM
Success: File RYAM ammended and saved
Working on file RYI
Success: File RYI ammended and saved
Working on file RYN
Success: File RYN ammended and saved
Working on file RYTM
Success: File RYTM ammended and saved
Working on file SABR
Success: File SABR ammended and saved
Working on file SACH
Success: File SACH ammended and saved
Working on file SAFE
Success: File SAFE ammended and saved
Working on file SAFM
Success: File SAFM ammended and saved
Working on file SAFT
Success: File SAFT ammended and saved
Working on file SAGE
Success: File SAGE ammended and saved
Working on file SAH
Success: File SAH ammended and saved
Working on file SAIA
Success: File SAIA ammended and saved
Working on file SAIC
Success: File SAIC ammended and saved
Working on file SAIL
Success: File SAIL ammended and saved
Working on file SAL
Success: File SAL ammended and saved
Working on file SALM
Success: File SALM ammended and saved
Working on file SAM
Success: File SAM ammended and saved
Working on file SAMG
Success: File SAMG ammended and saved
Working on file SANM
Success: File SANM ammended and saved
Working on file SANW
Success: File SANW ammended and saved
Working on file SASR
Success: File SASR ammended and saved
Working on file SATS
Success: File SATS ammended and saved
Working on file SAVE
Success: File SAVE ammended and saved
Working on file SBAC
Success: File SBAC ammended and saved
Working on file SBBX
Success: File SBBX ammended and saved
Working on file SBCF
Success: File SBCF ammended and saved
Working on file SBFG
Success: File SBFG ammended and saved
Working on file SBGI
Success: File SBGI ammended and saved
Working on file SBH
Success: File SBH ammended and saved
Working on file SBNY
Success: File SBNY ammended and saved
Working on file SBOW
Success: File SBOW ammended and saved
Working on file SBPH
Success: File SBPH ammended and saved
Working on file SBRA
Success: File SBRA ammended and saved
Working on file SBSI
Success: File SBSI ammended and saved
Working on file SBT
Success: File SBT ammended and saved
Working on file SBUX
Success: File SBUX ammended and saved
Working on file SC
Success: File SC ammended and saved
Working on file SCHL
Success: File SCHL ammended and saved
Working on file SCHN
Success: File SCHN ammended and saved
Working on file SCHW

Success: File SCHW ammended and saved
Working on file SCI
Success: File SCI ammended and saved
Working on file SCL
Success: File SCL ammended and saved
Working on file SCON
Success: File SCON ammended and saved
Working on file SCOR
Success: File SCOR ammended and saved
Working on file SCPL
Success: File SCPL ammended and saved
Working on file SCS
Success: File SCS ammended and saved
Working on file SCSC
Success: File SCSC ammended and saved
Working on file SCVL
Success: File SCVL ammended and saved
Working on file SCWX
Success: File SCWX ammended and saved
Working on file SCX
Success: File SCX ammended and saved
Working on file SCYX
Success: File SCYX ammended and saved
Working on file SD
Success: File SD ammended and saved
Working on file SDPI
Success: File SDPI ammended and saved
Working on file SEAC
Success: File SEAC ammended and saved
Working on file SEAS
Success: File SEAS ammended and saved
Working on file SEB
Success: File SEB ammended and saved
Working on file SEDG
Success: File SEDG ammended and saved
Working on file SEE
Success: File SEE ammended and saved
Working on file SEIC
Success: File SEIC ammended and saved
Working on file SELB
Success: File SELB ammended and saved
Working on file SELF
Success: File SELF ammended and saved
Working on file SEM
Success: File SEM ammended and saved
Working on file SENEA
Success: File SENEA ammended and saved
Working on file SENEB
Success: File SENEB ammended and saved
Working on file SENS
Success: File SENS ammended and saved
Working on file SERV
Success: File SERV ammended and saved
Working on file SESN
Success: File SESN ammended and saved
Working on file SF
Success: File SF ammended and saved
Working on file SFBC
Success: File SFBC ammended and saved
Working on file SFBS
Success: File SFBS ammended and saved
Working on file SFE
Success: File SFE ammended and saved
Working on file SFIX
Success: File SFIX ammended and saved
Working on file SFM
Success: File SFM ammended and saved
Working on file SFNC
Success: File SFNC ammended and saved
Working on file SFST
Success: File SFST ammended and saved
Working on file SGA
Success: File SGA ammended and saved
Working on file SGC
Success: File SGC ammended and saved
Working on file SGEN
Success: File SGEN ammended and saved
Working on file SGH
Success: File SGH ammended and saved
Working on file SGMA
Success: File SGMA ammended and saved
Working on file SGMO
Success: File SGMO ammended and saved
Working on file SGMS
Success: File SGMS ammended and saved
Working on file SGRP
Success: File SGRP ammended and saved
Working on file SGRY
Success: File SGRY ammended and saved
Working on file SHAK
Success: File SHAK ammended and saved
Working on file SHBI
Success: File SHBI ammended and saved
Working on file SHEN
Success: File SHEN ammended and saved
Working on file SHLO
Success: File SHLO ammended and saved
Working on file SHO
Success: File SHO ammended and saved
Working on file SHOO
Success: File SHOO ammended and saved
Working on file SHSP
Success: File SHSP ammended and saved
Working on file SHW
Success: File SHW ammended and saved
Working on file SIBN
Success: File SIBN ammended and saved
Working on file SIEB
Success: File SIEB ammended and saved
Working on file SIEN
Success: File SIEN ammended and saved
Working on file SIF
Success: File SIF ammended and saved
Working on file SIG
Success: File SIG ammended and saved
Working on file SIGA
Success: File SIGA ammended and saved
Working on file SIGI
Success: File SIGI ammended and saved
Working on file SILK
Success: File SILK ammended and saved
Working on file SINT
Success: File SINT ammended and saved
Working on file SIRI
Success: File SIRI ammended and saved
Working on file SITC
Success: File SITC ammended and saved
Working on file SITE
Success: File SITE ammended and saved
Working on file SITO
Success: File SITO ammended and saved
Working on file SIVB
Success: File SIVB ammended and saved
Working on file SIX
Success: File SIX ammended and saved
Working on file SJI
Success: File SJI ammended and saved
Working on file SJM
Success: File SJM ammended and saved
Working on file SJW
Success: File SJW ammended and saved
Working on file SKT
Success: File SKT ammended and saved
Working on file SKX
Success: File SKX ammended and saved
Working on file SKY
Success: File SKY ammended and saved
Working on file SKYW
Success: File SKYW ammended and saved
Working on file SLAB
Success: File SLAB ammended and saved
Working on file SLB
Success: File SLB ammended and saved
Working on file SLCA
Success: File SLCA ammended and saved
Working on file SLCT
Success: File SLCT ammended and saved
Working on file SLDB
Success: File SLDB ammended and saved
Working on file SLG
Success: File SLG ammended and saved
Working on file SLGN
Success: File SLGN ammended and saved
Working on file SLM
Success: File SLM ammended and saved
Working on file SLNO
Success: File SLNO ammended and saved
Working on file SLP
Success: File SLP ammended and saved
Working on file SLS
Success: File SLS ammended and saved
Working on file SM
Success: File SM ammended and saved
Working on file SMAR
Success: File SMAR ammended and saved
Working on file SMBC
Success: File SMBC ammended and saved
Working on file SMBK
Success: File SMBK ammended and saved
Working on file SMED
Success: File SMED ammended and saved
Working on file SMG
Success: File SMG ammended and saved
Working on file SMIT
Success: File SMIT ammended and saved
Working on file SMMF
Success: File SMMF ammended and saved
Working on file SMP
Success: File SMP ammended and saved
Working on file SMPL
Success: File SMPL ammended and saved
Working on file SMRT
Success: File SMRT ammended and saved
Working on file SMSI
Success: File SMSI ammended and saved
Working on file SMTC
Success: File SMTC ammended and saved
Working on file SNA
Success: File SNA ammended and saved
Working on file SNAP
Success: File SNAP ammended and saved
Working on file SNBR
Success: File SNBR ammended and saved
Working on file SNCR
Success: File SNCR ammended and saved
Working on file SND
Success: File SND ammended and saved
Working on file SNDR
Success: File SNDR ammended and saved
Working on file SNDX
Success: File SNDX ammended and saved
Working on file SNFCA
Success: File SNFCA ammended and saved
Working on file SNOA
Success: File SNOA ammended and saved
Working on file SNPS
Success: File SNPS ammended and saved
Working on file SNR
Success: File SNR ammended and saved
Working on file SNSS
Success: File SNSS ammended and saved
Working on file SNV
Success: File SNV ammended and saved
Working on file SNX
Success: File SNX ammended and saved
Working on file SO
Success: File SO ammended and saved
Working on file SOHO
Success: File SOHO ammended and saved
Working on file SOI
Success: File SOI ammended and saved
Working on file SOLY
Success: File SOLY ammended and saved
Working on file SON
Success: File SON ammended and saved
Working on file SONA
Success: File SONA ammended and saved
Working on file SONO
Success: File SONO ammended and saved
Working on file SP
Success: File SP ammended and saved
Working on file SPB
Success: File SPB ammended and saved
Working on file SPG
Success: File SPG ammended and saved
Working on file SPGI
Success: File SPGI ammended and saved
Working on file SPKE
Success: File SPKE ammended and saved
Working on file SPLK
Success: File SPLK ammended and saved
Working on file SPN
Success: File SPN ammended and saved
Working on file SPNE
Success: File SPNE ammended and saved
Working on file SPOK
Success: File SPOK ammended and saved
Working on file SPPI
Success: File SPPI ammended and saved
Working on file SPR
Success: File SPR ammended and saved
Working on file SPRO
Success: File SPRO ammended and saved
Working on file SPRT
Success: File SPRT ammended and saved
Working on file SPSC
Success: File SPSC ammended and saved
Working on file SPTN
Success: File SPTN ammended and saved
Working on file SPWH
Success: File SPWH ammended and saved
Working on file SPWR
Success: File SPWR ammended and saved
Working on file SPXC
Success: File SPXC ammended and saved
Working on file SQ
Success: File SQ ammended and saved
Working on file SQBG
Success: File SQBG ammended and saved
Working on file SR
Success: File SR ammended and saved
Working on file SRC

Success: File SRC ammended and saved
Working on file SRCE
Success: File SRCE ammended and saved
Working on file SRCL
Success: File SRCL ammended and saved
Working on file SRDX
Success: File SRDX ammended and saved
Working on file SRE
Success: File SRE ammended and saved
Working on file SREV
Success: File SREV ammended and saved
Working on file SRG
Success: File SRG ammended and saved
Working on file SRI
Success: File SRI ammended and saved
Working on file SRNE
Success: File SRNE ammended and saved
Working on file SRPT
Success: File SRPT ammended and saved
Working on file SRRK
Success: File SRRK ammended and saved
Working on file SRT
Success: File SRT ammended and saved
Working on file SRTS
Success: File SRTS ammended and saved
Working on file SSB
Success: File SSB ammended and saved
Working on file SSBI
Success: File SSBI ammended and saved
Working on file SSD
Success: File SSD ammended and saved
Working on file SSKN
Success: File SSKN ammended and saved
Working on file SSNC
Success: File SSNC ammended and saved
Working on file SSP
Success: File SSP ammended and saved
Working on file SSTI
Success: File SSTI ammended and saved
Working on file SSTK
Success: File SSTK ammended and saved
Working on file ST
Success: File ST ammended and saved
Working on file STAA
Success: File STAA ammended and saved
Working on file STAG
Success: File STAG ammended and saved
Working on file STAR
Success: File STAR ammended and saved
Working on file STAY
Success: File STAY ammended and saved
Working on file STBA
Success: File STBA ammended and saved
Working on file STC
Success: File STC ammended and saved
Working on file STCN
Success: File STCN ammended and saved
Working on file STE
Success: File STE ammended and saved
Working on file STFC
Success: File STFC ammended and saved
Working on file STIM
Success: File STIM ammended and saved
Working on file STKS
Success: File STKS ammended and saved
Working on file STL
Success: File STL ammended and saved
Working on file STLD
Success: File STLD ammended and saved
Working on file STMP
Success: File STMP ammended and saved
Working on file STND
Success: File STND ammended and saved
Working on file STOR
Success: File STOR ammended and saved
Working on file STRA
Success: File STRA ammended and saved
Working on file STRL
Success: File STRL ammended and saved
Working on file STRM
Success: File STRM ammended and saved
Working on file STRS
Success: File STRS ammended and saved
Working on file STRT
Success: File STRT ammended and saved
Working on file STT
Success: File STT ammended and saved
Working on file STWD
Success: File STWD ammended and saved
Working on file STX
Success: File STX ammended and saved
Working on file STXB
Success: File STXB ammended and saved
Working on file STZ
Success: File STZ ammended and saved
Working on file SUI
Success: File SUI ammended and saved
Working on file SUM
Success: File SUM ammended and saved
Working on file SUMR
Success: File SUMR ammended and saved
Working on file SUNW
Success: File SUNW ammended and saved
Working on file SUP
Success: File SUP ammended and saved
Working on file SUPN
Success: File SUPN ammended and saved
Working on file SVBI
Success: File SVBI ammended and saved
Working on file SVMK
Success: File SVMK ammended and saved
Working on file SVRA
Success: File SVRA ammended and saved
Working on file SVT
Success: File SVT ammended and saved
Working on file SWAV
Success: File SWAV ammended and saved
Working on file SWCH
Success: File SWCH ammended and saved
Working on file SWK
Success: File SWK ammended and saved
Working on file SWKS
Success: File SWKS ammended and saved
Working on file SWM
Success: File SWM ammended and saved
Working on file SWN
Success: File SWN ammended and saved
Working on file SWX
Success: File SWX ammended and saved
Working on file SXC
Success: File SXC ammended and saved
Working on file SXI
Success: File SXI ammended and saved
Working on file SXT
Success: File SXT ammended and saved
Working on file SYBT
Success: File SYBT ammended and saved
Working on file SYBX
Success: File SYBX ammended and saved
Working on file SYF
Success: File SYF ammended and saved
Working on file SYK
Success: File SYK ammended and saved
Working on file SYKE
Success: File SYKE ammended and saved
Working on file SYN
Success: File SYN ammended and saved
Working on file SYNA
Success: File SYNA ammended and saved
Working on file SYNC
Success: File SYNC ammended and saved
Working on file SYNH
Success: File SYNH ammended and saved
Working on file SYNL
Success: File SYNL ammended and saved
Working on file SYPR
Success: File SYPR ammended and saved
Working on file SYRS
Success: File SYRS ammended and saved
Working on file SYX
Success: File SYX ammended and saved
Working on file SYY
Success: File SYY ammended and saved
Working on file T
Success: File T ammended and saved
Working on file TACO
Success: File TACO ammended and saved
Working on file TACT
Success: File TACT ammended and saved
Working on file TAIT
Success: File TAIT ammended and saved
Working on file TALO
Success: File TALO ammended and saved
Working on file TAP
Success: File TAP ammended and saved
Working on file TAST
Success: File TAST ammended and saved
Working on file TAT
Success: File TAT ammended and saved
Working on file TAYD
Success: File TAYD ammended and saved
Working on file TBBK
Success: File TBBK ammended and saved
Working on file TBI
Success: File TBI ammended and saved
Working on file TBIO
Success: File TBIO ammended and saved
Working on file TBK
Success: File TBK ammended and saved
Working on file TBNK
Success: File TBNK ammended and saved
Working on file TBPH
Success: File TBPH ammended and saved
Working on file TCBI
Success: File TCBI ammended and saved
Working on file TCBK
Success: File TCBK ammended and saved
Working on file TCDA
Success: File TCDA ammended and saved
Working on file TCF
Success: File TCF ammended and saved
Working on file TCFC
Success: File TCFC ammended and saved
Working on file TCI
Success: File TCI ammended and saved
Working on file TCMD
Success: File TCMD ammended and saved
Working on file TCO
Success: File TCO ammended and saved
Working on file TCON
Success: File TCON ammended and saved
Working on file TCS
Success: File TCS ammended and saved
Working on file TDC
Success: File TDC ammended and saved
Working on file TDG
Success: File TDG ammended and saved
Working on file TDOC
Success: File TDOC ammended and saved
Working on file TDS
Success: File TDS ammended and saved
Working on file TDW
Success: File TDW ammended and saved
Working on file TDY
Success: File TDY ammended and saved
Working on file TECD
Success: File TECD ammended and saved
Working on file TECH
Success: File TECH ammended and saved
Working on file TEL
Success: File TEL ammended and saved
Working on file TELL
Success: File TELL ammended and saved
Working on file TEN
Success: File TEN ammended and saved
Working on file TENB
Success: File TENB ammended and saved
Working on file TENX
Success: File TENX ammended and saved
Working on file TER
Success: File TER ammended and saved
Working on file TERP
Success: File TERP ammended and saved
Working on file TESS
Success: File TESS ammended and saved
Working on file TEUM
Success: File TEUM ammended and saved
Working on file TEX
Success: File TEX ammended and saved
Working on file TFSL
Success: File TFSL ammended and saved
Working on file TFX
Success: File TFX ammended and saved
Working on file TG
Success: File TG ammended and saved
Working on file TGEN
Success: File TGEN ammended and saved
Working on file TGI
Success: File TGI ammended and saved
Working on file TGLS
Success: File TGLS ammended and saved
Working on file TGNA
Success: File TGNA ammended and saved
Working on file TGT
Success: File TGT ammended and saved
Working on file TGTX
Success: File TGTX ammended and saved
Working on file THC
Success: File THC ammended and saved
Working on file THFF
Success: File THFF ammended and saved
Working on file THG
Success: File THG ammended and saved
Working on file THO
Success: File THO ammended and saved
Working on file THR
Success: File THR ammended and saved
Working on file THRM
Success: File THRM ammended and saved
Working on file THS
Success: File THS ammended and saved
Working on file TIF
Success: File TIF ammended and saved
Working on file TILE
Success: File TILE ammended and saved
Working on file TIPT
Success: File TIPT ammended and saved
Working on file TISI

Success: File TISI ammended and saved
Working on file TITN
Success: File TITN ammended and saved
Working on file TJX
Success: File TJX ammended and saved
Working on file TKR
Success: File TKR ammended and saved
Working on file TLF
Success: File TLF ammended and saved
Working on file TLGT
Success: File TLGT ammended and saved
Working on file TLRD
Success: File TLRD ammended and saved
Working on file TLYS
Success: File TLYS ammended and saved
Working on file TMDX
Success: File TMDX ammended and saved
Working on file TMHC
Success: File TMHC ammended and saved
Working on file TMO
Success: File TMO ammended and saved
Working on file TMP
Success: File TMP ammended and saved
Working on file TMST
Success: File TMST ammended and saved
Working on file TMUS
Success: File TMUS ammended and saved
Working on file TNAV
Success: File TNAV ammended and saved
Working on file TNC
Success: File TNC ammended and saved
Working on file TNDM
Success: File TNDM ammended and saved
Working on file TNET
Success: File TNET ammended and saved
Working on file TNXP
Success: File TNXP ammended and saved
Working on file TOL
Success: File TOL ammended and saved
Working on file TORC
Success: File TORC ammended and saved
Working on file TOWN
Success: File TOWN ammended and saved
Working on file TPB
Success: File TPB ammended and saved
Working on file TPC
Success: File TPC ammended and saved
Working on file TPH
Success: File TPH ammended and saved
Working on file TPHS
Success: File TPHS ammended and saved
Working on file TPIC
Success: File TPIC ammended and saved
Working on file TPR
Success: File TPR ammended and saved
Working on file TPRE
Success: File TPRE ammended and saved
Working on file TPTX
Success: File TPTX ammended and saved
Working on file TPX
Success: File TPX ammended and saved
Working on file TR
Success: File TR ammended and saved
Working on file TRC
Success: File TRC ammended and saved
Working on file TRCH
Success: File TRCH ammended and saved
Working on file TREC
Success: File TREC ammended and saved
Working on file TREE
Success: File TREE ammended and saved
Working on file TREX
Success: File TREX ammended and saved
Working on file TRGP
Success: File TRGP ammended and saved
Working on file TRHC
Success: File TRHC ammended and saved
Working on file TRIP
Success: File TRIP ammended and saved
Working on file TRMB
Success: File TRMB ammended and saved
Working on file TRMK
Success: File TRMK ammended and saved
Working on file TRN
Success: File TRN ammended and saved
Working on file TRNO
Success: File TRNO ammended and saved
Working on file TRNS
Success: File TRNS ammended and saved
Working on file TROW
Success: File TROW ammended and saved
Working on file TROX
Success: File TROX ammended and saved
Working on file TRS
Success: File TRS ammended and saved
Working on file TRST
Success: File TRST ammended and saved
Working on file TRT
Success: File TRT ammended and saved
Working on file TRTN
Success: File TRTN ammended and saved
Working on file TRTX
Success: File TRTX ammended and saved
Working on file TRU
Success: File TRU ammended and saved
Working on file TRUE
Success: File TRUE  ammended and saved
Working on file TRUP
Success: File TRUP ammended and saved
Working on file TRV
Success: File TRV ammended and saved
Working on file TRVN
Success: File TRVN ammended and saved
Working on file TRWH
Success: File TRWH ammended and saved
Working on file TRXC
Success: File TRXC ammended and saved
Working on file TSBK
Success: File TSBK ammended and saved
Working on file TSC
Success: File TSC ammended and saved
Working on file TSCO
Success: File TSCO ammended and saved
Working on file TSE
Success: File TSE ammended and saved
Working on file TSLA
Success: File TSLA ammended and saved
Working on file TSN
Success: File TSN ammended and saved
Working on file TSQ
Success: File TSQ ammended and saved
Working on file TTC
Success: File TTC ammended and saved
Working on file TTD
Success: File TTD ammended and saved
Working on file TTEC
Success: File TTEC ammended and saved
Working on file TTEK
Success: File TTEK ammended and saved
Working on file TTGT
Success: File TTGT ammended and saved
Working on file TTI
Success: File TTI ammended and saved
Working on file TTMI
Success: File TTMI ammended and saved
Working on file TTNP
Success: File TTNP ammended and saved
Working on file TTOO
Success: File TTOO ammended and saved
Working on file TTPH
Success: File TTPH ammended and saved
Working on file TTWO
Success: File TTWO ammended and saved
Working on file TUP
Success: File TUP ammended and saved
Working on file TUSK
Success: File TUSK ammended and saved
Working on file TVTY
Success: File TVTY ammended and saved
Working on file TW
Success: File TW ammended and saved
Working on file TWI
Success: File TWI ammended and saved
Working on file TWIN
Success: File TWIN ammended and saved
Working on file TWLO
Success: File TWLO ammended and saved
Working on file TWMC
Success: File TWMC ammended and saved
Working on file TWNK
Success: File TWNK ammended and saved
Working on file TWO
Success: File TWO ammended and saved
Working on file TWOU
Success: File TWOU ammended and saved
Working on file TWST
Success: File TWST ammended and saved
Working on file TWTR
Success: File TWTR ammended and saved
Working on file TXMD
Success: File TXMD ammended and saved
Working on file TXN
Success: File TXN ammended and saved
Working on file TXRH
Success: File TXRH ammended and saved
Working on file TXT
Success: File TXT ammended and saved
Working on file TYL
Success: File TYL ammended and saved
Working on file TYME
Success: File TYME ammended and saved
Working on file TZOO
Success: File TZOO ammended and saved
Working on file UA
Success: File UA ammended and saved
Working on file UAA
Success: File UAA ammended and saved
Working on file UAL
Success: File UAL ammended and saved
Working on file UAMY
Success: File UAMY ammended and saved
Working on file UBA
Success: File UBA ammended and saved
Working on file UBCP
Success: File UBCP ammended and saved
Working on file UBER
Success: File UBER ammended and saved
Working on file UBFO
Success: File UBFO ammended and saved
Working on file UBOH
Success: File UBOH ammended and saved
Working on file UBSI
Success: File UBSI ammended and saved
Working on file UCBI
Success: File UCBI ammended and saved
Working on file UCTT
Success: File UCTT ammended and saved
Working on file UDR
Success: File UDR ammended and saved
Working on file UE
Success: File UE ammended and saved
Working on file UEC
Success: File UEC ammended and saved
Working on file UEIC
Success: File UEIC ammended and saved
Working on file UFAB
Success: File UFAB ammended and saved
Working on file UFCS
Success: File UFCS ammended and saved
Working on file UFI
Success: File UFI ammended and saved
Working on file UFPI
Success: File UFPI ammended and saved
Working on file UFPT
Success: File UFPT ammended and saved
Working on file UFS
Success: File UFS ammended and saved
Working on file UG
Success: File UG ammended and saved
Working on file UGI
Success: File UGI ammended and saved
Working on file UHAL
Success: File UHAL ammended and saved
Working on file UHS
Success: File UHS ammended and saved
Working on file UHT
Success: File UHT ammended and saved
Working on file UIHC
Success: File UIHC ammended and saved
Working on file UIS
Success: File UIS ammended and saved
Working on file ULBI
Success: File ULBI ammended and saved
Working on file ULH
Success: File ULH ammended and saved
Working on file ULTA
Success: File ULTA ammended and saved
Working on file UMBF
Success: File UMBF ammended and saved
Working on file UMH
Success: File UMH ammended and saved
Working on file UMPQ
Success: File UMPQ ammended and saved
Working on file UNAM
Success: File UNAM ammended and saved
Working on file UNB
Success: File UNB ammended and saved
Working on file UNF
Success: File UNF ammended and saved
Working on file UNFI
Success: File UNFI ammended and saved
Working on file UNH
Success: File UNH ammended and saved
Working on file UNIT
Success: File UNIT ammended and saved
Working on file UNM
Success: File UNM ammended and saved
Working on file UNP
Success: File UNP ammended and saved
Working on file UNTY
Success: File UNTY ammended and saved
Working on file UNVR
Success: File UNVR ammended and saved
Working on file UONE
Success: File UONE ammended and saved
Working on file UONEK

Success: File UONEK ammended and saved
Working on file UPLD
Success: File UPLD ammended and saved
Working on file UPS
Success: File UPS ammended and saved
Working on file UPWK
Success: File UPWK ammended and saved
Working on file URBN
Success: File URBN ammended and saved
Working on file URI
Success: File URI ammended and saved
Working on file UROV
Success: File UROV ammended and saved
Working on file USAK
Success: File USAK ammended and saved
Working on file USAP
Success: File USAP ammended and saved
Working on file USAT
Success: File USAT ammended and saved
Working on file USB
Success: File USB ammended and saved
Working on file USCR
Success: File USCR ammended and saved
Working on file USEG
Success: File USEG ammended and saved
Working on file USFD
Success: File USFD ammended and saved
Working on file USIO
Success: File USIO ammended and saved
Working on file USLM
Success: File USLM ammended and saved
Working on file USM
Success: File USM ammended and saved
Working on file USNA
Success: File USNA ammended and saved
Working on file USPH
Success: File USPH ammended and saved
Working on file USWS
Success: File USWS ammended and saved
Working on file USX
Success: File USX ammended and saved
Working on file UTHR
Success: File UTHR ammended and saved
Working on file UTI
Success: File UTI ammended and saved
Working on file UTL
Success: File UTL ammended and saved
Working on file UTMD
Success: File UTMD ammended and saved
Working on file UUU
Success: File UUU ammended and saved
Working on file UVE
Success: File UVE ammended and saved
Working on file UVSP
Success: File UVSP ammended and saved
Working on file UVV
Success: File UVV ammended and saved
Working on file V
Success: File V ammended and saved
Working on file VAC
Success: File VAC ammended and saved
Working on file VAL
Success: File VAL ammended and saved
Working on file VALU
Success: File VALU ammended and saved
Working on file VAPO
Success: File VAPO ammended and saved
Working on file VAR
Success: File VAR ammended and saved
Working on file VBFC
Success: File VBFC ammended and saved
Working on file VBIV
Success: File VBIV ammended and saved
Working on file VBTX
Success: File VBTX ammended and saved
Working on file VC
Success: File VC ammended and saved
Working on file VCEL
Success: File VCEL ammended and saved
Working on file VCRA
Success: File VCRA ammended and saved
Working on file VCTR
Success: File VCTR ammended and saved
Working on file VCYT
Success: File VCYT ammended and saved
Working on file VEC
Success: File VEC ammended and saved
Working on file VECO
Success: File VECO ammended and saved
Working on file VEEV
Success: File VEEV ammended and saved
Working on file VER
Success: File VER ammended and saved
Working on file VERI
Success: File VERI ammended and saved
Working on file VERU
Success: File VERU ammended and saved
Working on file VFC
Success: File VFC ammended and saved
Working on file VG
Success: File VG ammended and saved
Working on file VGR
Success: File VGR ammended and saved
Working on file VHC
Success: File VHC ammended and saved
Working on file VIAV
Success: File VIAV ammended and saved
Working on file VICI
Success: File VICI ammended and saved
Working on file VICL
Success: File VICL ammended and saved
Working on file VICR
Success: File VICR ammended and saved
Working on file VIRC
Success: File VIRC ammended and saved
Working on file VIRT
Success: File VIRT ammended and saved
Working on file VISI
Success: File VISI ammended and saved
Working on file VISL
Success: File VISL ammended and saved
Working on file VIVO
Success: File VIVO ammended and saved
Working on file VKTX
Success: File VKTX ammended and saved
Working on file VLGEA
Success: File VLGEA ammended and saved
Working on file VLO
Success: File VLO ammended and saved
Working on file VLY
Success: File VLY ammended and saved
Working on file VMC
Success: File VMC ammended and saved
Working on file VMI
Success: File VMI ammended and saved
Working on file VMW
Success: File VMW ammended and saved
Working on file VNCE
Success: File VNCE ammended and saved
Working on file VNDA
Success: File VNDA ammended and saved
Working on file VNE
Success: File VNE ammended and saved
Working on file VNO
Success: File VNO ammended and saved
Working on file VNRX
Success: File VNRX ammended and saved
Working on file VNTR
Success: File VNTR ammended and saved
Working on file VOXX
Success: File VOXX ammended and saved
Working on file VOYA
Success: File VOYA ammended and saved
Working on file VPG
Success: File VPG ammended and saved
Working on file VRA
Success: File VRA ammended and saved
Working on file VRAY
Success: File VRAY ammended and saved
Working on file VREX
Success: File VREX ammended and saved
Working on file VRML
Success: File VRML ammended and saved
Working on file VRNS
Success: File VRNS ammended and saved
Working on file VRNT
Success: File VRNT ammended and saved
Working on file VRRM
Success: File VRRM ammended and saved
Working on file VRS
Success: File VRS ammended and saved
Working on file VRSK
Success: File VRSK ammended and saved
Working on file VRSN
Success: File VRSN ammended and saved
Working on file VRTS
Success: File VRTS ammended and saved
Working on file VRTU
Success: File VRTU ammended and saved
Working on file VRTV
Success: File VRTV ammended and saved
Working on file VRTX
Success: File VRTX ammended and saved
Working on file VSAT
Success: File VSAT ammended and saved
Working on file VSEC
Success: File VSEC ammended and saved
Working on file VSH
Success: File VSH ammended and saved
Working on file VSI
Success: File VSI ammended and saved
Working on file VSLR
Success: File VSLR ammended and saved
Working on file VST
Success: File VST ammended and saved
Working on file VSTM
Success: File VSTM ammended and saved
Working on file VSTO
Success: File VSTO ammended and saved
Working on file VTNR
Success: File VTNR ammended and saved
Working on file VTR
Success: File VTR ammended and saved
Working on file VTVT
Success: File VTVT ammended and saved
Working on file VUZI
Success: File VUZI ammended and saved
Working on file VVI
Success: File VVI ammended and saved
Working on file VVUS
Success: File VVUS ammended and saved
Working on file VVV
Success: File VVV ammended and saved
Working on file VXRT
Success: File VXRT ammended and saved
Working on file VYGR
Success: File VYGR ammended and saved
Working on file VZ
Success: File VZ ammended and saved
Working on file W
Success: File W ammended and saved
Working on file WAB
Success: File WAB ammended and saved
Working on file WABC
Success: File WABC ammended and saved
Working on file WAFD
Success: File WAFD ammended and saved
Working on file WAIR
Success: File WAIR ammended and saved
Working on file WAL
Success: File WAL ammended and saved
Working on file WASH
Success: File WASH ammended and saved
Working on file WAT
Success: File WAT ammended and saved
Working on file WATT
Success: File WATT ammended and saved
Working on file WBA
Success: File WBA ammended and saved
Working on file WBC
Success: File WBC ammended and saved
Working on file WBS
Success: File WBS ammended and saved
Working on file WBT
Success: File WBT ammended and saved
Working on file WCC
Success: File WCC ammended and saved
Working on file WCG
Success: File WCG ammended and saved
Working on file WD
Success: File WD ammended and saved
Working on file WDAY
Success: File WDAY ammended and saved
Working on file WDC
Success: File WDC ammended and saved
Working on file WDFC
Success: File WDFC ammended and saved
Working on file WDR
Success: File WDR ammended and saved
Working on file WEBK
Success: File WEBK ammended and saved
Working on file WEC
Success: File WEC ammended and saved
Working on file WELL
Success: File WELL ammended and saved
Working on file WEN
Success: File WEN ammended and saved
Working on file WERN
Success: File WERN ammended and saved
Working on file WETF
Success: File WETF ammended and saved
Working on file WEX
Success: File WEX ammended and saved
Working on file WEYS
Success: File WEYS ammended and saved
Working on file WFC
Success: File WFC ammended and saved
Working on file WGO
Success: File WGO ammended and saved
Working on file WH
Success: File WH ammended and saved
Working on file WHD
Success: File WHD ammended and saved
Working on file WHG
Success: File WHG ammended and saved
Working on file WHLM
Success: File WHLM ammended and saved
Working on file WHLR

Success: File WHLR ammended and saved
Working on file WHR
Success: File WHR ammended and saved
Working on file WIFI
Success: File WIFI ammended and saved
Working on file WINA
Success: File WINA ammended and saved
Working on file WING
Success: File WING ammended and saved
Working on file WIRE
Success: File WIRE ammended and saved
Working on file WK
Success: File WK ammended and saved
Working on file WKHS
Success: File WKHS ammended and saved
Working on file WLDN
Success: File WLDN ammended and saved
Working on file WLFC
Success: File WLFC ammended and saved
Working on file WLH
Success: File WLH ammended and saved
Working on file WLK
Success: File WLK ammended and saved
Working on file WLL
Success: File WLL ammended and saved
Working on file WLTW
Success: File WLTW ammended and saved
Working on file WM
Success: File WM ammended and saved
Working on file WMB
Success: File WMB ammended and saved
Working on file WMC
Success: File WMC ammended and saved
Working on file WMGI
Success: File WMGI ammended and saved
Working on file WMK
Success: File WMK ammended and saved
Working on file WMS
Success: File WMS ammended and saved
Working on file WMT
Success: File WMT ammended and saved
Working on file WNC
Success: File WNC ammended and saved
Working on file WNEB
Success: File WNEB ammended and saved
Working on file WOR
Success: File WOR ammended and saved
Working on file WOW
Success: File WOW ammended and saved
Working on file WPC
Success: File WPC ammended and saved
Working on file WPG
Success: File WPG ammended and saved
Working on file WPX
Success: File WPX ammended and saved
Working on file WRB
Success: File WRB ammended and saved
Working on file WRE
Success: File WRE ammended and saved
Working on file WRI
Success: File WRI ammended and saved
Working on file WRK
Success: File WRK ammended and saved
Working on file WRLD
Success: File WRLD ammended and saved
Working on file WRTC
Success: File WRTC ammended and saved
Working on file WSBC
Success: File WSBC ammended and saved
Working on file WSBF
Success: File WSBF ammended and saved
Working on file WSC
Success: File WSC ammended and saved
Working on file WSFS
Success: File WSFS ammended and saved
Working on file WSM
Success: File WSM ammended and saved
Working on file WSO
Success: File WSO ammended and saved
Working on file WSR
Success: File WSR ammended and saved
Working on file WST
Success: File WST ammended and saved
Working on file WSTG
Success: File WSTG ammended and saved
Working on file WSTL
Success: File WSTL ammended and saved
Working on file WTBA
Success: File WTBA ammended and saved
Working on file WTFC
Success: File WTFC ammended and saved
Working on file WTI
Success: File WTI ammended and saved
Working on file WTM
Success: File WTM ammended and saved
Working on file WTRH
Success: File WTRH ammended and saved
Working on file WTS
Success: File WTS ammended and saved
Working on file WTT
Success: File WTT ammended and saved
Working on file WTTR
Success: File WTTR ammended and saved
Working on file WU
Success: File WU ammended and saved
Working on file WVE
Success: File WVE ammended and saved
Working on file WVFC
Success: File WVFC ammended and saved
Working on file WVVI
Success: File WVVI ammended and saved
Working on file WW
Success: File WW ammended and saved
Working on file WWD
Success: File WWD ammended and saved
Working on file WWE
Success: File WWE ammended and saved
Working on file WWR
Success: File WWR ammended and saved
Working on file WWW
Success: File WWW ammended and saved
Working on file WY
Success: File WY ammended and saved
Working on file WYND
Success: File WYND ammended and saved
Working on file WYNN
Success: File WYNN ammended and saved
Working on file WYY
Success: File WYY ammended and saved
Working on file X
Success: File X ammended and saved
Working on file XAN
Success: File XAN ammended and saved
Working on file XBIT
Success: File XBIT ammended and saved
Working on file XEC
Success: File XEC ammended and saved
Working on file XEL
Success: File XEL ammended and saved
Working on file XELA
Success: File XELA ammended and saved
Working on file XELB
Success: File XELB ammended and saved
Working on file XENT
Success: File XENT ammended and saved
Working on file XERS
Success: File XERS ammended and saved
Working on file XFOR
Success: File XFOR ammended and saved
Working on file XHR
Success: File XHR ammended and saved
Working on file XLNX
Success: File XLNX ammended and saved
Working on file XLRN
Success: File XLRN ammended and saved
Working on file XNCR
Success: File XNCR ammended and saved
Working on file XOG
Success: File XOG ammended and saved
Working on file XOM
Success: File XOM ammended and saved
Working on file XOMA
Success: File XOMA ammended and saved
Working on file XONE
Success: File XONE ammended and saved
Working on file XPER
Success: File XPER ammended and saved
Working on file XPL
Success: File XPL ammended and saved
Working on file XPO
Success: File XPO ammended and saved
Working on file XRAY
Success: File XRAY ammended and saved
Working on file XRX
Success: File XRX ammended and saved
Working on file XSPA
Success: File XSPA ammended and saved
Working on file XTNT
Success: File XTNT ammended and saved
Working on file XXII
Success: File XXII ammended and saved
Working on file XYL
Success: File XYL ammended and saved
Working on file Y
Success: File Y ammended and saved
Working on file YELP
Success: File YELP ammended and saved
Working on file YETI
Success: File YETI ammended and saved
Working on file YEXT
Success: File YEXT ammended and saved
Working on file YMAB
Success: File YMAB ammended and saved
Working on file YORW
Success: File YORW ammended and saved
Working on file YRCW
Success: File YRCW ammended and saved
Working on file YTEN
Success: File YTEN ammended and saved
Working on file YUM
Success: File YUM ammended and saved
Working on file YUMA
Success: File YUMA ammended and saved
Working on file Z
Success: File Z ammended and saved
Working on file ZAGG
Success: File ZAGG ammended and saved
Working on file ZAYO
Success: File ZAYO ammended and saved
Working on file ZBH
Success: File ZBH ammended and saved
Working on file ZBRA
Success: File ZBRA ammended and saved
Working on file ZDGE
Success: File ZDGE ammended and saved
Working on file ZEN
Success: File ZEN ammended and saved
Working on file ZEUS
Success: File ZEUS ammended and saved
Working on file ZFGN
Success: File ZFGN ammended and saved
Working on file ZG
Success: File ZG ammended and saved
Working on file ZGNX
Success: File ZGNX ammended and saved
Working on file ZION
Success: File ZION ammended and saved
Working on file ZIOP
Success: File ZIOP ammended and saved
Working on file ZIXI
Success: File ZIXI ammended and saved
Working on file ZM
Success: File ZM ammended and saved
Working on file ZN
Success: File ZN ammended and saved
Working on file ZNGA
Success: File ZNGA ammended and saved
Working on file ZS
Success: File ZS ammended and saved
Working on file ZSAN
Success: File ZSAN ammended and saved
Working on file ZTS
Success: File ZTS ammended and saved
Working on file ZUMZ
Success: File ZUMZ ammended and saved
Working on file ZUO
Success: File ZUO ammended and saved
Working on file ZVO
Success: File ZVO ammended and saved
Working on file ZYNE
Success: File ZYNE ammended and saved
Working on file ZYXI
Success: File ZYXI ammended and saved

In [24]:
print(ticker)
new_df.head()

ZYXI

,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return,cum_return,middle_band,upper_band,lower_band,Lagging,Baseline,Conversion,SpanA,SpanB
Date,,,,,,,,,,,,,,,,,
2017-07-03,0.525223,0.542729,0.498961,0.533976,10340,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.656528,NaN,NaN,NaN,NaN
2017-07-05,0.533976,0.542729,0.533976,0.542729,16280,0.0,0.0,0.016394,1.016394,NaN,NaN,NaN,0.691543,NaN,NaN,NaN,NaN
2017-07-06,0.560237,0.647774,0.542729,0.630266,75680,0.0,0.0,0.161290,1.180328,NaN,NaN,NaN,0.709051,NaN,NaN,NaN,NaN
2017-07-07,0.621514,0.630266,0.612760,0.621514,27830,0.0,0.0,-0.013888,1.163936,NaN,NaN,NaN,0.962908,NaN,NaN,NaN,NaN
2017-07-10,0.621514,0.639020,0.612760,0.639020,18260,0.0,0.0,0.028168,1.196722,NaN,NaN,NaN,0.954154,NaN,NaN,NaN,NaN